<h4 class="ui dividing header">Melder</h4>
<div class="ui info message">
  Hier geeft u aan wie het beveiligingsincident of datalek heeft gemeld.
</div>
<div class="field">
  <label>Naam melder</label>
  <input type="text" name="securityIncident[reporterName]" value="<%=securityIncident.reporterName%>">
</div>
<div class="field">
  <label>Adres</label>
      <div class="fields">
        <div class="twelve wide field">
          <input type="text" name="securityIncident[reporterOrganisationAddress]"  
                  value="<%=securityIncident.reporterOrganisationAddress%>">
        </div>
        <div class="four wide field">
          <input type="text" name="securityIncident[reporterOrganisationAddressNumber]"  
                  value="<%=securityIncident.reporterOrganisationAddressNumber%>">
        </div>
      </div>
</div>
<div class="field">
  <label>Postcode en Plaatsnaam</label>
      <div class="fields">
          <div class="four wide field">
              <input type="text" name="securityIncident[reporterOrganisationPostalCode]"  
                      value="<%=securityIncident.reporterOrganisationPostalCode %>">
          </div>
          <div class="twelve wide field">
              <input type="text" name="securityIncident[reporterOrganisationCity]"  value="<%=securityIncident.reporterOrganisationCity%>">
          </div>
      </div>
</div>
<div class="field">
  <label>Contactgegevens</label>
      <div class="fields">
          <div class="four wide field">
              <input type="text" name="securityIncident[reporterOrganisationPhoneNumber]"  
                    value="<%=securityIncident.reporterOrganisationPhoneNumber%>">
          </div>
          <div class="twelve wide field">
              <input type="text" name="securityIncident[reporterOrganisationEmail]" 
                  value="<%=securityIncident.reporterOrganisationEmail%>">
          </div>
      </div>
</div>