<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
  
  <h2 class="ui center aligned header">
      <div>Pillars Admin</div>
  </h2>
  
   <table class="ui celled small table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Organisatie</th>
          <th>Job</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
            <tr>
              <td><%= user.username %></td>
              <td><%= user.firstName %></td>
              <td><%= user.lastName %></td>
              <td><%= user.organisation.name %></td>
              <td><%= user.job %></td>
            </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<% include ../partials/footer %>
