<% include ../partials/school/header %>
<% include ../partials/school/side-header %>


      <h2 class="ui header"><i class="users icon"></i></i>School Administrators van <%= school.instellingsnaam %></h2>
        <h4><a href="/scholen/<%=school._id%>/admin/new/"><i class="add user icon"></i> School Administrator Toevoegen</a></h4>
        <div class="ui cards">
          <!--make a card for each School Adminstrator-->
          <% school.admin.forEach(function(admin){ %>
          <div class="card">
            <div class="content">
              <div class="header"><%=admin.firstName %> <%=admin.lastName %></div>
              <div class="description">
                    <%=admin.username%>
                    <p><%=admin.role %></p>
              </div>
            </div>
            <div class="ui bottom attached button">
              <form id="delete" 
                  action="/scholen/<%= school._id %>/admin/<%=admin.username%>?_method=DELETE" method="POST">
                  <button class="ui red basic button">Verwijderen</button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>

  
<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>
