<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
  
  <h2 class="ui center aligned header">
      <div>Pillars Admin</div>
  </h2>
  
   <table class="ui celled small table">
      <thead>
        <tr>
          <th>Instellingsnaam</th>
          <th>Eigenaar record</th>
          <th>Plaatsnaam</th>
          <th>Leerlingen</th>
          <th>Algemene info</th>
          <th>Hardware</th>
          <th>Digitale Leermiddelen</th>
          <th>Deskundigheid</th>
          <th>Organisatie</th>
          <th>Medewerkers</th>
        </tr>
      </thead>
      <tbody>
        <% schools.forEach(function(school){ %>
            <tr>
              <td><a href="/schools/<%=school._id%>"><%=school.name%></a></td>
              <td> <%if(school.owner){%> <%=school.owner.firstName%> <%=school.owner.lastName %> <%}%></td>
              <td><%=school.city%></td>
              <td class="right aligned <% if(school.countStudents){ %> positive <% } else { %> negative <% } %>" ><%=school.countStudents%></td>
              <td class="center aligned"><% if(school.countStudents){ %> <i class="large green checkmark icon"></i> <% } %> </td>
              <td class="center aligned"><% if(school.hardware && school.hardware.length>0){ %> <i class="large green checkmark icon"></i> <% } %> </td>
              <td class="center aligned"><% if(school.software && school.software.length>0){ %> <i class="large green checkmark icon"></i> <% } %> </td>
              <td class="center aligned"><% if(school.surveyResults && school.surveyResults.length>0){ %> <i class="large green checkmark icon"></i> <% } %> </td>
              <td class="center aligned"><% if(school.management.roles[0].hours>0){ %> <i class="large green checkmark icon"></i> <% } %> </td>
              <td class="center aligned"><% if(school.users && school.users.length>0){ %> <i class="large green checkmark icon"></i> <% } %> </td>
            </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<% include ../partials/footer %>