<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/admin-header %>

  
  <h2 class="ui center aligned header">
      <div>Organisaties</div>
  </h2>
  <a class="ui yellow button right" href="/organisation/new">Organisatie Toevoegen</a>
  <div class="ui divider"></div>
   
   <table class="ui celled small table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Adres</th>
          <th>Postcode</th>
          <th>Plaatsnaam</th>
          <th>Land</th>
          <th>Activatiecode</th>
          <th>Verwijderen</th>
        </tr>
      </thead>
      <tbody>
        <% organisations.forEach(function(organisation){ %>
            <tr>
              <td><a href="/organisations/<%=organisation._id%>"><%=organisation.name%></a></td>
              <td><%=organisation.address%></td>
              <td><%=organisation.postalCode%></td>
              <td><%=organisation.city%></td>
              <td><%=organisation.country%></td>
              <td><%=organisation.activationCode%></td>
              <td><form id="delete" action="/organisation/<%= organisation._id %>?_method=DELETE" method="POST">
                      <button class="ui mini red basic button">Verwijderen</button>
                  </form></td>
            </tr>
        <% }) %>
      </tbody>
    </table>

<% include ../partials/admin-footer %>
<% include ../partials/footer %>