<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>


<% include ./header %>

<% if(result.errors && result.errors.length > 0) { %>
  <div class="ui red message">
    Deze pagina maakt gebruik van Pillars score berekening. Er zijn fouten gevonden in de berekening:
    <ul>
    <%result.errors.forEach(function(errorMessage){%>
      <li><%=errorMessage%></li>
    <%})%>
    </ul>
  </div>
<% } %>

<h2 class="ui header">
  <i class="desktop icon"></i>
  <div class="content">
    Computers
    <div class="sub header">Budget op basis van 520 euro per computer</div>
  </div>
</h2>
<div class="ui small statistics">
  <div class="statistic">
    <div class="value">
      <%=result.hardware.goodComputers%>
    </div>
    <div class="label">
      Goed
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.requiredComputers%>
    </div>
    <div class="label">
      Norm
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.missingComputers%>
    </div>
    <div class="label">
      Ontbrekend
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="euro sign icon"></i> <%=(result.hardware.missingComputers * 520).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
    </div>
    <div class="label">
      Budget
    </div>
  </div>
</div>

<div class="ui divider"></div>

<h2 class="ui header">
  <i class="tv icon"></i>
  <div class="content">
    Digitale schoolborden
    <div class="sub header">Budget op basis van 3550 euro per digitaal schoolbord</div>
  </div>
</h2>
<div class="ui small statistics">
  <div class="statistic">
    <div class="value">
      <%=result.hardware.goodDigitalSchoolbords%>
    </div>
    <div class="label">
      Goed
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.requiredDigitalSchoolbords%>
    </div>
    <div class="label">
      Norm
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.missingDigitalSchoolbords%>
    </div>
    <div class="label">
      Ontbrekend
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="euro sign icon"></i> <%=(result.hardware.missingDigitalSchoolbords * 3550).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
    </div>
    <div class="label">
      Budget
    </div>
  </div>
</div>

<div class="ui divider"></div>

<h2 class="ui header">
  <i class="laptop icon"></i>
  <div class="content">
    Laptops
    <div class="sub header">Budget op basis van 520 euro per laptop</div>
  </div>
</h2>
<div class="ui small statistics">
  <div class="statistic">
    <div class="value">
      <%=result.hardware.goodLaptops%>
    </div>
    <div class="label">
      Goed
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.requiredLaptops%>
    </div>
    <div class="label">
      Norm
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%=result.hardware.missingLaptops%>
    </div>
    <div class="label">
      Ontbrekend
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="euro sign icon"></i> <%=(result.hardware.missingLaptops * 520).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")%>
    </div>
    <div class="label">
      Budget
    </div>
  </div>
</div>

<div class="ui divider"></div>
<h2 class="ui header">
  <i class="euro sign icon"></i>
  <div class="content">
    Activa
    <div class="sub header">Overzicht activa met kosten en afschrijving voor hardware</div>
  </div>
</h2>

<div class="ui segment">
  <!--make a table for each type of hardware-->
  <% config.types.forEach(function(type){ %>
  <% if(school.hardware.map(a => a.type).includes(type.singular)) { %>
  <div class="ui header"><%=type.plural%></div>
  <a id="<%=type.singular%>">
     <table class="ui celled small table hardware-table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Merk</th>
          <th>Jaar ingebruikname</th>
          <th>Kosten</th>
          <th>Afschrijvingsperiode</th>
          <th>Afschrijving per jaar</th>
          <th>Afgeschreven in jaar</th>
        </tr>
      </thead>
      <% } %>
      <tbody>
        <% school.hardware.forEach(function(hardware){ %>
        <% if(type.singular === hardware.type) { %>
        <tr <% if(hardware.isDepreciated) { %> class="negative" <% } %> >
              <td class="selectable">
                <a href="/schools/<%=school._id%>/hardware/<%=hardware._id%>/edit"><%=hardware.name%></a>
              </td>
              <td><%=hardware.brand%></td>
              <td><%=hardware.deploymentYear%></td>
              <td>€ <%= hardware.cost %></td>
              <td><%= hardware.depreciationPeriod %> <%if(hardware.depreciationPeriod) {%>  jaar <%}%></td>
              <td><%if(hardware.cost && hardware.depreciationPeriod) {%> € <%= Math.round(hardware.cost / hardware.depreciationPeriod) %> <%}%></td>
              <td><%if(hardware.cost && hardware.depreciationPeriod) {%><%= hardware.depreciationPeriod + hardware.deploymentYear %> <%}%></td>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
  <% }); %>
</div>



<% include ../partials/school-footer %>
<% include ../partials/footer %>

