<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>
    
    <h2 class="ui header"><%= hardware.type %> Bewerken voor <%= school.name %></h2>
    <div id="hardwareForm"></div>
    <div id="schoolId" hidden><%= school._id%></div>
    <div id="hardwareData" hidden><%=JSON.stringify(hardware)%></div>
    <div id="isEdit" hidden>true</div>
    <div id="mode" hidden><%= mode %></div>
    <div id="formsCSS" hidden><%= JSON.stringify(formsCSS) %></div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>