<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
    
    <h2 class="ui header"><i class="desktop icon"></i></i><%= hardware.type %> - <%= hardware.name %></h2>
    <div id="hardwareForm"></div>
    <div id="hardwareData" hidden><%=JSON.stringify(hardware)%></div>
    <div id="isEdit" hidden>true</div>
    <div id="mode" hidden><%= mode %></div>
    <div id="formsCSS" hidden><%= JSON.stringify(formsCSS) %></div>

<% include ../partials/footer %>