<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>
    
    <h2 class="ui header"><%= hardware.type %> Bewerken voor <%= school.name %></h2>
    <div class="ui divider"></div>
    <form class="ui form" action="/schools/<%=school._id%>/hardware/<%=hardware._id%>?_method=PUT" method="POST" id="hardwareForm" novalidate>
        <div class="two fields">
          <div class="required field">
              <label>Naam</label>
              <input type="text" name="hardware[name]" value="<%=hardware.name%>" id="hardware[name]">
          </div>
          <div class="required field">
              <label>Type</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="hardware[type]" id="dropdown" value="<%=hardware.type%>">
                  <div class="text"><%=hardware.type%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <% config.types.forEach(function(type){%>
                        <div class="item <%if(type.singular===hardware.type){%>active<%}%>"
                            data-value="<%=type.singular%>"
                          <% if(type.singular===hardware.type){ %> selected="" <% } %> >
                              <%=type.singular%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
        </div>
        <div class="field">
            <div class="fields">
                <div class="four wide field">
                    <label>Merk</label>
                    <input type="text" name="hardware[brand]" value="<%=hardware.brand%>">
                </div>
                <div class="twelve wide field">
                    <label>Model</label>
                    <input type="text" name="hardware[model]" value="<%=hardware.model%>">
                </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
                <div class="four wide field">
                    <label>Serial/Tag number</label>
                    <input type="text" name="hardware[serialTag]" value="<%=hardware.serialTag%>">
                </div>
                <div class="six wide field">
                    <label>Processor</label>
                    <input type="text" name="hardware[processor]" value="<%=hardware.processor%>">
                </div>
                <% if(hardware.type==="Desktop"||hardware.type==="Multipoint computer"||hardware.type==="Laptop") { %>
                    <div class="four wide field required">
                        <label>Werkgeheugen (GB)</label>
                        <input type="number" name="hardware[memory]" value="<%=hardware.memory%>" id="hardware[memory]">
                    </div>
                <% } %>
                <div class="four wide field required">
                    <label>Jaar van ingebruikname</label>
                    <input type="number" name="hardware[deploymentYear]" value="<%=hardware.deploymentYear%>" id="hardware[deploymentYear]">
                </div>
            </div>
          </div>
          <% if(hardware.type === "Multipoint computer") { %>
              <div class="six wide required field">
                  <label>Aantal multipoint werkplekken</label>
                  <input type="number" name="hardware[numberWorkPlacesMultipoint]" value="<%=hardware.numberWorkPlacesMultipoint%>" id="hardware[numberWorkPlacesMultipoint]">
              </div>
          <% } %>
          <% if(hardware.type === "Digitaal schoolbord") { %>
              <div class="inline fields">
                <label>Heeft Touchscreen Beeldscherm</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input 
                          type="radio" 
                          name="hardware[isTouchscreenDigibord]" 
                          value="0" 
                          <% if(!hardware.isTouchscreenDigibord) { %>checked="checked"<% } %>>
                    <label>Nee</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input 
                          type="radio" 
                          name="hardware[isTouchscreenDigibord]" 
                          value="1"
                          <% if(hardware.isTouchscreenDigibord) { %>checked="checked"<% } %>>
                    <label>Ja</label>
                  </div>
                </div>
              </div>
              <div class="four wide field">
                  <label>Beelddiagonaal in inch</label>
                  <input type="number" name="hardware[screensizeDigibord]" value="<%=hardware.screensizeDigibord%>">
              </div>
          <% } %>
          <div class="two fields">
            <div class="field">
              <label>Leverancier</label>
              <input type="text" name="hardware[supplier]" value="<%=hardware.supplier%>">
            </div>
            <div class="field">
              <label>Garantievorm</label>
              <input type="text" name="hardware[warranty]" value="<%=hardware.warranty%>">
            </div>
          </div>
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
    </form>

<% include ../partials/school-footer %>
<% include ../partials/footer %>