<% include ../partials/school/header %>
<% include ../partials/school/side-header %>
    
    <h2 class="ui top attached header"><%= hardware.type %> Bewerken voor <%= school.instellingsnaam %></h2>
    <form class="ui form" action="/scholen/<%=school._id%>/hardware/<%=hardware._id%>?_method=PUT" method="POST" id="hardwareForm" novalidate>
        <div class="two fields">
          <div class="required field">
              <label>Naam</label>
              <input type="text" name="hardware[naam]" value="<%=hardware.naam%>" id="hardware[naam]">
          </div>
          <div class="required field">
              <label>Type</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="hardware[type]" id="dropdown">
                  <div class="text">Type Hardware</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <% global.hardwareTypes.forEach(function(type){%>
                        <div class="item <%if(type.enkelvoud===hardware.type){%>active<%}%>" 
                          data-value="<%=type.enkelvoud%>"
                          <%if(type.enkelvoud===hardware.type){%>selected<%}%>>
                              <%=type.enkelvoud%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
        </div>
        <div class="field">
            <div class="fields">
                <div class="four wide field">
                    <label>Merk</label>
                    <input type="text" name="hardware[merk]" value="<%=hardware.merk%>">
                </div>
                <div class="twelve wide field">
                    <label>Model</label>
                    <input type="text" name="hardware[model]" value="<%=hardware.model%>">
                </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
                <div class="four wide field">
                    <label>Serial/Tag number</label>
                    <input type="text" name="hardware[serialTag]" value="<%=hardware.serialTag%>">
                </div>
                <div class="six wide field">
                    <label>Processor</label>
                    <input type="text" name="hardware[processor]" value="<%=hardware.processor%>">
                </div>
                <% if(hardware.type==="Desktop"||hardware.type==="Multipoint computer"||hardware.type==="Laptop") { %>
                    <div class="six wide field required">
                        <label>Werkgeheugen (GB)</label>
                        <input type="number" name="hardware[werkgeheugen]" value="<%=hardware.werkgeheugen%>" id="hardware[werkgeheugen]">
                    </div>
                <% } else { %>
                    <div class="six wide field required">
                        <label>Jaar van ingebruikname</label>
                        <input type="number" name="hardware[jaarIngebruikname]" value="<%=hardware.jaarIngebruikname%>" id="hardware[jaarIngebruikname]">
                    </div>
                <% } %>
            </div>
          </div>
          <% if(hardware.type === "Multipoint computer") { %>
              <div class="six wide required field">
                  <label>Aantal multipoint werkplekken</label>
                  <input type="number" name="hardware[aantalWerkplekkenMultipoint]" value="<%=hardware.aantalWerkplekkenMultipoint%>" id="hardware[aantalWerkplekkenMultipoint]">
              </div>
          <% } %>
          <% if(hardware.type === "Digitaal schoolbord") { %>
              <div class="inline field">
                <div class="ui toggle checkbox">
                  <input type="hidden" value="0" name="hardware[isTouchscreenDigibord]">
                  <input 
                    type="checkbox" 
                    name="hardware[isTouchscreenDigibord]"
                    <% if(hardware.isTouchscreenDigibord) { %>
                      checked="checked"
                    <% } %>
                  >
                  <label>Heeft Touchscreen Beeldscherm</label>
                </div>
              </div>
              <div class="four wide field">
                  <label>Beelddiagonaal in inch</label>
                  <input type="number" name="hardware[schermgrootteDigibord]" value="<%=hardware.schermgrootteDigibord%>">
              </div>
          <% } %>
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
    </form>

<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>