<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div class="ui three doubling cards">
  <!--make a card for each type of hardware-->
  <% trackedHardware.forEach(function(type){ %>
  <div class="ui card">
    <div class="content">
      <div class="header"><%=type.plural%></div>
    </div>
    <div class="content">
      <h4 class="ui sub header">
        Totaal aantal apparaten: <%= type.count %>
      </h4>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
               Te weinig geheugen: <%= type.countLowSpecifications%>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               Afgeschreven: <%= type.countDepreciated%>
            </div>
          </div>
        </div>
        <div class="event">
          <div class="content">
            <div class="summary">
               Volgend jaar afgeschreven: <%= type.countDepreciatedNextYear%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <a class="ui button <%if(type.count===0){%> disabled <%}%>" href="/schools/<%=school._id%>/hardware/list/#<%=type.singular%>">Bekijk lijst</a>
    </div>
  </div>
  <% }); %>
</div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>

