<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(typeof school !== 'undefined'){%>
  <% include ../partials/school-header %>
  <% include ./header  %>
<%} else if(typeof organisation !== 'undefined'){%>
  <% include ../partials/organisation-header %>
  <%- include('../overview/hardware-header')  %>
<%}%>

<% if(typeof result !=="undefined" && result.errors && result.errors.length === 0) { %>
  <div class="ui three column stackable grid">
    <div class="column">
       <h2 class="ui header">
        <i class="desktop icon"></i>
        <div class="content">
          Computers
        </div>
      </h2>
      <div class="ui tiny three statistics">
        <div class="statistic">
          <div class="value">
            <%=result.hardware.goodComputers[0]%>
          </div>
          <div class="label">
            Goed
          </div>
        </div>
        <div class="statistic">
          <div class="value">
            <%=result.hardware.requiredComputers%>
          </div>
          <div class="label">
            Norm
          </div>
        </div>
        <div class="statistic <%=result.hardware.missingComputers[0] > 0 ? 'red' : 'green'%>">
          <div class="value">
            <%=result.hardware.missingComputers[0]%>
          </div>
          <div class="label">
            Ontbrekend
          </div>
        </div>
      </div>
      <div class="ui small indicating progress" data-value="15" data-total="100" id="computersProgress">
        <div class="bar"></div>
        <div class="label">Computers</div>
      </div>
    </div>
    <div class="column">
      <h2 class="ui header">
        <i class="tv icon"></i>
        <div class="content">
          Digitale schoolborden
        </div>
      </h2>
      <div class="ui tiny three statistics">
        <div class="statistic">
          <div class="value">
            <%=result.hardware.goodDigitalSchoolbords[0]%>
          </div>
          <div class="label">
            Goed
          </div>
        </div>
        <div class="statistic ">
          <div class="value">
            <%=result.hardware.requiredDigitalSchoolbords%>
          </div>
          <div class="label">
            Norm
          </div>
        </div>
        <div class="statistic <%=result.hardware.missingDigitalSchoolbords[0] > 0 ? 'red' : 'green'%>">
          <div class="value">
            <%=result.hardware.missingDigitalSchoolbords[0]%>
          </div>
          <div class="label">
            Ontbrekend
          </div>
        </div>
      </div>
      <div class="ui small indicating progress" data-value="15" data-total="100" id="digitalSchoolbordsProgress">
        <div class="bar"></div>
        <div class="label">Digitale schoolborden</div>
      </div>
    </div>
    <div class="column">
      <h2 class="ui header">
    <i class="laptop icon"></i>
    <div class="content">
      Laptops
      </div>
    </h2>
    <div class="ui tiny three statistics">
      <div class="statistic">
        <div class="value">
          <%=result.hardware.goodLaptops[0]%>
        </div>
        <div class="label">
          Goed
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <%=result.hardware.requiredLaptops%>
        </div>
        <div class="label">
          Norm
        </div>
      </div>
      <div class="statistic <%=result.hardware.missingLaptops[0] > 0 ? 'red' : 'green'%>">
        <div class="value">
          <%=result.hardware.missingLaptops[0]%>
        </div>
        <div class="label">
          Ontbrekend
        </div>
      </div>
    </div>
    <div class="ui small indicating progress" data-value="15" data-total="100" id="laptopsProgress">
        <div class="bar"></div>
        <div class="label">Laptops</div>
      </div>
    </div>
  </div>
<% } %>
<div class="ui divider"></div>

<div class="ui three doubling cards">
  <!--make a card for each type of hardware-->
  <% trackedHardware.forEach(function(type){ %>
  <div class="ui card">
    <div class="content">
      <div class="header"><%= type.count %> <%=type.plural%></div>
    </div>
    <div class="content">
      <%if(type.count > 0){%>
        <canvas id="<%=type.singular.replace(/\s+/g, '-').toLowerCase()%>"></canvas>
      <%} else {%>
      <div class="ui placeholder">
        <div class="image"></div>
        <div class="paragraph">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <%}%>
      </div>
      <div class="extra content">
      <%if(typeof school !=='undefined'){%>  
        <%if(type.count > 0){%>
            <a class="ui button <%if(type.count===0){%> disabled <%}%>" href="/schools/<%=school._id%>/hardware/list/?type=<%=type.singular%>">Bekijk lijst</a>      
        <%} %>
        <a class="ui primary button" href="/schools/<%=school._id%>/hardware/new/long?type=<%=type.singular%>">Voeg Toe</a>
      <%} else {%>
        <%if(type.count > 0){%>
            <a class="ui button <%if(type.count===0){%> disabled <%}%>" href="/organisations/<%=organisation._id%>/overview/hardware/list/?type=<%=type.singular%>">Bekijk lijst</a>      
        <%} %>
      <%}%>
      </div>
  </div>
  <% }); %>
</div>
<%if(typeof school !=='undefined'){%>  
  <div id="resultData" hidden><%=JSON.stringify(result)%></div>
<%}%>
<div id="trackedHardwareData" hidden><%=JSON.stringify(trackedHardware)%></div>
<%if(typeof school !== 'undefined'){%>
  <% include ../partials/school-footer %>
<%} else if(typeof organisation !== 'undefined'){%>
  <% include ../partials/organisation-footer %>
<%}%>
<% include ../partials/footer %>

<script>

  $(document).ready(function() {

    var resultText = $('#resultData').text();
    if(resultText && resultText.length > 0){
      var resultData = JSON.parse(resultText);

      var computerProgress = resultData.hardware.missingComputers[0] === 0 ? 100 : resultData.hardware.goodComputers[0] / resultData.hardware.requiredComputers * 100;

      var dsProgress = resultData.hardware.missingDigitalSchoolbords[0] === 0 ? 100 : resultData.hardware.goodDigitalSchoolbords[0] / resultData.hardware.requiredDigitalSchoolbords * 100;

      var laptopProgress = resultData.hardware.missingLaptops[0] === 0 ? 100 : resultData.hardware.goodLaptops[0] / resultData.hardware.requiredLaptops * 100;

      $('#computersProgress').progress({
        percent: computerProgress,
        text: {
          active: 'Computers {percent}%',
          success: 'Computers compleet'
        }
      });

      $('#digitalSchoolbordsProgress').progress({
        percent: dsProgress,
        text: {
          active: 'Digitale schoolborden {percent}%',
          success: 'Digitale schoolborden compleet'
        }
      });

      $('#laptopsProgress').progress({
        percent: laptopProgress,
        text: {
          active: 'Laptops {percent}%',
          success: 'Laptops compleet'
        }
      });

    }
    

    var trackedHardwareText = $('#trackedHardwareData').text();
    var trackedHardwareData = JSON.parse(trackedHardwareText);
    console.log(trackedHardwareData);

    var backgroundColors = [
                    'rgba(0,159,227, 0.7)',
                    'rgba(227,6,19, 0.7)',
                    'rgba(249,178,51, 0.7)'
                ];
    var borderColors = [   
                    'rgba(0,159,227, 1)',
                    'rgba(227,6,19,1)',
                    'rgba(249,178,51, 1)'
                ];

   var pieCharts = {};
   trackedHardwareData.forEach(function(hardwareType,i){
    if(hardwareType.count > 0){
      var ctx = $('#' + hardwareType.singular.replace(/\s+/g, '-').toLowerCase());
      var old = hardwareType.countDepreciated;
      var low = hardwareType.countLowSpecifications;
      var good = hardwareType.count - old - low;
      var data = [good, old];
      var labels = [
            'In orde',
            'Te oud'
        ];
      if(hardwareType.hasMemoryCriterium){
        data.push(low);
        labels.push('Te weinig geheugen')
      }
      var data = {
          datasets: [{
              data: data,
              backgroundColor: backgroundColors,
              borderColor: borderColors
          }],
          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: labels
      };
      pieCharts[i] = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: {
            legend: {
              position: 'left'
            }
          }
      });
    }
   });

   

  });
</script>

