<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div class="ui segment">
  <!--make a table for each type of hardware-->
  <% config.types.forEach(function(type){ %>
  <% if(school.hardware.map(a => a.type).includes(type.singular)) { %>
  <div class="ui header"><%=type.plural%></div>
  <a id="<%=type.singular%>">
     <table class="ui celled small table">
      <thead>
        <tr>
          <th>Naam</th>
          <th>Merk</th>
          <th>Processor</th>
          <th>Werkgeheugen (GB)</th>
          <th>Jaar ingebruikname</th>
          <th>Waarschuwing</th>
          <th>Bekijk</th>
          <th>Kopieer</th>
        </tr>
      </thead>
      <% } %>
      <tbody>
        <% school.hardware.forEach(function(hardware){ %>
        <% if(type.singular === hardware.type) { %>
        <tr <% if(hardware.isDepreciated) { %> class="negative" <% } %> >
              <td class="selectable">
                <a href="/schools/<%=school._id%>/hardware/<%=hardware._id%>"><%=hardware.name%></a>
              </td>
              <td><%=hardware.brand%></td>
              <td><%=hardware.processor%></td>
              <td><%=hardware.memory%></td>
              <td><%=hardware.deploymentYear%></td>
              <td><%=hardware.warning %></td>
              <td class="selectable">
                <a href="/schools/<%=school._id%>/hardware/<%=hardware._id%>">
                Bekijk</a>
              </td>
              <td>
              <form action="/schools/<%=school._id%>/hardware/<%=hardware._id%>/copy" method="post" class="button-inline">
                <input type="hidden" name="hardware[name]" value="<%=hardware.name%>">
                <input type="hidden" name="hardware[type]" value="<%=hardware.type%>">
                <input type="hidden" name="hardware[brand]" value="<%=hardware.brand%>">
                <input type="hidden" name="hardware[model]" value="<%=hardware.model%>">
                <input type="hidden" name="hardware[serialTag]" value="<%=hardware.serialTag%>">
                <input type="hidden" name="hardware[processor]" value="<%=hardware.processor%>">
                <input type="hidden" name="hardware[memory]" value="<%=hardware.memory%>">
                <input type="hidden" name="hardware[deploymentYear]" value="<%=hardware.deploymentYear%>">
                <button class="ui mini secondary basic button" type="submit">Kopieer</button>
              </form>
        </td>
      </tr>
      <% } %>
      <% }); %>
    </tbody>
  </table>
  <% }); %>
</div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>
