<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div class="ui cards">
  <!--make a card for each type of hardware-->
  <% school.settings.hardware.forEach(function(type){ %>
  <% if (type.track) { %>
  <div class="card">
    <div class="content">
      <div class="header" id="countHeader"><%=type.plural%></div>
      <div class="description count">
        <% var count = 0 %>
        <% school.hardware.forEach(function(hardware){ %>
        <% if(!isNaN(hardware.numberWorkPlacesMultipoint) && hardware.type === type.singular) { count += hardware.numberWorkPlacesMultipoint %>
        <% } else if(hardware.type === type.singular) { count += 1} %>
        <% }); %>
        <%if(count===0){%>
          0
        <%}else {%>
          <a href="/schools/<%=school._id%>/hardware/list/#<%=type.singular%>"><%= count %></a>
        <%}%>
      </div>
    </div>
    <div class="ui bottom attached button">
      <a href="/schools/<%=school._id%>/hardware/new/<%=type.singular%>">
        <i class="add icon"></i>
        <%=type.singular%>
      </a>
    </div>
  </div>
  <% } %>
  <% }); %>
</div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>

