<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div class="ui segment">

     <table class="ui selectable celled small table hardware-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Naam</th>
          <th>Merk</th>
          <th>Processor</th>
          <th>Werkgeheugen (GB)</th>
          <th>Jaar ingebruikname</th>
          <th>Waarschuwing</th>
          <th>Meer</th>
        </tr>
      </thead>
      <tbody>
        <% school.hardware.forEach(function(hardware, index){ %>
          <tr   <% if(hardware.isDepreciated) { %> 
                  class="negative hardware-row" id="<%=index%>" 
                <% } else { %> 
                  class="hardware-row " id="<%=index%>" 
                <% } %> >
              <td><%=hardware.type%></td>
              <td><%=hardware.name%></td>
              <td><%=hardware.brand%></td>
              <td><%=hardware.processor%></td>
              <td><%=hardware.memory%></td>
              <td><%=hardware.deploymentYear%></td>
              <td class="hardware-warning <%=index%>"><%=hardware.warning %></td>
              <td class="selectable">
                <a href="/schools/<%=school._id%>/hardware/<%=hardware._id%>">
                Bekijk</a>
              </td>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>


<div id="schoolId" hidden><%= school._id%></div>
<div id="hardwareData" hidden><%=JSON.stringify(school.hardware)%></div>
<div id="mode" hidden>long</div>
<div id="formsCSS" hidden><%= JSON.stringify(formsCSS) %></div>

<div class="ui modal hardware-modal">
  <i class="close icon"></i>
  <div class="header">
    Bewerk hardware
  </div>
  <div class="content">
    <div class="ui info message">
      Wijzigingen in dit record zijn pas zichtbaar in de tabel na verversen van de pagina. Je kunt meerdere records wijzigen en daarna de pagina verversen.
    </div>
    <div id="hardwareForm"></div>
  </div>
</div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>
