<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>


<% include ./header %>

    
    <h4>Kies welke hardware je wilt bijhouden</h4>
    <div class="ui divider"></div>
    <form class="ui form" action="/schools/<%=school._id%>/hardware/settings?_method=PUT" method="POST">
    <% var i = 0 %>
    <div class="ui stackable grid">
    <% settings.forEach(function(type){ %>
        <% var isChecked = false %>
        <% var index = school.settings.hardware.findIndex(s => s.singular === type.singular) %>
        <% if(index > -1) { isChecked = school.settings.hardware[index].track ? true : false }%>
          <div class="four wide column">
            <input type="hidden" name="school[settings][hardware][<%=i%>][singular]" value="<%=type.singular%>">
           <input type="hidden" name="school[settings][hardware][<%=i%>][plural]" value="<%=type.plural%>">
            <div class="ui toggle checkbox">
              <input type="hidden" value="0" name="school[settings][hardware][<%=i%>][track]">
              <input 
                type="checkbox"
                name="school[settings][hardware][<%=i%>][track]"
                <% if(isChecked) { %> 
                checked="checked" <% } %> 
                >
              <label><%=type.plural %></label>
            </div>
          </div>
         <% i++ %>
      <% }); %>
      </div>
      <div class="ui divider"></div>
      <button class="ui button" type="submit">Bewaren</button>
    </form>

<% include ../partials/school-footer %>
<% include ../partials/footer %>