<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<h2 class="ui header"><i class="desktop icon"></i></i>Hardware van <%= school.name %></h2>
<div class="ui divider"></div>
  <div class="item">
    <div class="ui stackable grid">
      <div class="four wide column">
        <h4 class="content">Naam</h4> 
        <div class="content"><%= hardware.name %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Type Hardware</h4>
        <div class="content"><%= hardware.type %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Merk</h4>
        <div class="content"><%= hardware.brand %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Model</h4>
        <div class="content"><%= hardware.model %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Serial / Tag</h4>
        <div class="content"><%= hardware.serialTag %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Processor</h4>
        <div class="content"><%= hardware.processor %></div>
      </div>
      <% if(hardware.type==="Desktop"||hardware.type==="Multipoint computer"||hardware.type==="Laptop" ||hardware.type==="Chromebook") { %>
      <div class="four wide column">
        <h4 class="content">Werkgeheugen (GB)</h4>
        <div class="content"><%= hardware.memory %></div>
      </div>
      <% } %>
      <div class="four wide column">
        <h4 class="content">Jaar ingebruikname</h4>
        <div class="content"><%= hardware.deploymentYear %></div>
      </div>
      <% if(hardware.type==="Multipoint computer") { %>
      <div class="four wide column">
        <h4 class="content">Aantal werkplekken</h4>
        <div class="content"><%= hardware.numberWorkPlacesMultipoint %></div>
      </div>
      <% } %>
      <% if(hardware.type==="Digitaal schoolbord") { %>
      <div class="four wide column">
        <h4 class="content">Is Touchscreen</h4>
        <div class="content">
          <% if(hardware.isTouchscreenDigibord) { %>
          Ja
          <% } else { %>
          Nee
          <% } %>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="content">Schermgrootte (inch)</h4>
        <div class="content"><%= hardware.screensizeDigibord %></div>
      </div>
      <% } %>
      <div class="four wide column">
        <h4 class="content">Leverancier</h4>
        <div class="content"><%= hardware.supplier %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Garantievorm</h4>
        <div class="content"><%= hardware.warranty %></div>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui stackable grid">
      <div class="four wide column">
        <h4 class="content">Kosten</h4>
        <div class="content">€ <%= hardware.cost %></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Afschrijven (na jaren)</h4>
        <div class="content"><%= hardware.depreciationPeriod %></div>
      </div>
      <%if(hardware.cost && hardware.depreciationPeriod) {%>
        <div class="four wide column">
          <h4 class="content">Afschrijving per jaar</h4>
          <div class="content">€ <%= Math.round(hardware.cost / hardware.depreciationPeriod) %></div>
        </div>
        <div class="four wide column">
          <h4 class="content">Afgeschreven in jaar</h4>
          <div class="content"><%= hardware.depreciationPeriod + hardware.deploymentYear %></div>
        </div>
        
      <% } %>
        <div class="four wide column">
          <h4 class="content">Locatie device</h4>
          <div class="content"><%= hardware.location %></div>
        </div>
        <div class="four wide column">
          <h4 class="content">Functie device</h4>
          <div class="content"><%= hardware.functionsAs %></div>
        </div>
    </div>
    <h4 class="content">Toegevoegd op</h4>
    <div class="content"><%=hardware.created.toJSON().slice(0,10).split('-').reverse().join('/')%> </div>
    <form action="/schools/<%=school._id%>/hardware/<%=hardware._id%>/copy" method="post" class="button-inline">
      <input type="hidden" name="hardware[name]" value="<%=hardware.name%>">
      <input type="hidden" name="hardware[type]" value="<%=hardware.type%>">
      <input type="hidden" name="hardware[brand]" value="<%=hardware.brand%>">
      <input type="hidden" name="hardware[model]" value="<%=hardware.model%>">
      <input type="hidden" name="hardware[serialTag]" value="<%=hardware.serialTag%>">
      <input type="hidden" name="hardware[processor]" value="<%=hardware.processor%>">
      <input type="hidden" name="hardware[memory]" value="<%=hardware.memory%>">
      <input type="hidden" name="hardware[deploymentYear]" value="<%=hardware.deploymentYear%>">
      <button class="ui secondary basic button" type="submit">Kopieer</button>
    </form>
    <a id="edit" 
      class="ui primary basic button" 
      href="/schools/<%=school._id%>/hardware/<%=hardware._id%>/edit">
      Bewerken
    </a>
    <form id="delete" 
      action="/schools/<%= school._id %>/hardware/<%=hardware._id%>?_method=DELETE" 
      method="POST">
      <button class="ui red basic button">Verwijderen</button>
    </form>
</div>
</div>
</div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>