<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/user-header') %>
  <h2 class="ui centered header"> Evaluatie gesprekken van <%= user.firstName %></h2>
  <h4><a href="/user/<%=user._id%>/evaluation/new/"><i class="write square icon"></i> Evaluatie Toevoegen</a></h4>
  <%if(!user.evaluations || user.evaluations.length===0){%>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="dont icon"></i>
        Nog geen evaluaties
      </div>
    </div>
  <%}%>

  <div class="ui cards">
    <!--make a card for each evaluation-->
    <% user.evaluations.forEach(function(evaluation){ %>
    <div class="card">
      <div class="content">
        <div class="header"><%=evaluation.title %></div>
        <div class="description">
          <%- evaluation.report.substring(0,100)%> ...
        </div>
        <div class="description">
          <%=evaluation.created.toJSON().slice(0,10).split('-').reverse().join('/')%>
        </div>
      </div>
      <a class="ui bottom attached button" href="/user/<%=user._id%>/evaluation/<%=evaluation._id%>">
        <i class="show icon"></i>
        Bekijk 
      </a>
    </div>
    <% }); %>
  </div>

<%- include('../partials/user-footer') %>
<%- include('../partials/footer') %>
