</main>
<footer><%-include ('./footer-information')%></footer>
<script type="text/javascript" charset="utf8" src="/scripts/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="/semantic.min.js"></script>

<% if(scripts.footer.tinymce){%>
	<script type="text/javascript" charset="utf8" src="/scripts/jquery.tinymce.min.js"></script>
<%}%>

<% if(scripts.footer.datatables){%>
<script type="text/javascript" charset="utf8" src="/scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/vfs_fonts.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.print.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.semanticui.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.semanticui.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.buttons.colVis.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.select.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts//dataTables.checkboxes.min.js"></script>
<script type="text/javascript" charset="utf8" src="/../../js/dataTables.editor.min.js"></script>
<script type="text/javascript" charset="utf8" src="/../../js/editor.semanticui.min.js"></script>
<script type="text/javascript" charset="utf8" src="/scripts/dataTables.rowGroup.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/keytable/2.5.2/js/dataTables.keyTable.min.js"></script>
<% } %>

<script src="/../../js/app.js"></script>

<% if(scripts.footer.dashboard){%>
	<%- include('../dashboard/logic/modals') %>
<%}%>
<% if(scripts.footer.chartjs){%>
	<script type="text/javascript" charset="utf8" src="/scripts/moment.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/scripts/chart.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/scripts/chartjs-plugin-datalabels"></script>
<% } %>
<% if(scripts.footer.pdf){%>
	<script type="text/javascript" charset="utf8" src="/scripts/jspdf.umd.min.js"></script>
	<script>const { jsPDF } = window.jspdf;</script>
	<script type="text/javascript" charset="utf8" src="/scripts/html2canvas.min.js"></script>
<%}%>
<% if(scripts.footer.surveyjs) {%>
	<script type="text/javascript" charset="utf8" src="/scripts/survey.jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/scripts/ckeditor.js"></script>
	<script type="text/javascript" charset="utf8" src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/scripts/survey.pdf.min.js"></script>
	<script type="text/javascript" charset="utf8" src="/scripts/surveyjs-widgets.min.js"></script>
<% } %>
<% if(scripts.footer.surveyOptions) {%>
	<%- include('../partials/surveyOptions') %>
<% } %>
<% if(scripts.footer.surveyResults) {%>
	<%- include('../survey/logic/surveyResults') %>
	<!-- <script src="https://cdn3.devexpress.com/jslib/17.2.5/js/dx.all.js"></script> -->

<% } %>
<% if(scripts.footer.surveyPrivate) { %>
	<%- include('../survey/logic/surveyPrivate') %>
<% } %>
<% if(scripts.footer.individualResults) { %>
	<%- include('../survey/logic/individualResults') %>
<% } %>
<% if(scripts.footer.edurep) { %>
	<%- include('../software/logic/edurep') %>
<% } %>
<% if(scripts.footer.softwareanalytics) {%>
	<%- include('../software/logic/analytics') %>
<% } %>
<% if(scripts.footer.evaluation){ %>
	<%- include('../evaluation/logic') %>
<% } %>
<% if(scripts.footer.hardware){ %>
	<%- include('../hardware/logic') %>
<% } %>
<% if(scripts.footer.competence){ %>
	<%- include('../partials/competence-chart/logic') %>
<% } %>
<% if(scripts.footer.hardwareanalytics) {%>
	<%- include('../hardware/analytics') %>
<% } %>
<% if(scripts.footer.securityIncident){ %>
	<%- include('../securityIncident/logic') %>
<% } %>
<% if(scripts.footer.useranalytics) {%>
	<%- include('../user/analytics') %>
<% } %>
</body>
</html>