<div class="ui blue labeled tiny inverted icon menu">
  <a class="horizontal item" 
      href="https://pillars.school" 
      target="_blank" 
      data-content="Opent Pillars website in nieuw venster">
    <img src="/img/logo.png" id="pillars-logo">
  </a>
  <a class="item" href="/home/" data-content="Startpagina">
      <i class="home icon"></i>
      Startpagina
  </a>
  <div class="centered menu">
    <%if(typeof isOnDashboard !=='undefined' && isOnDashboard){%>
    <%} else if(typeof organisation !=='undefined' && organisation.name){%>
      <div class="item">
        <i class="building icon"></i><%=organisation.name%>
      </div>
    <%} else if(typeof school !=='undefined' && school.name){%>
      <div class="item">
         <i class="university icon"></i><%=school.name%>
      </div>
    <%}%>
  </div>
  <% if(currentUser) { %>
  <div class="right menu">
    <a class="ui item"
        href="/user/<%=currentUser._id%>" 
        data-content="Ga naar profielpagina van <%=currentUser.username%>">
      <% var url = 'https://eu.ui-avatars.com/api/?name=Niet+Bekend&background=fe9A76&color=ffffff&bold=true'%>
      <% if(currentUser.imageUrl){%>
        <% url = currentUser.imageUrl%>
      <% } else if (currentUser.firstName && currentUser.lastName) {%>
       <% url = 'https://eu.ui-avatars.com/api/?name=' 
                  + currentUser.firstName + '+' + currentUser.lastName 
                  + '&background=fe9A76&color=ffffff&bold=true' %>
       <% } %>
      <img class="ui avatar image profile" src="<%=url%>">
    </a>
    <a class="horizontal item" 
        href="https://pillars.school/docs" target="_blank" 
        data-content="Opent handleiding in nieuw venster">
      <i class="question icon"></i>
      Handleiding
    </a>
    <% if(currentUser && currentUser.role ==="padmin") { %>
    <div class="ui dropdown horizontal item" data-content="Pillars admin">
      <i class="globe icon"></i>
      Admin
      <div class="menu">
        <a class="item" href="/admin">Lijst scholen</a>
        <a class="item" href="/organisations">Lijst organisaties</a>
        <a class="item" href="/admin/badmin">Bestuur administrator lijst</a>
        <a class="item" href="/admin/transfer">Gebruiker updaten</a>
      </div>            
    </div>
    <% } %>
    <a class="ui horizontal item" href="/logout" data-content="Uitloggen">
      <i class="sign-out icon" aria-hidden="true"></i>
      Uitloggen
    </a>
  </div>
  <% } %>
</div>