
<div class="ui vertical icon fluid menu">

  <a class="vertical item <%if(url==="/organisations/"+organisation._id) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>" 
      data-content="Algemene informatie">
    <i class="building icon" ></i>
    <span class="hide-mobile">Algemene informatie</span>
  </a>

  <a class="vertical item <%if(url==='/organisations/'+organisation._id+'/schools/') { %> active <% } %>" 
    href="/organisations/<%= organisation._id %>/schools/" data-content="Scholen">
    <i class="university icon" ></i>
    <span class="hide-mobile">Scholen</span>
  </a>

  <a class="vertical item <%if(url.includes("/organisations/"+organisation._id+'/org-user')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/org-user" 
      data-content="Accounts">
    <i class="users icon" ></i>
    <span class="hide-mobile">Accounts</span>
  </a>
  <% if(organisation.settings.hardware){ %>
  <a class="vertical item <%if(url.includes("/organisations/"+organisation._id+'/overview/hardware')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/overview/hardware" 
      data-content="Hardware">
    <i class="desktop icon" ></i>
    <span class="hide-mobile">Hardware</span>
  </a>
  <%}%>
  <% if(organisation.settings.software){ %>
  <a class="vertical item <%if(url.includes("/organisations/"+organisation._id+'/overview/software')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/overview/software" 
      data-content="Digitale leermiddelen">
    <i class="tablet alternate icon" ></i>
    <span class="hide-mobile">Digitale leermiddelen</span>
  </a>
  <%}%>
  <% if(organisation.settings.competenceNew){ %>
  <a class="vertical item <%if(url.includes("/organisations/"+organisation._id+'/overview/podd')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/overview/podd" 
      data-content="Deskundigheid">
    <i class="certificate icon" ></i>
    <span class="hide-mobile">Deskundigheid</span>
  </a>
  <%}%>
  <% if(organisation.settings.competence){ %>
  <a class="vertical item <%if(url.includes("/organisations/"+organisation._id+'/overview/competence')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/overview/competence" 
      data-content="Deskundigheid">
    <i class="certificate icon" ></i>
    <span class="hide-mobile">Deskundigheid</span>
  </a>
  <%}%>

  <% if(organisation.settings.pillars){ %>
  <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/overview/pillars') 
        || url.includes('/organisations/'+organisation._id+'/overview/schools')) { %> active <% } %>" 
    href="/organisations/<%= organisation._id %>/overview/pillars/" data-content="Overzichten">
    <i class="chart bar icon"></i>
    <span class="hide-mobile">Overzichten</span>
  </a>
  <%}%>

  <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/survey/')) { %> active <% } %>" 
    href="/organisations/<%= organisation._id %>/survey/" data-content="Enquetes">
    <i class="question circle icon"></i>
    <span class="hide-mobile">Enquetes</span>
  </a>

  <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/standard/')) { %> active <% } %>" 
    href="/organisations/<%= organisation._id %>/standard/" data-content="Normering">
    <i class="handshake icon"></i>
    <span class="hide-mobile">Normering</span>
  </a>

  <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/organisationSettings/')) { %> active <% } %>" 
    href="/organisations/<%= organisation._id %>/organisationSettings/" data-content="Modules">
    <i class="settings icon" ></i>
    <span class="hide-mobile">Modules</span>
  </a>

  <% if(organisationSettings.messages){ %>
    <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/message/')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/message/" data-content="Beleid">
      <i class="info circle icon"></i>
      <span class="hide-mobile">Beleid</span>
    </a>
  <% } %>

  <% if(organisationSettings.privacy){ %>
    <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/processingActivity/')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/processingActivity/" data-content="Algemene verordening gegevensbescherming (AVG)">
      <i class="id card outline icon"></i>
      <span class="hide-mobile">Verwerkingsactiviteiten</span>
    </a>

    <a class="vertical item <%if(url.includes('/organisations/'+organisation._id+'/securityIncident')) { %> active <% } %>" 
      href="/organisations/<%= organisation._id %>/securityIncident/" data-content="Algemene verordening gegevensbescherming (AVG)">
      <i class="shield icon"></i>
      <span class="hide-mobile">Beveiligingsincidenten</span>
    </a>
  <%}%>
  
<!-- toevoeging -->
  

</div>


