<div class="ui vertical icon fluid menu">

  <a class="vertical item <%if(url===("/schools/"+school._id) || url===("/schools/"+school._id)+"/edit") { %> active <% } %>" 
      href="/schools/<%= school._id %>" 
      data-content="Algemene informatie">
    <i class="university icon" ></i>
    <span class="hide-mobile">Algemene informatie</span>
  </a>
  <% if(organisationSettings.hardware){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/hardware")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/hardware" 
        data-content="Hardware">
      <i class="desktop icon"></i>
      <span class="hide-mobile">Hardware</span>
    </a>
  <% } %>
  <% if(organisationSettings.software){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/software")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/software" 
        data-content="Digitale leermiddelen">
      <i class="tablet alternate icon"></i>
      <span class="hide-mobile">Digitale Leermiddelen</span>
    </a>
  <% } %>
  <% if(currentUser.role ==="badmin" || currentUser.role==="sadmin" || currentUser.role=== "buser" || currentUser.role==="padmin") { %>
  <% if(organisationSettings.competence){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/competence")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/competence" 
        data-content="Deskundigheid">
      
      <i class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1519.66 1519.66"><defs><style>.a{fill:none;}</style></defs><title>competence_user3</title><path d="M1156.49,596.48c5.26-26.59,41.71-50.79,41.71-78.92s-36.45-52.33-41.71-78.93c-5.42-27.4,18.9-63.66,8.45-88.88-10.64-25.65-53.58-34.05-68.85-56.85-15.38-23-6.8-65.84-26.28-85.32s-62.35-10.9-85.32-26.28c-22.81-15.27-31.2-58.21-56.86-68.85-25.21-10.45-61.47,13.87-88.87,8.45-26.6-5.27-50.79-41.72-78.93-41.72s-52.33,36.45-78.92,41.72c-27.41,5.42-63.67-18.9-88.88-8.45-25.65,10.64-34,53.58-56.85,68.85-23,15.38-65.84,6.8-85.32,26.28S439,269.93,423.57,292.9c-15.26,22.8-58.2,31.2-68.84,56.85-10.46,25.22,13.86,61.48,8.44,88.88-5.26,26.6-41.71,50.79-41.71,78.93s36.45,52.33,41.71,78.92c5.42,27.4-18.9,63.67-8.44,88.88,10.64,25.65,53.58,34,68.84,56.85,15.38,23,6.81,65.84,26.29,85.32s62.34,10.9,85.32,26.29c12.67,8.48,20.9,25.52,30.11,40.8v545.85l199.9-144.2,199.9,144.2v-564c5.63-9.16,11.69-17.47,19.4-22.62,23-15.39,65.84-6.81,85.32-26.29s10.9-62.34,26.28-85.32c15.27-22.8,58.21-31.2,68.85-56.85C1175.39,660.15,1151.07,623.88,1156.49,596.48ZM925.07,1264.66l-159.88-97.52-159.88,97.52v-88.24l159.88-95,159.88,95ZM848.85,770.93a269.75,269.75,0,0,1-178,0C566.29,734.2,491.35,634.63,491.35,517.56c0-148.28,120.21-268.48,268.48-268.48s268.48,120.2,268.48,268.48C1028.31,634.63,953.38,734.2,848.85,770.93Z"/><path d="M659.94,648.92h88.17V403L686.2,437.68l.95-37.52c29-11.06,50.46-38.65,72-50.2h32.57v299h78.72v36.25H659.94Z"/><rect class="a" width="1519.66" height="1519.66"/></svg>
      </i>
      <span class="hide-mobile">Deskundigheid</span>
    </a>
  <% } %>
  <% if(organisationSettings.management){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/management")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/management" 
        data-content="Organisatie">
      <i class="sitemap icon"></i>
      <span class="hide-mobile">Organisatie</span>
    </a>
  <% } %>
  
  <a class="vertical item <%if(url.includes("/schools/"+school._id+"/user")) { %> active <% } %>" 
      href="/schools/<%= school._id %>/user"   
      data-content="Medewerkers">
    <i class="users icon"></i>
    <span class="hide-mobile">Medewerkers</span>
  </a>
  <% if(organisationSettings.pillars){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/pillars")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/pillars" 
        data-content="Pillars grafieken">
      <i class="bar chart icon"></i>
      <span class="hide-mobile">Pillars grafieken</span>
    </a>
  <% } %>
  <% if(organisationSettings.evaluations){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/evaluation")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/evaluation" 
        data-content="Evaluaties">
      <i class="comments icon"></i>
      <span class="hide-mobile">Evaluaties</span>
    </a>
  <% } %>
  <% if(organisationSettings.messages){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/information")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/information" 
        data-content="Beleid">
      <i class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567.93 567.93"><defs><style>.a{fill:none;}.b,.c{fill:#fff;}.c{stroke:#fff;stroke-miterlimit:10;}</style></defs><title>policy</title><rect class="a" width="567.93" height="567.93"/><rect x="10.27" y="66.36" width="546.4" height="432.67" rx="22.62"/><path class="b" d="M263.42,91.45h25.36a17.45,17.45,0,0,1,17.45,17.45V499a0,0,0,0,1,0,0H246a0,0,0,0,1,0,0V108.9A17.45,17.45,0,0,1,263.42,91.45Z"/><polygon class="c" points="468.95 381.7 218.4 381.7 218.4 282.7 469.8 282.7 506.39 331.25 468.95 381.7"/><polygon class="c" points="95.5 255.61 346.06 255.61 346.06 156.61 94.65 156.61 58.05 205.16 95.5 255.61"/></svg>
      </i>
      <span class="hide-mobile">Beleid</span>
    </a>
  <% } %>
  <a class="vertical item <%if(url.includes("/schools/"+school._id+"/survey")) { %> active <% } %>" 
      href="/schools/<%= school._id %>/survey" 
      data-content="Enquêtes">
    <i class="question circle icon"></i>
    <span class="hide-mobile">Enquêtes</span>
  </a>
  <% if(organisationSettings.privacy){ %>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/processingActivity")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/processingActivity" 
        data-content="Verwerkingsactiviteiten">
      <i class="id card outline icon"></i>
      <span class="hide-mobile">Verwerkingsactiviteiten</span>
    </a>
    <a class="vertical item <%if(url.includes("/schools/"+school._id+"/securityIncident")) { %> active <% } %>" 
        href="/schools/<%= school._id %>/securityIncident" 
        data-content="Beveiligingsincidenten">
      <i class="shield alternate icon"></i>
      <span class="hide-mobile">Beveiligingsincidenten</span>
    </a>
  <% } %>
  <% } %>
</div>