
<div class="ui vertical icon fluid menu">

  <a class="vertical item <%if(url==="/user/"+user._id) { %> active <% } %>" 
      href="/user/<%= user._id %>" 
      data-content="Profiel">
    <i class="user circle icon"></i>
    <span class="hide-mobile">Profiel</span>
  </a>

  <a class="vertical item <%if(url==="/user/"+user._id+"/surveys") { %> active <% } %>" 
      href="/user/<%=user._id%>/surveys" 
      data-content="Tests">
    <i class="tasks icon"></i>
    <span class="hide-mobile">Tests</span>
  </a>
  
  <a class="vertical item <%if(url==="/user/"+user._id+"/competence") { %> active <% } %>" 
      href="/user/<%= user._id%>/competence" 
      data-content="Deskundigheid">
    <i class="certificate icon"></i>
    <span class="hide-mobile">Deskundigheid</span>
  </a>

  <a class="vertical item <%if(url==="/user/"+user._id+"/ready") { %> active <% } %>" 
      href="/user/<%= user._id %>/ready" 
      data-content="Klaar">
    <i class="flag checkered icon"></i>
    <span class="hide-mobile">Klaar</span>
  </a>

  <a class="vertical item <%if(url==="/user/"+user._id+"/evaluation") { %> active <% } %>" 
      href="/user/<%= user._id %>/evaluation" 
      data-content="Evaluaties">
    <i class="comments icon"></i>
    <span class="hide-mobile">Evaluaties</span>
  </a>

</div>


