<div class="ui divider"></div>

<div class="ui relaxed divided list">
  <div class="item">
    <div class="content">
      <i class="doctor icon"></i>
      Deskundigheids Tests
      <div class="right floated content">
        <button type="button" class="ui mini circular icon button" id="general-tests" data-content="Meer informatie">
          <i class="info icon"></i>
        </button>
      </div>
    </div>
  </div>
  <%if(surveys.length===0){%>
  <div class="item">
    <div class="content">
      Jouw bestuur heeft geen actieve deskundigheidstests ingesteld
    </div>
  </div>
  <%}%>
<% surveys.forEach(function(survey){ %>
<% var index = surveyResults.findIndex(sr => sr.survey.equals(survey._id));%>
  <div class="item">
  	<% if(index>-1){%>
  		<i class="check green icon"></i>
  	<%} else {%>
  		<i class="edit outline icon"></i>
  	<%}%>
    <div class="content">
      <%= survey.competenceStandardTitle %>
      <div class="description">
      	<% if(index>-1){%>
      		<div class="right floated content">
            <a class="ui mini blue circular icon button" data-content="Analyseer resultaten"
                href="/survey/<%=survey._id%>/individual">
              <i class="bar chart icon"></i>
            </a>
          </div>
          Je hebt <a 
      			href="/survey/<%=surveyResults[index]._id%>/result">deze antwoorden</a> 
      			ingezonden op <%=surveyResults[index].createdAt.toJSON().slice(0,10).split('-').reverse().join('/')%>
            
      	<%} else {%>
      		<a href="/survey/<%=survey._id%>/private">Doe nu de test!</a>
      	<% } %>
      </div>
    </div>
  </div>
<%});%>
  <div class="item">
    <div class="right floated content">
      <a href="/user/<%=currentUser._id%>/ready"><i class="flag checkered icon"></i> Klaar met invullen?</a>
    </div>
    <div class="content">
      <a href="/user/<%=currentUser._id%>/surveys"><i class="history icon"></i>Bekijk alle tests</a>
    </div>
  </div>
</div>


<div class="ui basic modal general-tests">
  <div class="ui icon header">
    <i class="doctor icon"></i>
    Deskundigheidstests
  </div>
  <div class="content">
    <p>In Pillars zijn diverse deskundigheidstests opgenomen, waarmee je je ICT-vaardigheden kunt meten. Je krijgt daardoor zicht op wat nodig is om je ICT-bekwaamheid op een hoger niveau te krijgen. De meetresultaten worden opgenomen in een overzicht per school en per schoolbestuur.Deze resultaten kunnen je helpen in je ontwikkeling als leerkracht. Daarom willen we je vragen de tests in te vullen en de regie te nemen in de stappen daarna.</p>
    <h4>ICT-geletterdheid</h4>
    <p>Deze test meet hoe het staat met jouw ICT basisvaardigheid. Dat kan variëren van het gebruik van mappen en websites, tot het schrijven van basis computerprogramma’s voor leerlingen. Het invullen van deze test duurt ongeveer 25 minuten.</p>

    <h4>Pedagogisch didactisch handelen</h4>
    <p>Met deze test kun je nagaan of je de leersituatie voor kinderen zo optimaal mogelijk maakt door het leggen van een goede relatie tussen onderwijsvisie en de juiste ICT-toepassing. Het invullen van deze test duurt ongeveer 20 minuten.</p>

    <h4>Werken in de schoolcontext</h4>
    <p>Inzicht in je bekwaamheid in het veilig en verantwoord gebruik van ICT voor de bedrijfsvoering en de communicatie kan met deze test worden gemeten. Het invullen van deze test duurt ongeveer 15 minuten.</p>

    <h4>Persoonlijke Ontwikkeling</h4>
    <p>In hoeverre ben je als leerkracht gekwalificeerd in het gebruik van ICT-toepassingen en welke vaardigheden heb je om dit op peil te houden. Dat kan je meten met deze test. Het invullen van deze test duurt ongeveer 10 minuten.</p>

  </div>
  <div class="actions">
    <a class="ui inverted youtube button" href="https://www.youtube.com/watch?v=VRTsFoyxHRw" target="_blank">
      <i class="youtube icon"></i>
      Bekijk filmpje
    </a>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Duidelijk
    </div>
  </div>
</div>
