<h5>Pillars vragenlijsten versie 2</h5>
<div class="two fields">
  <div class="field">
        <label>Max score Pillars Overzicht Digitale Deskundigheid</label>
        <input type="number" name="standard[competence][podd][maxScore]" 
        value="<%= standard.competence.podd ? standard.competence.podd.maxScore : 0 %>">
  </div> 
  <div class="field">
        <label>Max score Digitale Deskundigheid Leerlingen</label>
        <input type="number" name="standard[competence][ddl][maxScore]" 
        value="<%= standard.competence.ddl ? standard.competence.ddl.maxScore : 0 %>">
  </div> 
</div>
<div class="ui divider"></div>
<h5>Pillars vragenlijsten versie 1</h5>
<div class="four fields">
    <div class="field">
      <label>Max score ICT Geletterdheid</label>
      <input type="number" name="standard[competence][ictSkills][maxScore]" 
      value="<%=standard.competence.ictSkills.maxScore%>">
    </div>
    <div class="field">
      <label>Max score Ped Didactisch handelen</label>
      <input type="number" name="standard[competence][pedagogicalDidacticalSkills][maxScore]" 
      value="<%=standard.competence.pedagogicalDidacticalSkills.maxScore%>">
    </div>
    <div class="field">
      <label>Max score Werken schoolcontext</label>
      <input type="number" name="standard[competence][workInSchoolContext][maxScore]" 
      value="<%=standard.competence.workInSchoolContext.maxScore%>">
    </div>
    <div class="field">
      <label>Max score Pers Ontwikkeling</label>
      <input type="number" name="standard[competence][personalDevelopment][maxScore]" 
      value="<%=standard.competence.personalDevelopment.maxScore%>">
    </div>
</div>
<div class="ui divider"></div>
<h5>Vragenlijsten Alpha Scholengroep</h5>
<div class="four fields">
    <div class="field">
      <label>Max score Instrumentele vaardigheden</label>
      <input type="number" name="standard[competence][instrumentalSkills][maxScore]" 
      value="<%=standard.competence.instrumentalSkills.maxScore%>">
    </div>
    <div class="field">
      <label>Max score Informatievaardigheden</label>
      <input type="number" name="standard[competence][informationSkills][maxScore]" 
      value="<%=standard.competence.informationSkills.maxScore%>">
    </div>
    <div class="field">
      <label>Max score Mediavaardigheden</label>
      <input type="number" name="standard[competence][mediaSkills][maxScore]" 
      value="<%=standard.competence.mediaSkills.maxScore%>">
    </div>
</div>
<div class="ui divider"></div>
<h5>Overige vragenlijsten / meetinstrumenten (geen deskundigheidstests!)</h5>
<div class="four fields">
    <div class="field">
      <label>Max score Observatieinstrument ICT gebruik</label>
      <input type="number" name="standard[competence][assessmentForm][maxScore]" 
      value="<%= standard.competence.assessmentForm ? standard.competence.assessmentForm.maxScore : 0 %>">
    </div>
    <div class="field">
      <label>Max score Rubric</label>
      <input type="number" name="standard[competence][rubric][maxScore]" 
      value="<%= standard.competence.rubric ? standard.competence.rubric.maxScore : 0 %>">
    </div>
</div>
<div class="ui divider"></div>
<h5>Vervallen velden (niet beschikbaar)</h5>
<!--FORM FIELDS PART 1-->
<div class="four fields">
    <div class="field">
      <label>Minimum beoordeelde deskundigheid</label>
      <input type="number" name="standard[competence][competenceRating][standard]" 
      value="0" disabled="">
    </div>
    <div class="field">
      <label>Minimum gemiddelde effectiviteit</label>
      <input type="number" name="standard[competence][softwareRating][standard]" 
      value="0" disabled="">
    </div>
</div>

<!--FORM FIELDS PART 2 = MAXIMUM SCORES-->
<div class="four fields">
    <div class="field">
      <label>Max score beoordeelde deskundigheid</label>
      <input type="number" name="standard[competence][competenceRating][maxScore]" 
      value="0" disabled="">
    </div>
    <div class="field">
      <label>Max score gemiddelde effectiviteit</label>
      <input type="number" name="standard[competence][softwareRating][maxScore]" 
      value="0" disabled="">
    </div>
    <div class="field">
      <label>Max score ondersteuning nodig</label>
      <input type="number" name="standard[competence][support][maxScore]" value="0" disabled="">
    </div>
</div>