<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/organisation-header') %>

  
  <h2 class="ui center aligned header">Bestuur Medewerkers</h2>
  <div class="ui pointing dropdown link item">
          <i class="add icon"></i>
          <span class="text">Nieuw</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/organisations/<%=organisation._id%>/org-user/new/">Bestuur Toevoegen met Email/Wachtwoord</a>
            <a class="item" href="/organisations/<%=organisation._id%>/org-user/newSocial/">Bestuur Toevoegen met Schoolaccount</a>
          </div>
  </div>
  <div class="ui divider"></div>
    <!-- placeholder if no users -->
    <%if(users.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen medewerkers
        </div>
      </div>
    <%}%>
    <div class="ui cards">
      <!--make a card for each buser-->
      <% users.forEach(function(user, index){ %>
        <%var schoolUser = false%>
        <%- include('../partials/user-card', {user: user, schoolUser: false}) %>
      <% }); %>
    </div>

<%- include('../partials/organisation-footer') %>
<%- include('../partials/footer') %>