<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<h2 class="ui header">
  <i class="student icon"></i></i>Digitale Leermiddelen voor <%= software.subject %> Toevoegen aan <%= school.name %>
</h2>
<div class="ui divider"></div>
<form class="ui form" action="/schools/<%=school._id%>/software/<%=software._id%>?_method=PUT" method="POST" id="softwareForm" novalidate>
    <!--NAME OF SOFTWARE-->
    <div class="required field">
        <label>Naam</label>  
        <input type="text" name="software[name]" value="<%=software.name%>">
    </div>
    <!--NON-CORE SUBJECTS ONLY-->
    <% if(config.subjects.noncore == software.subject) { %> 
        <% include ./edit/noncore %>
    <% } else { %>
    <!--CORE SUBJECTS -->
        <% if(config.subjects.ict == software.subject) { %>
           <% include ./edit/ict %>
        <% } else { %>
            <input type="hidden" name="software[subject]" value="<%= software.subject %>">
        <% } %>
        <div class="field">
            <label>Software functies</label>
            <select multiple="" name="software[functionalities]" class="ui dropdown">
              <option value="">Selecteer functies</option>
              <% school.settings.software.functionalities.forEach(function(functionality) { %>
              <option value="<%=functionality%>" <%if(software.functionalities.includes(functionality)) { %> selected="" <% } %>><%=functionality%></option>
              <% }) %>
          </select>
        </div>
        <% if(school.isSecondarySchool){ %>
            <div class="field">
                <label>Klassen</label>
                <select multiple="" name="software[gradeLevels]" class="ui dropdown">
                    <option value="">Selecteer klassen</option>
                    <% for(var i=0; i < 6; i++) { %>
                    <option value="Klas <%= i + 1 %>" 
                        <% if(software.gradeLevels.includes("Klas " + (i + 1))) { %> selected="" <% } %>>
                        Klas <%= i+ 1 %>
                    </option>
                    <% } %>
                </select>
            </div>
        <% } else { %>
            <div class="field">
                <label>Groepen</label>
                <select multiple="" name="software[gradeLevels]" class="ui dropdown">
                    <option value="">Selecteer groepen</option>
                    <% for(var i=0; i < 8; i++) { %>
                    <option value="Groep <%= i + 1 %>" 
                        <% if(software.gradeLevels.includes("Groep " + (i + 1))) { %> selected="" <% } %>>
                        Groep <%= i+ 1 %>
                    </option>
                    <% } %>
                </select>
            </div>
        <% } %>
        <div class="field">
            <label>Kwaliteitsnormen</label>
            <select multiple="" name="software[ratings]" class="ui dropdown">
                <option value="">Selecteer kwaliteitsnormen</option>
                <% school.settings.software.ratings.forEach(function(rating) { %>
                <option value="<%=rating%>" <%if(software.ratings.includes(rating)) { %> selected="" <% } %>><%=rating%></option>
                <% }) %>
            </select>
        </div>
    <% } %>
    <div class="three fields">
        <div class="field">
            <label>Leverancier</label>  
            <input type="text" name="software[supplier]" value="<%=software.supplier%>">
        </div>
        <div class="field">
            <label>Aantal licenties</label>  
            <input type="number" name="software[licences]" value="<%=software.licences%>">
        </div>
        <div class="field">
          <label>Type leermiddel</label>
          <select name="software[typeOfSoftware]" class="ui dropdown">
            <option value="Digitaal" 
                    <%if(software.typeOfSoftware == "Digitaal") { %> selected="" <% } %>>
                Digitaal leermiddel</option>
            <option value="Niet digitaal" 
                    <%if(software.typeOfSoftware == "Niet digitaal") { %> selected="" <% } %>>
                Niet digitaal leermiddel</option>
            <option value="Beide" 
                    <%if(software.typeOfSoftware == "Beide") { %> selected="" <% } %>>
                Beide</option>
          </select>
        </div>
    </div>
    <button class="ui button" type="submit">Bewaren</button>
    <div class="ui error message"></div>
</form>

  
<% include ../partials/school-footer %>
<% include ../partials/footer %>