<h2 class="ui centered header">Digitale Leermiddelen</h2>
<div class="ui small basic icon buttons">
  <a class="ui <%if(url===("/schools/"+school._id+"/software")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/software" 
      data-content="Kaarten met totalen">
      <i class="th icon"></i>
  </a>
  <a class="ui <%if(url===("/schools/"+school._id+"/software/list")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/software/list"
      data-content="Lijst met digitale leermiddelen">
        <i class="list icon"></i>
  </a>
  <a class="ui <%if(url===("/schools/"+school._id+"/software/charts")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/software/charts"
      data-content="Grafieken">
      <i class="chart pie icon"></i>
  </a>
</div>
<% if(!(currentUser.role==="suser")) { %>
  <div class="ui small basic icon buttons">
    <a class="ui <%if(url===("/schools/"+school._id+"/software/settings")){ %> active <%}%> button" 
          href="/schools/<%=school._id%>/software/settings"
          data-content="Settings digitale leermiddelen">
          <i class="settings icon"></i></a>
  </div>
  <div class="ui small basic icon buttons">
    <div class="ui dropdown item">
        <a class="ui button" data-content="Digitaal leermiddel toevoegen"><i class="add icon"></i></a>
        <div class="menu">
          <% Object.keys(school.settings.software.subjects).sort().forEach(function(subject){ %>
                <a class="item" href="/schools/<%=school._id%>/software/new/<%=subject %>">
                  <%= subject %>
                </a>
        <% }); %>
        </div>
    </div>
  </div>
<%}%>
<div class="ui divider"></div>