<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<h2 class="ui header"><i class="student icon"></i></i>Digitale Leermiddelen van <%= school.name %></h2>
<a class="primary ui button right" href="/schools/<%=school._id%>/software/download">Download Digitale Leermiddelen CSV</a>
<br>
<br>
<div class="ui cards">
  <!--make a card for each type of software-->
  <% Object.keys(school.settings.software.subjects).sort().forEach(function(subject){ %>
  <div class="card">
    <div class="content">
      <div class="header countHeader"><a href="#<%=subject%>"><%= subject %></a></div>
      <div class="description count">
        <% var count = 0 %>
        <% school.software.forEach(function(software){ %>
        <% if(school.settings.software.subjects[subject].includes(software.subject)) { count += 1 %>
        <% } %>
        <% }); %>
        <%= count %>
      </div>
    </div>
    <div class="ui bottom attached button">
      <div class="item">
        <a href="/schools/<%=school._id%>/software/new/<%=subject %>">
          <i class="add icon"></i>
          <%=subject %> Toevoegen
        </a>
      </div>
    </div>
  </div>
  <% }); %>
</div>
</div>
<!--make a table for each type of software-->
<div class="ui segment">
  <!--check for each key in the school software subjects object (represent subject)-->
  <% Object.keys(school.settings.software.subjects).sort().forEach(function(subject){ %>
  <!--if the school software subject is included in the array-->
  <% if(school.software.map(a => a.subject).some(r => school.settings.software.subjects[subject].includes(r))) { %>
  <div class="ui huge header"><%= subject %></div>
  <a id="<%= subject %>">
    <table class="ui celled table unstackable">
      <thead>
        <tr>
          <th>Vak</th>
          <th>Naam</th>
          <th>Meer info</th>
        </tr>
      </thead>
      <% } %>
      <tbody>
        <% school.software.forEach(function(software){ %>
        <% if(school.settings.software.subjects[subject].includes(software.subject)) { %>
        <tr>
          <td><%= software.subject %></td>
          <td><%= software.name %></td>
          <td>
            <a 
            class="ui primary basic button" 
            href="/schools/<%=school._id%>/software/<%=software._id%>">
            Toon info
          </a>
        </td>
      </tr>
      <% } %> 
      <% }); %>
    </tbody>
  </table>
  <% }); %>
</div>
</div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>
