<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>

<h2 class="ui header"><i class="tablet alternate icon"></i>Digitaal Leermiddel van <%= school.name %></h2>
<div class="ui divider"></div>
<div class="item">
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Vak</h4> 
      <div class="content"><%= software.subject %></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Naam</h4>
      <div class="content"><%= software.name %></div>
    </div>
  </div>
  <% if(!(school.settings.software.subjects["Overige"].includes(software.subject))) { %>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Functies</h4>
      <% school.settings.software.functionalities.forEach(function(functionality){ %>
      <div class="content">
        <% if(software.functionalities.includes(functionality)) { %>
        <i class="green checkmark icon"></i> <%=functionality%><% } else { %>
        <i class="red remove icon"></i> <%=functionality%><% } %>
      </div>
      <% }); %>
    </div>
    <div class="four wide column">
      <% if(school.isSecondarySchool){ %>
      <h4 class="content">Klassen</h4>
      <% for(i=1; i<=6; i++){ %>
      <div class="content">
        <% if(software.gradeLevels.includes("Klas " + i)) { %>
        <i class="green checkmark icon"></i> <%= "Klas " + i %><% } else { %>
        <i class="red remove icon"></i> <%= "Klas " + i %><% } %>
      </div>
      <% }; %>
      <%} else { %>
      <h4 class="content">Groepen</h4>
      <% for(i=1; i<=8; i++){ %>
      <div class="content">
        <% if(software.gradeLevels.includes("Groep " + i)) { %>
        <i class="green checkmark icon"></i> <%= "Groep " + i %><% } else { %>
        <i class="red remove icon"></i> <%= "Groep " + i %><% } %>
      </div>
      <% }; %>
      <% } %>
    </div>
    <div class="four wide column">
      <h4 class="content">Kwaliteitsnormen</h4>
      <% school.settings.software.ratings.forEach(function(rating){ %>
      <div class="content">
        <% if(software.ratings.includes(rating)) { %>
        <i class="green checkmark icon"></i> <%=rating%><% } else { %>
        <i class="red remove icon"></i> <%=rating%><% } %>
      </div>
      <% }); %>
    </div>
  </div>
  <% } else { %>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Effectiviteit</h4>
      <div class="content"><%= software.effectiveness %></div>
    </div>
  </div>
  <% } %>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Leverancier</h4>
      <div class="content"><%= software.supplier %></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Aantal licenties</h4>
      <div class="content"><%= software.licences %></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Type leermiddel</h4>
      <div class="content"><%= software.typeOfSoftware %></div>
    </div>
  </div>
  <%if(software.metadata){%>
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h4 class="content">Beschrijving</h4>
      <div class="small content"><%=JSON.parse(software.metadata).description%> </div>
    </div>
    <div class="four wide column">
      <h4 class="content">URL</h4>
      <div class="content">
        <%if(JSON.parse(software.metadata).url){%>
        <a href="<%=JSON.parse(software.metadata).url.location%>" target=_blank>
          <%=JSON.parse(software.metadata).url.location%></a>
        <%} else { %>
        geen link
        <%}%>
        </div>
    </div>
  </div>
  <%}%>
  <h4 class="content">Toegevoegd op</h4>
  <div class="content"><%=software.created.toJSON().slice(0,10).split('-').reverse().join('/')%> </div>
  
  <a id="edit" 
  class="ui primary basic button" 
  href="/schools/<%=school._id%>/software/<%=software._id%>/edit">
  Bewerken
</a>
<form id="delete" 
action="/schools/<%= school._id %>/software/<%=software._id%>?_method=DELETE" 
method="POST">
<button class="ui red basic button">Verwijderen</button>
</form>
</div>
</div>
</div>

<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>