<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%if(schoolLevel){%>
  <%- include('../partials/school-header') %>
  <h2 class="ui top attached header">Enquête Bewerken van <%= school.name %></h2>
<%} else { %>
  <%- include('../partials/organisation-header') %>
  <h2 class="ui top attached header">Enquête Bewerken</h2>
<% } %>
  <form class="ui form" action="/organisations/<%=organisation._id%>/survey/<%=survey._id%>?_method=PUT" 
          method="POST" novalidate class="ui form">
      <div class="field">
        <label>Naam van de enquête </label>
        <input type="text" name="name" value="<%=survey.name%>">
      </div>
      <input type="hidden" name="isActive" value="false" />
      <%if(survey.isCompetenceSurvey){%>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="isActive" <%if(survey.isActiveCompetenceSurvey){%>checked<%}%> type="hidden">
            <label>Is actieve deskundigheidstest?</label>
          </div>
        </div>
        <div class="field">
          <label>Minimum niveau</label>
          <input type="number" name="minimumLevel" value="<%=survey.minimumLevel%>">
        </div>
        <div class="field">
          <label>Hoog niveau</label>
          <input type="number" name="highLevel" value="<%=survey.highLevel%>">
        </div>
      <%} else if(survey.isSoftwareSurvey){%>
        <div class="field">
          <h5>Is actief?</h5>
          <div class="ui checkbox">
            <input type="checkbox" name="isActive" <%if(survey.isActiveSoftwareSurvey){%>checked<%}%> type="hidden">
            <label>Is actief beoordelingsformulier?</label>
          </div>
        </div>
      <%}%>
      <button class="ui primary button" type="submit">Bewaren</button>
      <div class="ui error message"></div>
  </form>  

<%if(schoolLevel){%>
  <div id="schoolId" hidden><%=school._id%></div>
  <%- include('../partials/school-footer') %>
<%} else {%>
  <div id="organisationId" hidden><%=organisation._id%></div>
  <%- include('../partials/organisation-footer') %>
<% } %>
<%- include('../partials/footer') %>
