<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(schoolLevel){%>
<% include ../partials/school-header %>
<% } else {%>
  <% include ../partials/organisation-header %> 
<%}%>

<div class="ui container">
  <h2 class="ui center aligned header">
    <div>Enquêtes</div>
  </h2>
  <%if(!schoolLevel){%>
  <div class="ui pointing dropdown link item">
    <i class="add icon"></i>
    <span class="text">Enquête Toevoegen</span>
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/organisations/<%=organisation._id%>/survey/new/">Blanco Enquête Toevoegen</a>
      <div class="item">
        Deskundigheidstests Pillars
        <div class="menu">
          <a class="item" href="/organisations/<%=organisation._id%>/survey/ictSkills/competence">ICT Vaardigheden</a>
          <a class="item" href="/organisations/<%=organisation._id%>/survey/pedagogicalDidacticalSkills/competence">Pedagogisch Didactisch Handelen</a>
          <a class="item" href="/organisations/<%=organisation._id%>/survey/workInSchoolContext/competence">Werken in de schoolcontext</a>
          <a class="item" href="/organisations/<%=organisation._id%>/survey/personalDevelopment/competence">Persoonlijke Ontwikkeling</a>
        </div>
      </div>
      <div class="item">
        Deskundigheidstests Alpha Scholengroep
        <div class="menu">
          <a class="item" href="/organisations/<%=organisation._id%>/survey/instrumentalSkills/competence">Instrumentele vaardigheden</a>
          <a class="item" href="/organisations/<%=organisation._id%>/survey/informationSkills/competence">Informatievaardigheden</a>
          <a class="item" href="/organisations/<%=organisation._id%>/survey/mediaSkills/competence">Mediavaardigheden</a>
        </div>
      </div>
      <a class="item" href="/organisations/<%=organisation._id%>/survey/assessmentForm/competence">
        Observatie-instrument voor optimaal leerrendement uit ICT-gebruik</a>
      <a class="item" href="/organisations/<%=organisation._id%>/survey/rubric/competence">
        Beoordelingsinstrument adhv Rubrics</a>
      <a class="item" href="/organisations/<%=organisation._id%>/survey/kennisnet/software">Beoordeling van Leermiddelen</a>
    </div>
  </div>
  <% } %>
  <!--divider and then all cards for surveys -->
  <div class="ui divider"></div>
  <!-- placeholder if no surveys -->
  <%if(surveys.length===0){%>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="dont icon"></i>
      Nog geen enquêtes
    </div>
  </div>
  <%}%>
  <!--cards with surveys-->
  <div class="ui three doubling cards">
    <% surveys.forEach(function(survey){ %>
    <div class="<%if(survey.isActiveCompetenceSurvey || survey.isActiveSoftwareSurvey){%> green<%} else if(survey.isCompetenceSurvey || survey.isSoftwareSurvey) {%> red <%}%> card">
      <div class="content">
        <div class="header"><%if(schoolLevel){%>
          <a href="/schools/<%=school._id%>/survey/<%=survey._id%>">
            <%} else {%>
            <a href="/organisations/<%=organisation._id%>/survey/<%=survey._id%>">
              <% } %>
              <%= survey.name %></a></div>
              <div class="description">
                <%if(survey.isValidForAllOrganisation) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%> Geldig voor hele bestuur 
              </div>
              <div class="description">
               <%if(survey.isCompetenceSurvey) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%>  Deskundigheidstest 
              </div>
              <div class="description">
               <%if(survey.isSoftwareSurvey) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%>  Beoordelingsformulier leermiddelen
              </div>
              <%if(survey.isCompetenceSurvey){%>
                <div class="description">
                  <%if(survey.isActiveCompetenceSurvey) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%> Actief
                </div>
                <div class="description">
                  Onderdeel: <%= survey.competenceStandardTitle %> 
                </div>
              <%} else if(survey.isSoftwareSurvey){%>
                <div class="description">
                  <%if(survey.isActiveSoftwareSurvey) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%> Actief
                </div>
                <div class="description">
                  Onderdeel: <%= survey.softwareStandardTitle %> 
                </div>
              <%}%>
              <%if(!schoolLevel && survey.school){%>
              <div class="description">
                School: <%=survey.school.name%>
              </div>
              <%}%> 
              <div class="description">
                Datum: <%= survey.createdAt.toJSON().slice(0,10).split('-').reverse().join('/') %>
              </div>

            </div>
            <a class="ui bottom attached button" 
            <%if(schoolLevel){%>
            href="/schools/<%=school._id%>/survey/<%=survey._id%>">
            <%} else {%>
            href="/organisations/<%=organisation._id%>/survey/<%=survey._id%>">
            <% } %>
            <i class="show icon"></i>
            Bekijk 
          </a>
        </div>
        <% }); %>
      </div>
    </div>

    <%if(schoolLevel){%>
  <% include ../partials/school-footer %>
<%} else {%>
  <% include ../partials/organisation-footer%>
<% } %>
<% include ../partials/footer %>