<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<% if(isShow) { %>
	<% include ../partials/user-header%>
	<button class="ui button" id="saveToPDFbtn" style="margin:10px">Download PDF</button>
	<div class="ui divider"></div>
	<div id="surveyData" hidden><%= JSON.stringify(surveyResult.result) %></div>
<%} else {%>
	<div class="survey__container">
<% } %>
		<div id="surveyElement"></div>
		<div id="surveyResult"></div>

		<div id="surveyText" hidden><%= JSON.stringify(survey.survey)%></div>
		<div id="surveyId" hidden><%= survey._id %></div>
		<div id="isShowing" hidden><%= isShow %></div>
		<div id="softwareText" hidden><%= JSON.stringify(software)%></div>
		<div id="customCSS" hidden><%= JSON.stringify(customCSS)%></div>
	</div>

<% if(isShow) { %>
	<% include ../partials/user-footer%>
<%} else {%>
	</div>
<% } %>
<% include ../partials/footer %>