<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(schoolLevel){%>
  <% include ../partials/school-header %>
<%} else { %>
  <% include ../partials/organisation-header %>
<%}%>
<h2 class="ui centered header"><%=survey.name%></h2>
<div class="ui icon buttons">
  <button class="ui <%if(surveyResults.length==0){%>active<%}%> icon button" 
          id="infoButton" 
          data-content="Bewerk enquête"><i class="edit icon"></i></button>
  <button class="ui icon button" id="tableButton" 
          data-content="Tabel met resultaten"><i class="table icon"></i></button>
  <button class="ui <%if(surveyResults.length>0){%>active<%}%> icon button" 
          id="chartButton"
          data-content="Grafieken"><i class="chart pie icon"></i></button>
  <% if(survey.isCompetenceSurvey){%>
    <button class="ui icon button" id="analysisButton"
          data-content="Boxplot analyse"><i class="chart bar icon"></i></button>
  <%} else if(survey.isSoftwareSurvey){%>
    <button class="ui icon button" id="bubblesButton"><i class="chart bar icon"></i></button>
  <%}%>
  <% if(limited) {%>
    <a href="/organisations/<%=organisation._id%>/survey/<%=survey._id%>/all" 
        class="ui icon button" 
        data-content="Alle resultaten ophalen"><i class="sync icon"></i></a>
  <% } %>
</div>
<div class="ui divider"></div>

<div id="info" class="transition <%if(surveyResults.length>0){%> hidden <%}%>">
  <% include ./show/info %>
</div>

  <div id="table" class="transition hidden">
    <% include ./show/table %>
  </div>
  <div id="chart" class="transition <%if(surveyResults.length==0){%> hidden <%}%>">
    <% include ./show/chart %>
  </div>
  <% if(survey.isCompetenceSurvey){%>
    <div id="analysis" class="transition hidden">
      <% include ./show/analysis %>
    </div>
    <div id="statistics" hidden><%=JSON.stringify(statistics)%></div>
  <%} else if(survey.isSoftwareSurvey){%>
      <div id="bubbles" class="transition hidden">
      <% include ./show/bubbles %>
    </div>
    <div id="bubblesInfo" hidden><%=JSON.stringify(bubbles)%></div>
  <%}%>
  <div id="surveyText" hidden><%= JSON.stringify(survey)%></div>
  <div id="surveyResults" hidden><%= JSON.stringify(surveyResults)%></div>
  
<%if(schoolLevel){%>
  <% include ../partials/school-footer %>
<% } else { %>
  <% include ../partials/organisation-footer %>
<% }%>

<% include ../partials/footer %>