<% include ../partials/school/header %>
<% include ../partials/school/side-header %>

    <h2 class="ui top attached header"><i class="bar chart icon"></i> Pillars Instellingen van <%= school.instellingsnaam %></h2>
    <% if(school.normering) { %>
      <h4>Bekijk de huidig ingestelde Pillars normering</h4>
      <a class="ui primary button" href="/normering/<%=school.normering._id%>">Bekijk normering</a>
      <div class="ui divider"></div>
    <% } %>
    <h4>Kies welke normering je wilt gebruiken voor deze school.</h4>
    <div class="ui divider"></div>
    <form class="ui form" action="/scholen/<%=school._id%>/pillars/instellingen?_method=PUT" method="POST" id="pillarsInstellingen">
        <div class="field">
      <label>Selecteer Pillars Normering</label>
      <select class="ui fluid dropdown" name="school[normering]">
        <% normeringen.forEach(function(normering){%>
         <option value="<%=normering._id%>" <%if(school.normering){if(school.normering.equals(normering._id)) { %> selected="" <% }} %>><%=normering.naam%></option>
        <%})%>
      </select>
    </div>
        
     <button class="ui button" type="submit">Bewaren</button>
    </form>


<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>