<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>

    <div class="html-content">
      <div class="ui grid">
        <div class="twelve wide column">
          <h2 class="ui header">
            <%if(school.logo || school.uploadedLogo){%><img 
                  class="ui image" 
                  src="<%=school.uploadedLogo ? school.uploadedLogo : school.logo %>"><%}%>
            <div class="content">
              <%= school.name %>
            </div>
          </h2>
        </div>
        <div class="two wide column">
          <h2 class="ui right aligned header">
            <a href="/schools/<%=school._id%>/pillars/pdf">
            <i class="file pdf icon"></i>
            </a>
          </h2>
        </div>
        <div class="two wide column">
          <h2 class="ui right aligned header">
            <a href="/schools/<%=school._id%>/pillars/settings">
            <i class="setting icon"></i>
            </a>
          </h2>
        </div>
      </div>
      <div class="ui divider"></div>
      <% if(result.errors && result.errors.length > 0) { %>
        <div class="ui red message">
          <ul>
          <%result.errors.forEach(function(errorMessage){%>
            <li><%=errorMessage%></li>
          <%})%>
          </ul>
        </div>
      <% } %>
      <!-- RESULT VARIABLE -->   
      <div id="result" data-value="<%=JSON.stringify(result)%>"></div>
      <%- include('./show/total', {statColumnWidth: "five", imgColumnWidth: "eleven"}) %>
      <!--HARDWARE-->
      <%- include('./show/hardware', {statColumnWidth: "five", imgColumnWidth: "eleven"}) %>
      <!--SOFTWARE-->
      <%- include('./show/software', {statColumnWidth: "five", imgColumnWidth: "eleven"}) %>
      <!--COMPETENCE-->
      <%- include('./show/competence', {statColumnWidth: "five", imgColumnWidth: "eleven"}) %>
      <!--MANAGEMENT-->
      <% -include ('./show/management', {statColumnWidth: "five", imgColumnWidth: "eleven"}) %>
  </div>

<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>
<%- include('./logic') %>
