<% include ../partials/school/header %>
<% include ../partials/school/side-header %>

      <h2 class="ui header"><i class="bar chart icon"></i>Pillars Grafieken</h2>
      <h2 class="ui right aligned header">
        <a href="/scholen/<%=school._id%>/pillars/instellingen">
        <i class="setting icon"></i>
        </a>
      </h2>
      <h2 style="display:none;" id="scoreComputersPerLeerling"><%=result.hardware.computersPerStudent %></h2>
      <h2 style="display:none;" id="scoreDigibordenPerKlaslokaal"><%=result.hardware.digitalBordsPerClassroom %></h2>
      <h2 style="display:none;" id="scoreNetwerk"><%=result.hardware.network %></h2>
      <h2 style="display:none;" id="scorePortableComputersPerLeerling"><%=result.hardware.portableComputersPerSchool %></h2>
      <div class="ui horizontal divider">
        Hardware
      </div>
      <canvas id="hardware"></canvas>
      <% Object.keys(result.software).forEach(function(vak){%>
          <h2 style="display:none;" id="<%=vak%>"><%=result.software[vak] %></h2>
      <%})%>
      <div class="ui horizontal divider">
        Digitale Leermiddelen
      </div>
      <canvas id="software"></canvas>
       <h2 style="display:none;" id="beoordeeldeDeskundigheid"><%=result.deskundigheid.beoordeeldeDeskundigheid %></h2>
      <h2 style="display:none;" id="gemiddeldeEffectiviteit"><%=result.deskundigheid.gemiddeldeEffectiviteit %></h2>
      <h2 style="display:none;" id="ondersteuningNodig"><%=result.deskundigheid.ondersteuningNodig %></h2>
      <h2 style="display:none;" id="ictGeletterheid"><%=result.deskundigheid.ictGeletterheid %></h2>
      <h2 style="display:none;" id="pedagogischDidactisch"><%=result.deskundigheid.pedagogischDidactisch %></h2>
      <h2 style="display:none;" id="werkenSchooltext"><%=result.deskundigheid.werkenSchooltext %></h2>
      <h2 style="display:none;" id="persoonlijkeOntwikkeling"><%=result.deskundigheid.persoonlijkeOntwikkeling %></h2>
      <div class="ui horizontal divider">
        Deskundigheid
      </div>
      <canvas id="deskundigheid"></canvas>


<% include ../partials/school/side-footer %>
<% include ../partials/school/jquery_form_validation %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="/../../js/pillars.js"></script>
<% include ../partials/school/footer %>