<%- include('./partials/header') %>
<%- include('./partials/main-menu') %>
<%- include('./partials/flash-message') %>
<%if(typeof school !== 'undefined'){%>
  <%- include('./partials/school-header') %>
<%} else if(typeof organisation !== 'undefined'){%>
  <%- include('./partials/organisation-header') %>
<%}%>

<h2 class="ui centered header">
  <%= title %>
</h2>
<div class="ui divider"></div>


<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="shipping fast icon"></i>
    Coming Soon!! We werken hard aan deze pagina...
  </div>
  <div class="ui primary button" onclick="goBack()">Terug</div>
</div>


<%if(typeof school !== 'undefined'){%>
  <%- include('./partials/school-footer') %>
<%} else if(typeof organisation !== 'undefined'){%>
  <%- include('./partials/organisation-footer') %>
<%}%>
<%- include('./partials/footer') %>