        <div class="ui grid">
          <div class="four wide column">
            <div class="ui vertical fluid tabular menu">

              <a class="item <%if(url===("/scholen/"+school._id) || url===("/scholen/"+school._id)+"/edit") { %> active <% } %>" href="/scholen/<%= school._id %>"</a>
                <%if(!school.isIngevuldAlgemeneInformatie) { %><i class="red write icon"></i><% } %>
                <i class="university icon"></i>
                Algemene informatie
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/hardware")) { %> active <% } %>" href="/scholen/<%= school._id %>/hardware"</a>
                <%if(!school.isToegevoegdHardware) { %><i class="red write icon"></i><% } %>
                <i class="desktop icon"></i>
                Hardware
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/software")) { %> active <% } %>" href="/scholen/<%= school._id %>/software"</a>
                <%if(!school.isToegevoegdSoftware) { %><i class="red write icon"></i><% } %>
                <i class="student icon"></i>
                Digitale Leermiddelen
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/deskundigheid")) { %> active <% } %>" href="/scholen/<%= school._id %>/deskundigheid"</a>
                <%if(!school.isIngevuldDeskundigheid) { %><i class="red write icon"></i><% } %>
                <i class="doctor icon"></i>
                Deskundigheid
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/organisatie")) { %> active <% } %>" href="/scholen/<%= school._id %>/organisatie"</a>
                <%if(!school.isIngevuldOrganisatie) { %><i class="red write icon"></i><% } %>
                <i class="sitemap icon"></i>
                Organisatie
              </a>
              <% if(currentUser.role ==="badmin" || currentUser.role==="sadmin" || currentUser.role=== "buser") { %>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/user")) { %> active <% } %>" href="/scholen/<%= school._id %>/user"</a>
                <%if(!school.isToegevoegdMedewerker) { %><i class="red write icon"></i><% } %>
                <i class="users icon"></i>
                Medewerkers
              </a>
              <% } %>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/pillars")) { %> active <% } %>" href="/scholen/<%= school._id %>/pillars">
                <i class="bar chart icon"></i>
                Pillars Grafieken
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/evaluation")) { %> active <% } %>" href="/scholen/<%= school._id %>/evaluation">
                <i class="comments icon"></i>
                Evaluaties
              </a>
              <a class="item <%if(url.includes("/scholen/"+school._id+"/messages")) { %> active <% } %>" href="/scholen/<%= school._id %>/messages">
                <i class="info circle icon"></i>
                Informatie
              </a>
            </div>
          </div>  
          <div class="twelve wide stretched column">
            <div class="ui segment">