<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <%if(organisation.logo){%><img class="ui image"  src="<%=organisation.logo%>"><%}%>
      <div class="content">Scholen</div>
    </h2>
    <% if(currentUser.role==="badmin" || currentUser.role ==="padmin") { %>
      <div class="ui dropdown item">
          <a class="circular green ui icon button" data-content="Scholen toevoegen"><i class="add icon"></i></a>
          <div class="menu">
            <a class="item" href="/schools/new">Automatisch Toevoegen</a>
            <a class="item" href="/schools/manual">Handmatig Invoeren</a>
          </div>
      </div>
      
    <% } %>
    <!--divider and then all cards for schools-->
    <div class="ui divider"></div>
    <!-- placeholder if no schools -->
    <%if(schools.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen scholen
        </div>
      </div>
    <%}%>
    <!--cards with schools-->
    <div class="ui three doubling cards">
      <% schools.forEach(function(school){ %>
      <a class="ui card" href="/schools/<%=school._id%>">

        <div class="content">
          <%if(school.logo || school.uploadedLogo){%><img 
              class="right floated tiny ui image" 
              src="<%=school.uploadedLogo ? school.uploadedLogo : school.logo %>"><%}%>
          <div class="header"><%= school.name %></div>
          <div class="description">
            <p>BRIN: <%= school.schoolIdNumber %></p>
            <span class="right floated">
              <%if(school.updatedAt){%>
                  <%= school.updatedAt.toJSON().slice(0,10).split('-').reverse().join('/')%>
              <%}%>  
            </span>
            <span>
              <%= school.city %>
            </span>
          </div>
        </div>
        <div class="ui bottom attached progress" data-percent="<%= Math.ceil(((school.countStudents ? 1 : 0) + ((school.hardware && school.hardware.length>0) ? 1 : 0) + ((school.software && school.software.length>0) ? 1 : 0) + ((school.tests && school.tests.length>0) ? 1 : 0) + (school.management.roles[0].hours>0 ? 1 : 0) + ((school.users && school.users.length>0) ? 1 : 0)) / 0.06) %>">
          <div class="bar"></div>
        </div>
      </a>
      <% }); %>
    </div>
</div>

<% include ../partials/footer %>