<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<% if(organisationLevel){ %> 
  <%- include('../partials/organisation-header') %>
  <%- include('../overview/school-header')%>
<% } else { %>
  <%- include('../partials/dashboard-header') %>
<% } %>

<div class="ui container">
  <% if(!organisationLevel){ %> 
    <h2 class="ui center aligned header">
      <%if(organisation.logo){%>
          <img class="ui image"  src="<%=organisation.logo%>">
      <%}%>
      <div class="content">Scholen</div>
    </h2>
    <!--divider and then all cards for schools-->
    <div class="ui divider"></div>
  <%}%>
    <!-- placeholder if no schools -->
    <%if(schools.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen scholen
        </div>
      </div>
    <%}%>
    <!--cards with schools-->
    <div class="ui three stackable cards">
      <% schools.forEach(function(school){ %>
        <%- include('../partials/school-card', {school: school}) %>
      <% }); %>
    </div>
</div>

<% if(organisationLevel){ %> 
  <%- include('../partials/organisation-footer') %>
<% } else { %>
  <%- include('../partials/dashboard-footer') %>
<% } %>
<%- include('../partials/footer') %>