<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>
<%- include('../classroom/header') %>

<div class="ui modal floorMap">
  <div class="header">Plattegrond</div>
  <div class="image content">
    <img class="ui image" src="<%=school.floorMap%>">
  </div>
</div>
<div class="item">
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h4 class="content">Adres</h4>
      <div class="content"><%= school.streetName %> <%= school.houseNumber %></div>
      <div class="content"><%= school.postalCode %> <%= school.city %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">BRIN nummer</h4>
      <div class="content"><%= school.schoolIdNumber %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Vestigingsnummer</h4>
      <div class="content"><%= school.schoolLocationIdNumber %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Bevoegd gezag nummer</h4>
      <div class="content"><%= school.organisationIdNumber %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Aantal leerlingen</h4>
      <div class="content"><%= school.countStudents %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Aantal klaslokalen</h4>
      <div class="content"><%= school.countClassrooms %></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">School heeft snel en betrouwbaar bedraad netwerk</h4>
      <div class="content">
        <% if(school.network.wired) { %>
        Ja
        <% } else { %>
        Nee
        <% } %>
      </div>
    </div>
    <div class="eight wide column">
      <h4 class="content">School heeft snel en betrouwbaar draadloos netwerk</h4>
      <div class="content">
        <% if(school.network.wireless) { %>
        Ja
        <% } else { %>
        Nee
        <% } %>
      </div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Oordeel inspectie</h4>
      <div class="content"><%=school.inspectionResult%></div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Plattegrond</h4>
      <div class="content">
        <%if(school.floorMap){%>
          <button type="button" class="ui icon button" id="floorMap">
            <i class="map icon"></i>
          </button>
        <%} else {%>
          Upload plattegrond bij "Bewerken"
        <% } %>
      </div>
    </div>
    <div class="eight wide column">
      <h4 class="content">School admins</h4>
      <div class="content"> 
        <ul>
        <%schoolAdmins.forEach(function(admin){%>
          <%if(admin.firstName && admin.lastName){%>
            <li><%=admin.firstName%> <%=admin.lastName%></li>
          <%} else {%>
            <li><%=admin.username%></li>
          <%}%>
        <%})%>
        </ul>
      </div>
    </div>
    <div class="eight wide column">
      <h4 class="content">Laatste update</h4>
      <div class="content"> 
       <%if(school.updatedAt){%>
          <%= school.updatedAt.toJSON().slice(0,10).split('-').reverse().join('/')%>
       <%}%>
      </div>
    </div>
  </div>
  <% if(!(currentUser.role==="suser")) { %>
    <a id="edit" class="ui primary basic button" href="/schools/<%= school._id %>/edit">Bewerken</a>
  <% } %>
  <% if(currentUser.role==="padmin") { %>
  <button class="ui red basic button" id="delete">Verwijderen</button>
  <div class="ui hidden warning message">
    <div class="header">Waarschuwing</div>
    <p>Weet je zeker dat je deze school wilt verwijderen? Dit kan niet worden hersteld.</p>
    <button class="ui positive button" id="cancel">Cancel</button>
    <form form id="delete" action="/admin/schools/<%= school._id %>?_method=DELETE" method="POST">
      <button class="ui negative button">Verwijder School</button>
    </form>
  </div>

  <% } %>
</div>


<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>