<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/organisation-header') %>

<%var name='Bestuur'; var compareName='Landelijk';%>
<h2 class="ui centered header">
  Deskundigheid van leerkrachten
</h2>
<div class="ui small info message">
  <ul class="list">
    <li>Indicator toont de gemiddelde score van het bestuur</li>
    <li>Gekleurde delta toont de afwijking ten opzichte van de gemiddelde score landelijk</li>
  </ul>
</div>
<div class="ui stackable grid">
  <%surveys.forEach(function(survey, index){%>
      <%if(survey.isActiveCompetenceSurvey){ %>
        <%var resultsUrl = "/organisations/" + organisation._id +"/survey/" + survey._id%>
        <%- include('../partials/competence-chart/competence-chart') %>
      <%}%>
  <%})%>
</div>
<div id='nonactive-content'>
  <div class="ui divider"></div>
  <h3 class="ui header">Eerdere tests</h3>
  <div class="ui stackable grid">
    <%surveys.forEach(function(survey, index){%>
        <%if(!survey.isActiveCompetenceSurvey){ %>
          <%var resultsUrl = "/organisations/" + organisation._id +"/survey/" + survey._id%>
          <%- include('../partials/competence-chart/competence-chart') %>
        <%}%>
    <%})%>
  </div>
</div>
<div class="ui divider"></div>
<input class="ui button" type='button' id='hideshow' value='Gearchiveerde tests'>


<div id="surveysInfo" hidden><%= JSON.stringify(surveys)%></div>
<div id="resultsInfo" hidden><%= JSON.stringify(results)%></div>

<%- include('../partials/organisation-footer') %>
<%- include('../partials/footer') %>