<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Overzicht Pillars Resultaten</div>
    </h2>
    <canvas id="overview-graph"></canvas>
    <p>Dit is een overzicht van alle Pillars resultaten van scholen aangesloten bij jouw bestuur. Je kunt deze gegevens downloaden als csv bestand.</p>
    <div class="ui message">
      <div class="header">
        Tip voor openen csv bestand
      </div>
      <p>Het csv bestand heeft een komma als scheidingsteken. Heb je problemen met het openen van het bestand?
      Probeer het bestand dan eens te importeren in een Google sheet. Maak hiervoor een nieuwe Google sheet aan 
      en kies Bestand-->Importeren. Je kunt dan de komma als scheidingsteken selecteren. </p>
      <p>Gebruik je Safari? Dan wordt het csv bestand in je browser getoond. Je kunt dan daarna de pagina alsnog
      bewaren als csv. Als dit niet lukt, gebruik dan een andere browser, bijvoorbeeld Chrome.</p>
       <a class="ui primary small button" href="/overview/pillars/download">
      Download csv bestand
      </a>
    </div>
    <!--make table with schools and pillars results-->
    <table class="ui celled small table">
      <thead>
        <tr>
          <th>Instellingsnaam</th>
          <th>Hardware</th>
          <th>Digitale Leermiddelen</th>
          <th>Deskundigheid</th>
          <th>Organisatie</th>
          <th>Bekijk</th>
          <th>Rapport</th>
        </tr>
      </thead>
      <tbody>
        <% schools.forEach(function(school, i){ %>
            <tr>
              <td><%=school.name%></td>
              <td><%=results[i].total.hardware.toFixed(2)%></td>
              <td><%=results[i].total.software.toFixed(2)%></td>
              <td><%=results[i].total.competence.toFixed(2)%></td>
              <td><%=results[i].total.management.toFixed(2)%></td>
              <td><a class="ui mini primary basic button" href="/schools/<%=school._id%>/pillars">Bekijk</a></td>
              <td><a class="ui mini positive basic button" href="<%=results[i].link%>" 
                    <%if(results[i].link!=="#"){%>target="_blank"<%}%>>Rapport</a></td>
            </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<% include ../partials/footer %>
