<% include ../partials/school/header %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Overzicht Pillars Resultaten</div>
    </h2>
    <p>Dit is een overzicht van alle Pillars resultaten van scholen aangesloten bij jouw bestuur. Je kunt deze gegevens downloaden als csv bestand.</p>
    <div class="ui message">
      <div class="header">
        Tip voor openen csv bestand
      </div>
      <p>Het csv bestand heeft een komma als scheidingsteken. Heb je problemen met het openen van het bestand?
      Probeer het bestand dan eens te importeren in een Google sheet. Maak hiervoor een nieuwe Google sheet aan 
      en kies Bestand-->Importeren. Je kunt dan de komma als scheidingsteken selecteren.</p>
       <a class="ui negative small button" href="">
      Download csv bestand (under construction)
      </a>
    </div>
    <!--make table with schools and pillars results-->
    <table class="ui celled small table">
      <thead>
        <tr>
          <th>Instellingsnaam</th>
          <th>Hardware</th>
          <th>Digitale Leermiddelen</th>
          <th>Deskundigheid</th>
          <th>Organisatie</th>
          <th>Bekijk</th>
        </tr>
      </thead>
      <tbody>
        <% scholen.forEach(function(school, i){ %>
            <tr>
              <td><%=school.instellingsnaam%></td>
              <td><%=results[i].totaal.hardware.toFixed(2)%></td>
              <td><%=results[i].totaal.software.toFixed(2)%></td>
              <td><%=results[i].totaal.deskundigheid.toFixed(2)%></td>
              <td><%=results[i].totaal.organisatie.toFixed(2)%></td>
              <td><a class="ui mini primary basic button" href="/scholen/<%=school._id%>/pillars">Bekijk</a></td>
            </tr>
        <% }) %>
      </tbody>
    </table>
</div>

<% include ../partials/school/footer %>