<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/organisation-header %>
<% include ../partials/organisation-overview-header %>

<table class="ui celled small table">
  <thead>
    <tr>
      <th>Instellingsnaam</th>
      <th>Vak</th>
      <th>Naam</th>
      <th>Functies</th>
      <th>Groepen</th>
      <th>Kwaliteiten</th>
      <th>Type</th>
      <th>Bekijk</th>
    </tr>
  </thead>
  <tbody>
    <% schools.forEach(function(school){ %>
      <% school.software.forEach(function(software){ %>
        <tr>
          <td><%=school.name%></td>
          <td><%=software.subject%></td>
          <td><%=software.name%></td>
          <td><%=software.functionalities%></td>
          <td><%=software.gradeLevels%></td>
          <td><%=software.ratings%></td>
          <td><%=software.typeOfSoftware%></td>
          <td class="selectable"><a href="/schools/<%=school._id%>/software/<%=software._id%>">Bekijk</a></td>
        </tr>
      <% }) %>
    <% }) %>
  </tbody>
</table>

<% include ../partials/organisation-footer %>
<% include ../partials/footer %>