<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/organisation-header %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Overzicht Test Resultaten</div>
    </h2>
    
    <div class="ui message">
      <div class="header">
        Test resultaten
      </div>
      <p>Dit is een overzicht van alle testresultaten op de aangesloten scholen bij jouw bestuur. Je kunt het overzicht op verschillende manieren downloaden.</p>
    </div>
    <!--make table with schools and progress-->
    <table class="ui celled small table">
      <thead>
        <tr>
          <th>Instellingsnaam</th>
          <th>Onderdeel</th>
          <th>Resultaat</th>
          <th>Gebruikersnaam</th>
          <th>Personeel</th>
          <th>Bekijk</th>
        </tr>
      </thead>
      <tbody>
        <% schools.forEach(function(school){ %>
          <% school.tests.forEach(function(test){ %>
            <tr>
              <td><%=school.name%></td>
              <td><%=test.subject%></td>
              <td><%= Math.ceil(test.result * 100) %> %</td>
              <td><%= test.owner && test.owner.publicProfile ? test.owner.username : 'anoniem' %></td>
              <td><%= test.owner && test.owner.isTeacher ? 'onderwijzend' : 'ondersteunend/onbekend'%></td>
              <td class="selectable"><a href="/user/test_overview/test/<%=test._id%>">Bekijk</a></td>
            </tr>
          <% }) %>
        <% }) %>
      </tbody>
    </table>
</div>

<% include ../partials/organisation-footer %>
<% include ../partials/footer %>