<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/user-header') %>
<h2 class="ui header">
  <%if(user.imageUrl){%>
      <img 
        class="ui image" 
        src="<%=user.imageUrl %>">
  <%}%>
  <div class="content">
    <% if(user.firstName && user.lastName){ %>
      <%= user.firstName + ' ' + user.lastName %>
    <% } else {%>
      <%= user.username %>
    <% } %>
  </div>
</h2>
<div class="ui divider"></div>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Email</h4>
      <div class="content"><%=user.username%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Voornaam</h4>
      <div class="content"><%=user.firstName%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Achternaam</h4></h4>
      <div class="content"><%=user.lastName%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Rol</h4></h4>
      <div class="content"><%if(user.role==="badmin"){%>Bestuur admin
        <%} else if(user.role==="buser"){%>Bestuur medewerker
        <%} else if(user.role==="sadmin"){%>School admin
        <%} else if(user.role==="padmin"){%>Pillars admin
        <%} else {%>School medewerker<%}%></div>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="four wide column">
        <h4 class="content">Bestuur</h4>
        <div class="content"><%=user.organisation.name%></div>
      </div>
      
      <div class="four wide column">
        <h4 class="content">School</h4>
        <%if(user.role == 'suser' || user.role == 'sadmin'){%>
        	<%user.school.forEach(function(s){%>
        		<div class="content"><%=s.name%></div>
        	<%})%>
        <% } else { %>
        	<div class="content">Niet van toepassing</div>
        <% } %>
      </div>
     
    </div>
    <div class="ui divider"></div>
    <a class="ui primary button right" href="/user/<%=user._id%>/account/edit">Account wijzigen</a>

<%- include('../partials/user-footer') %>
<%- include('../partials/footer') %>