<% include ../partials/school/header %>

<div class="ui container">
    <div class="ui huge header">Profiel Aanpassen</div>
    <div class="ui divider"></div>
    <form class="ui form" action="/user/<%=user._id%>?_method=PUT" method="POST" id="profielForm" novalidate>
        <div class="two fields">
          <div class="field">
              <label>E-mail adres</label>
              <input type="text" name="user[username]" value="<%=user.username%>" id="user[username]">
          </div>
        </div>
        <div class="ui warning message">
          <div class="header">Let op!</div>
          <ul class="list">
            <li>Als je het email adres wijzigt, dan zul je worden uitgelogd en moet je opnieuw inloggen.</li>
          </ul>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Voornaam</label>
              <input type="text" name="user[firstName]" value="<%=user.firstName%>" id="user[firstName]">
          </div>
          <div class="field">
              <label>Achternaam</label>
              <input type="text" name="user[lastName]" value="<%=user.lastName%>" id="user[lastName]">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Organisatie</label>
              <input type="text" name="user[org]" value="<%=user.org%>" id="user[org]">
          </div>
          <div class="field">
              <label>Functie</label>
              <input type="text" name="user[job]" value="<%=user.job%>" id="user[job]">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Geboortedatum</label>
              <input type="date" name="user[geboorteDatum]" 
                id="geboorteDatum"
                value="<%=user.geboorteDatum? user.geboorteDatum.toISOString().slice(0,10) : null %>">
          </div>
          <div class="field">
              <label>Geslacht</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[geslacht]" id="dropdown" value="<%=user.geslacht%>">
                  <div class="text"><%=user.geslacht%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                        <div class="item <%if(user.geslacht==="M"){%>active<%}%>"
                            data-value="M"
                          <% if(user.geslacht==="M"){ %> selected="" <% } %> >
                              Man
                        </div>
                        <div class="item <%if(user.geslacht==="V"){%>active<%}%>"
                            data-value="V"
                          <% if(user.geslacht==="V"){ %> selected="" <% } %> >
                              Vrouw
                        </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Bouw</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[bouw]" id="dropdown" value="<%=user.bouw%>">
                  <div class="text"><%=user.bouw%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                        <div class="item <%if(user.bouw==="Onderbouw"){%>active<%}%>"
                            data-value="Onderbouw"
                          <% if(user.bouw==="Onderbouw"){ %> selected="" <% } %> >
                              Onderbouw
                        </div>
                        <div class="item <%if(user.bouw==="Middenbouw"){%>active<%}%>"
                            data-value="Middenbouw"
                          <% if(user.bouw==="Middenbouw"){ %> selected="" <% } %> >
                              Middenbouw
                        </div>
                        <div class="item <%if(user.bouw==="Bovenbouw"){%>active<%}%>"
                            data-value="Bovenbouw"
                          <% if(user.bouw==="Bovenbouw"){ %> selected="" <% } %> >
                              Bovenbouw
                        </div>
                  </div>
              </div>
          </div>
          <div class="ui toggle checkbox">
            <input type="hidden" value="0" name="user[publicProfile]">
            <input 
              type="checkbox" 
              name="user[publicProfile]"
              value="1"
            >
            <label>Ik geef mijn leidinggevende en ICT'er inzage in mijn testresultaten en profiel</label>
          </div>
        </div>
    <button class="ui button" type="submit">Bewaren</button>
    <div class="ui error message"></div>
    </form>
    
</div>
        
<% include ../partials/school/footer %>