<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/user-header') %>

    <div class="ui huge header">Profiel Aanpassen</div>
    <div class="ui divider"></div>
    <form class="ui form" action="/user/<%=user._id%>?_method=PUT" method="POST" id="profileForm" novalidate>
        <div class="two fields">
          <div class="field">
              <label>E-mail adres</label>
              <input type="text" name="user[username]" value="<%=user.username%>" id="user[username]">
          </div>
          <div class="field">
              <label>Upload avatar</label>
              <input type="hidden" 
                    role="uploadcare-uploader" 
                    name="user[imageUrl]"
                    value="<%=user.imageUrl%>"
                    data-image-shrink="256x256"
                    data-multiple="false"/>
            </div>
        </div>
        <div class="ui warning message">
          <div class="header">Let op!</div>
          <ul class="list">
            <li>Als je het email adres wijzigt, dan zul je worden uitgelogd en moet je opnieuw inloggen.</li>
          </ul>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Voornaam</label>
              <input type="text" name="user[firstName]" value="<%=user.firstName%>" id="user[firstName]">
          </div>
          <div class="field">
              <label>Achternaam</label>
              <input type="text" name="user[lastName]" value="<%=user.lastName%>" id="user[lastName]">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Functie</label>
              <input type="text" name="user[job]" value="<%=user.job%>" id="user[job]">
          </div>
          <div class="field">
            <label>Bouw</label>
              <select multiple="" name="user[gradeLevelGroup]" class="ui dropdown">
                <option value="">Selecteer bouw</option>
                <% ['Onderbouw', 'Middenbouw', 'Bovenbouw'].forEach(function(gradeLevel) { %>
                <option value="<%=gradeLevel%>" <%if(user.gradeLevelGroup.includes(gradeLevel)) { %> selected="" <% } %>><%=gradeLevel%></option>
                <% }) %>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
              <label>Geboortedatum</label>
              <input type="date" name="user[dateOfBirth]" 
                id="user[dateOfBirth]"
                value="<%=user.dateOfBirth? user.dateOfBirth.toISOString().slice(0,10) : null %>">
          </div>
          <div class="field">
              <label>Geslacht</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[gender]" id="dropdown" value="<%=user.gender%>">
                  <div class="text"><%=user.gender%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                        <div class="item <%if(user.gender==="M"){%>active<%}%>"
                            data-value="M"
                          <% if(user.gender==="M"){ %> selected="" <% } %> >
                              Man
                        </div>
                        <div class="item <%if(user.gender==="V"){%>active<%}%>"
                            data-value="V"
                          <% if(user.gender==="V"){ %> selected="" <% } %> >
                              Vrouw
                        </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="two fields">
          
          <div class="inline fields">
            <label>Personeelstype</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input 
                      type="radio" 
                      name="user[isTeacher]" 
                      value="0" 
                      <% if(!user.isTeacher) { %>checked="checked"<% } %>>
                <label>Onderwijsondersteunend</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input 
                      type="radio" 
                      name="user[isTeacher]" 
                      value="1"
                      <% if(user.isTeacher) { %>checked="checked"<% } %>>
                <label>Onderwijzend</label>
              </div>
            </div>
          </div>
          <div class="inline fields">
            <label>Ik geef schoolleiding inzage in mijn profiel</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input 
                      type="radio" 
                      name="user[publicProfile]" 
                      value="0" 
                      <% if(!user.publicProfile) { %>checked="checked"<% } %>>
                <label>Nee</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input 
                      type="radio" 
                      name="user[publicProfile]" 
                      value="1"
                      <% if(user.publicProfile) { %>checked="checked"<% } %>>
                <label>Ja</label>
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <%var technologyAdoptionArray = [{id: '0', description: 'Ik gebruik ze liever niet'}, {id: '1', description: 'Ik wacht liever even af voordat ik deze technologieën ga gebruiken'}, {id: '2', description: "Ik gebruik ze alleen als ik duidelijke voordelen zie en doe dit in hetzelfde tempo als mijn collega's"}, {id: '3', description: "Ik probeer nieuwe technologieën uit zodra ik een paar keer heb gehoord dat een nieuwe tool handig is"}, {id: '4', description: 'Ik volg alle ontwikkelingen, doe mee met testfases/ontwikkeling van tools, ik loop voorop in gebruik en help met het invoeren'}]%>
          <div class="field">
              <label>Welke beschrijving is het meest op jou van toepassing bij het gebruik van nieuwe digitale technologieën (applicaties, websites, digitale tools)?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[technologyAdoption]" id="dropdown" value="<%=user.technologyAdoption%>">
                  <div class="text"><%=user.technologyAdoption%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <%technologyAdoptionArray.forEach(item => {%>
                        <div class="item <%if(user.technologyAdoption===item.id){%>active<%}%>"
                            data-value="<%=item.id%>"
                          <% if(user.technologyAdoption===item.id){ %> selected="" <% } %> >
                              <%=item.description%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
          <%var hardwareAdoptionArray = [{id: '0', description: 'Ik gebruik liever geen (nieuwe) hardware'}, {id: '1', description: 'Ik wacht liever even af voordat ik nieuwe hardware ga gebruiken'}, {id: '2', description: "Ik gebruik nieuwe hardware alleen als ik duidelijke voordelen zie en loop daarmee in de pas met de meeste van mijn collega's"}, {id: '3', description: "Ik gebruik vrij vaak nieuwe hardware en ik word enthousiast van nieuwe telefoons, tablets en computers"}, {id: '4', description: 'Ik sta vooraan in de rij als er nieuwe mobiele telefoons, tablets of computers uitgebracht worden en ik volg alle ontwikkelingen op dit gebied'}]%>
          <div class="field">
              <label>Welke beschrijving is het meest op jou van toepassing bij het gebruik van nieuwe hardware (mobiele telefoons, tablets, computers)?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[hardwareAdoption]" id="dropdown" value="<%=user.hardwareAdoption%>">
                  <div class="text"><%=user.hardwareAdoption%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <%hardwareAdoptionArray.forEach(item => {%>
                        <div class="item <%if(user.hardwareAdoption===item.id){%>active<%}%>"
                            data-value="<%=item.id%>"
                          <% if(user.hardwareAdoption===item.id){ %> selected="" <% } %> >
                              <%=item.description%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
        </div>
        <div class="two fields">
          <%var softwareArray = [{id: 'microsoft', description: 'Microsoft Office365 (Word, Excel, Powerpoint)'}, {id: 'google', description: 'Google G-Suite (Docs, Sheets, Presentaties)'}, {id: 'apple', description: "Apple iWorks (Pages, Numbers, Keynote)"}]%>
          <div class="field">
              <label>Welke leverancier van standaard kantoortoepassingen heeft jouw voorkeur voor schoolwerk?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[softwarePreference]" id="dropdown" value="<%=user.softwarePreference%>">
                  <div class="text"><%=user.softwarePreference%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <%softwareArray.forEach(item => {%>
                        <div class="item <%if(user.softwarePreference===item.id){%>active<%}%>"
                            data-value="<%=item.id%>"
                          <% if(user.softwarePreference===item.id){ %> selected="" <% } %> >
                              <%=item.description%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
          <%var hardwareArray = [{id: 'tablet', description: 'Tablet'}, {id: 'chromebook', description: 'Chromebook'}, {id: 'laptop', description: "Laptop"}, {id: 'desktop', description: 'Desktop'}]%>
          <div class="field">
              <label>Welk device heeft jouw voorkeur voor schoolwerk?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="user[hardwarePreference]" id="dropdown" value="<%=user.hardwarePreference%>">
                  <div class="text"><%=user.hardwarePreference%></div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <%hardwareArray.forEach(item => {%>
                        <div class="item <%if(user.hardwarePreference===item.id){%>active<%}%>"
                            data-value="<%=item.id%>"
                          <% if(user.hardwarePreference===item.id){ %> selected="" <% } %> >
                              <%=item.description%>
                        </div>
                      <%})%>
                  </div>
              </div>
          </div>
        </div>
    <button class="ui negative button" type="button" onclick="goBack()">Annuleren</button>
    <button class="ui primary button" type="submit">Bewaren</button>
    <div class="ui error message"></div>
    </form>
    
<%- include('../partials/user-footer') %>     
<%- include('../partials/footer') %>