<h2 class="ui centered header">Accounts</h2>
<%if(typeof school !=='undefined'){%>
<div class="ui small basic icon buttons">
  <a class="ui <%if(url===("/schools/"+school._id+"/user")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/user"
      data-content="Lijst met accounts">
        <i class="list icon"></i>
  </a>
  <a class="ui <%if(url===("/schools/"+school._id+"/user/cards")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/user/cards" 
      data-content="Kaarten">
      <i class="th icon"></i>
  </a>
  <a class="ui <%if(url===("/schools/"+school._id+"/user/charts")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/user/charts"
      data-content="Grafieken">
      <i class="chart pie icon"></i>
  </a>
  <a class="ui <%if(url===("/schools/"+school._id+"/user/csv-import")){ %> active <%}%> button" 
      href="/schools/<%=school._id%>/user/csv-import"
      data-content="Upload lijst met medewerkers">
      <i class="upload icon"></i>
  </a>
</div>
<div class="ui small basic icon buttons">
  <div class="ui dropdown item">
      <a class="ui button" data-content="Accounts toevoegen"><i class="add icon"></i></a>
      <div class="menu">
        <a class="item" href="/schools/<%=school._id%>/user/new/"><i class="add user icon"></i> Account Toevoegen met Email/Wachtwoord</a>
        <a class="item" href="/schools/<%=school._id%>/user/newSocial/"><i class="add user icon"></i> Account Toevoegen met Schoolaccount (Google / Office365)</a>
        <div class="divider"></div>
        <div class="header">Bulk import medewerkers</div>
        <a class="item" href="/schools/<%=school._id%>/user/newBulk/"><i class="th list icon"></i> Lijst met email adressen invoeren (Google / Office365)</a>
        <a class="item" href="/schools/<%=school._id%>/user/csv-import/"><i class="upload icon"></i> Csv bestand uploaden</a>
      </div>
  </div>
</div>
<%} else if(typeof organisation!== 'undefined'){%>
<div class="ui small basic icon buttons">
<a class="ui <%if(url===("/organisations/"+organisation._id+"/org-user")){ %> active <%}%> button" 
    href="/organisations/<%=organisation._id%>/org-user"
    data-content="Lijst met accounts">
      <i class="list icon"></i>
</a>
<a class="ui <%if(url===("/organisations/"+organisation._id+"/org-user/cards")){ %> active <%}%> button" 
    href="/organisations/<%=organisation._id%>/org-user/cards" 
    data-content="Kaarten">
    <i class="th icon"></i>
</a>
<a class="ui <%if(url===("/organisations/"+organisation._id+"/org-user/charts")){ %> active <%}%> button" 
    href="/organisations/<%=organisation._id%>/org-user/charts"
    data-content="Grafieken">
    <i class="chart pie icon"></i>
</a>
<a class="ui <%if(url===("/organisations/"+organisation._id+"/org-user/csv-import")){ %> active <%}%> button" 
    href="/organisations/<%=organisation._id%>/org-user/csv-import"
    data-content="Upload lijst met bestuur medewerkers">
    <i class="upload icon"></i>
</a>


</div>
<div class="ui small basic icon buttons">
<div class="ui dropdown item">
  <a class="ui button" data-content="Accounts toevoegen"><i class="add icon"></i></a>
  <div class="menu">
        <a class="item" href="/organisations/<%=organisation._id%>/org-user/new/">Bestuur Toevoegen met Email/Wachtwoord</a>
        <a class="item" href="/organisations/<%=organisation._id%>/org-user/newSocial/">Bestuur Toevoegen met Schoolaccount</a>
    </div>
</div>
</div>

<%}%>
<div class="ui divider"></div>