<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

      <h2 class="ui header"><i class="users icon"></i></i>Medewerkers van <%= school.name %></h2>
        <div class="ui pointing dropdown link item">
          <i class="add icon"></i>
          <span class="text">Nieuw</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/schools/<%=school._id%>/user/new/"><i class="add user icon"></i> Medewerker Toevoegen met Email/Wachtwoord</a>
            <a class="item" href="/schools/<%=school._id%>/user/newSocial/"><i class="add user icon"></i> Medewerker Toevoegen met Schoolaccount (Google / Office365)</a>
            <div class="divider"></div>
            <div class="header">Bulk import medewerkers</div>
            <a class="item" href="/schools/<%=school._id%>/user/newBulk/"><i class="th list icon"></i> Lijst met email adressen invoeren (Google / Office365)</a>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui cards">
          <!--make a card for each user-->
          <% school.users.forEach(function(user){ %>
          <div class="card">
            <div class="content">
              <div class="header"><%=user.firstName %> <%=user.lastName %></div>
              <div class="description">
                    <%=user.username%>
              </div>
              <div class="description">
                    <% if(user.role==="sadmin") { %>Pillars administrator <% } else { %>Medewerker <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <% if (user.publicProfile) { %><a class="ui yellow button" href="/user/<%=user._id%>">Bekijken</a><%}%>
              <button class="ui red basic button warning-delete-user">Verwijderen</button>
              <div class="ui hidden warning message">
                <div class="header">Waarschuwing</div>
                <p>Weet je zeker dat je deze gebruiker wilt verwijderen? Dit kan niet worden hersteld.</p>
                <button class="ui positive button cancel-delete-user">Cancel</button>
                <form id="delete" 
                  action="/schools/<%= school._id %>/user/<%=user._id%>?_method=DELETE" method="POST">
                  <button class="ui red button">Verwijderen</button>
              </form>
              </div>
            </div>
          </div>
          <% }); %>
        </div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>
