<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(userview==="school"){ %>
  <% include ../partials/school-header %>
<%} else if(userview==="organisation"){%>
  <% include ../partials/organisation-header %>
<%}%>
<% include ./header %>

<%if(users.length===0){%>
<div class="ui placeholder segment">
  <div class="ui icon header">
    <i class="dont icon"></i>
    Nog geen accounts
  </div>
</div>
<%}%>
<table id="selectableTable" class="ui celled small table">
  <thead>
    <tr>
      <th></th>
      <th>Acties</th>
      <th>Email</th>
      <th>Voornaam</th>
      <th>Achternaam</th>
      <%if(userview==='organisation'){%>
        <th>School</th>
      <%}%>
      <th>Rol</th>
      <th>Laatste update</th>
      <th>Aantal tests</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function(user){ %>
    <tr>
      <td></td>
      <td>
        <%if(user.publicProfile){%>
          <a href="/user/<%=user._id%>">Bekijk</a>
        <%} else {%>
          Geen inzage
        <%}%>
      </td>
      <td><%= user.username %></td>
      <td><%= user.firstName ? user.firstName : user.username %></td>
      <td><%= user.lastName %></td>
      <%if(userview==='organisation'){%>
        <td><%= user.school && user.school[0] ? user.school[0].name : '-'%></td>
      <%}%>
      <td>
        <% include ../partials/user-role %>
      </td>
      <td>
        <%if(user.updatedAt){%>
        <%= user.updatedAt.toJSON().slice(0,10).split('-').reverse().join('/')%>
        <%} else {%>
        -
        <%}%> 
      </td>
      <td>
        <%= user.numberOfSurveyResults ? user.numberOfSurveyResults : 0%>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>


<div class="ui modal" id="compose-email-modal">
  <i class="close icon"></i>
  <div class="header">
    Stap 1. Maak bericht voor verzenden naar <span class='numberOfEmailRespondents'></span> email adres(sen)
  </div>
  <div class="content">
    <h4>Naar</h4>
    <div class="emailAddressInfo"></div>
    <h4>Selecteer template</h4>
    <div class="ui buttons">
      <button class="ui button" id="invitationEmailBtn">Uitnodigen</button>
      <button class="ui button" id="reminderEmailBtn">Herinneren</button>
      <button class="ui button" id="newAccountBtn">Nieuw account</button>
      <button class="ui button" id="emptyEmailBtn">Lege email</button>
    </div>
    <form class="ui form">
      <div class="required field">
        <label>Onderwerp</label>  
        <input id="emailSubject">
      </div>
      <div class="required field">
          <label>Bericht</label>  
          <textarea id="emailBody"></textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui positive approve right labeled icon button" id="btn-modal-1">
      Naar stap 2: verzenden
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<div class="ui modal" id="confirm-send-email-modal">
  <i class="close icon"></i>
  <div class="header">
    Stap 2. Bevestig bericht voor verzenden naar <span class='numberOfEmailRespondents'></span> email adres(sen)
  </div>
  <div class="content">
    <h4>Naar</h4>
    <div class="emailAddressInfo"></div>
    <h4>Onderwerp</h4>
    <div id="emailSubjectConfirm"></div>
    <h4>Bericht</h4>
    <div id="emailBodyConfirm"></div>
  </div>
  <div class="actions">
    <div class="ui positive approve right labeled icon button">
      Verzenden
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

<%if(userview==="school"){ %>
  <% include ../partials/school-footer %>
<%} else if(userview==="organisation"){%>
  <% include ../partials/organisation-footer %>
<%}%>
<% include ../partials/footer %>
