<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>

    <h2 class="ui header"><i class="users icon"></i> Medewerkers Toevoegen aan <%= school.name %></h2>
    <div class="ui divider"></div>
    <div>Gebruik dit formulier alleen als jullie Office365 of Google for Education gebruiken. Gebruikers kunnen dan inloggen via de knoppen voor Office365 of Google.</div>
    <br>
    <div>Vul email adressen in, gescheiden door een komma. Al deze medewerkers krijgen geen speciale rechten.</div> 
    <h4>LET OP:</h4>
    <p>Gebruik deze manier dus niet om administrators te maken in Pillars!</p>
    <p>Het systeem stuurt geen automatische emails naar nieuwe gebruikers bij deze manier van accounts aanmaken. U bent zelf verantwoordelijk voor het informeren van de nieuwe medewerkers over hun nieuwe account bij Pillars.</p>
    <div class="container">
        <form class="ui form" action="/schools/<%=school._id%>/user/userBulk" method="POST" novalidate>
          <div class="required field">
            <label>E-mail adressen, gescheiden door komma</label>
            <textarea name="usernames" placeholder="E-mail adressen" required></textarea>
          </div>
              
          <button class="ui button" type="submit">Doorgaan</button>
        </form>
    </div>
    
<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>