<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>
<% var generatedPassword = Math.random().toString(36).substr(2, 8) %>

    <h2 class="ui header"><i class="users icon"></i> Medewerker Toevoegen aan <%= school.name %></h2>
    <div class="ui divider"></div>
    <div>Gebruik dit formulier als jullie Office365 of Google for Education gebruiken. Gebruikers kunnen dan inloggen via de knoppen voor Office365 of Google.</div>
    <div class="container">
        <form class="ui form" id="adminRegister" action="/schools/<%=school._id%>/user" method="POST" novalidate>
          <div class="required field">
            <label>E-mail</label>
            <input type="email" name="username" placeholder="E-mail adres" id="email">
          </div>
          <div class="inline fields">
            <label for="role">Selecteer het toegangsniveau:</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="role" value="sadmin">
                  <label>Pillars administrator</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="role" value="suser" checked="">
                  <label>Medewerker (zonder speciale rechten)</label>
                </div>
              </div>
          </div>
          <input type="hidden" name="password" id="password" placeholder="Wachtwoord" value=<%=generatedPassword%> required>
          <input type="hidden" name="password_again" id="password_again" placeholder="Herhaal wachtwoord" value=<%=generatedPassword%> required>
              
          <button class="ui button" type="submit">Submit</button>
          <div class="ui error message"></div>
        </form>
    </div>
    
<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>