<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%var name='Medewerker'; var compareName= user.role == 'sadmin' || user.role == 'suser' ? 'School' : 'Bestuur';%>
 <h2 class="ui center aligned icon header">
    <i class="file pdf icon"></i>
    Rapport genereren
  </h2>
  <div class="ui container">
    <p>Hieronder zie je het rapport dat wordt gegenereerd als PDF. Druk op de knop hieronder om de PDF te maken.</p>
    <div class="buttons">
      <button class="ui secondary large button" onclick="goBack()">Terug</button>
      <button class="ui primary large button" id="cmd">PDF maken</button>
    </div>
    <div class="ui indicating progress" data-value="1" data-total="6" id="pdf__progress">
      <div class="bar"></div>
      <div class="label">Even geduld ...</div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="pdf__page enable_horizontal_scroll"> 

    <h2 class="ui header">
      <%if(user.imageUrl){%>
          <img 
            class="ui image" 
            src="<%=user.imageUrl %>">
      <%}%>
      <div class="content">
        <% if(user.firstName && user.lastName){ %>
          <%= user.firstName + ' ' + user.lastName %>
        <% } else {%>
          <%= user.username %>
        <% } %>
      </div>
    </h2>
    <div class="ui divider"></div>
    <% surveys.forEach(function(survey, index){ %>
        <%if(survey.isActiveCompetenceSurvey){ %>
          <div class="ui segments">
              <%difference=Math.round(Math.abs(results[index]['average']-results[index]['comparingAverage']))%>
              <%differenceStr=results[index]['average']>results[index]['comparingAverage'] ? 'hoger' : 'lager'%>
              <div class="ui segment">
                  <div class="ui stackable grid">
                    <div class="six wide column">
                      <h3 class="ui header"><%= survey.competenceStandardTitle %></h3>
                    </div>
                    <div class="ten wide column">
                      <%var resultsUrl = null%>
                      <div id="<%=index%>"></div>
                    </div>
                  </div>
              </div>
              <div class="ui segment">
                
                      Je hebt de test
                        ingezonden op <%=survey.createdAt.toJSON().slice(0,10).split('-').reverse().join('/')%>. 
                      Jouw resultaat op onderdeel <%=survey.competenceStandardTitle%> is <strong><%=results[index]['average']%>%</strong>.
                        Dit is <%=results[index]['difference']%>% <%=results[index]['differenceStr']%> dan het gemiddelde van <%=comparingEntity%> 
                        (<%=results[index]['comparingCount']%> tests). <%=results[index]['autoAdvice']%>.
              </div>
            </div>
          <%}%>
    <%});%>
  </div>  

<div id="surveysInfo" hidden><%= JSON.stringify(surveys)%></div>
<div id="resultsInfo" hidden><%= JSON.stringify(results)%></div>
    
<% include ../partials/footer %>
