<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/user-header %>
<h2 class="ui header">
  <%if(user.imageUrl){%>
      <img 
        class="ui image" 
        src="<%=user.imageUrl %>">
  <%}%>
  <div class="content">
    <% if(user.firstName && user.lastName){ %>
      <%= user.firstName + ' ' + user.lastName %>
    <% } else {%>
      <%= user.username %>
    <% } %>
  </div>
</h2>
  <div class="ui divider"></div>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h4 class="content">Email</h4>
      <div class="content"><%=user.username%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Voornaam</h4>
      <div class="content"><%=user.firstName%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Achternaam</h4></h4>
      <div class="content"><%=user.lastName%></div>
    </div>
    <div class="four wide column">
      <h4 class="content">Rol</h4></h4>
      <div class="content"><%if(user.role==="badmin"){%>Bestuur admin
        <%} else if(user.role==="buser"){%>Bestuur medewerker
        <%} else if(user.role==="sadmin"){%>School admin
        <%} else if(user.role==="padmin"){%>Pillars admin
        <%} else {%>School medewerker<%}%></div>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="four wide column">
        <h4 class="content">Bestuur</h4>
        <div class="content"><%=user.organisation.name%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Functie</h4>
        <div class="content"><%=user.job%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Email geverifieerd</h4>
        <div class="content"><% if (user.emailIsAuthenticated){ %>Ja <%} else {%>Nee <%}%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Leeftijd</h4>
        <div class="content"><%= user.dateOfBirth? ~~((Date.now() - user.dateOfBirth) / (31557600000)) : null %></div>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="four wide column">
        <h4 class="content">Geslacht</h4>
        <div class="content"><%=user.gender%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Bouw</h4>
        <div class="content"><%=user.gradeLevelGroup%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Onderwijzend personeel</h4>
        <div class="content"><% if(user.isTeacher) {%>Ja <%} else {%> Nee <%}%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Schoolleiding heeft inzage profiel</h4>
        <div class="content"><% if(user.publicProfile) {%>Ja <%} else {%> Nee <%}%></div>
      </div>
    </div>
    <% if(currentUser._id.equals(user._id)) { %>
      <div class="ui divider"></div>
      <% if (!user.emailIsAuthenticated){ %>  
        <a class="ui button right" href="/verify/user/<%=user._id%>">Email verifieren</a>
      <% } %>
      <a class="ui primary button right" href="/user/<%=user._id%>/edit">Gegevens wijzigen</a>
    <% } %>

<% include ../partials/user-footer %>
<% include ../partials/footer %>