<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/user-header %>

  <div class="ui centered header">Deskundigheidstests</div>
  <div class="ui divider"></div>
  <%if(!surveyResults || surveyResults.length===0){%>
  	<div class="ui placeholder segment">
	    <div class="ui icon header">
	      <i class="dont icon"></i>
	      Nog geen tests
	    </div>
	  </div>
  <%}%>
	<div class="ui relaxed divided list">
	<% surveyResults.forEach(function(surveyResult){ %>
	  <div class="item">
	    <div class="content">
	      <h5><%= surveyResult.survey.competenceStandardTitle %></h5>
	      <div class="description">
	      	<div class="right floated content">
	            <a class="ui mini blue circular icon button" data-content="Analyseer resultaten"
	                href="/survey/<%=surveyResult.survey._id%>/<%=user._id%>">
	              <i class="bar chart icon"></i>
	            </a>
	        </div>
	          <%=user.firstName%> heeft <a 
	      			href="/survey/<%=surveyResult._id%>/result">deze antwoorden</a> 
	      			ingezonden op <%=surveyResult.createdAt.toJSON().slice(0,10).split('-').reverse().join('/')%>  
	      </div>
	    </div>
	  </div>
	<%});%>
	</div>
	<div class="ui divider"></div>

<% include ../partials/user-footer %>
<% include ../partials/footer %>