<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>


    <h2 class="ui header"><i class="comments icon"></i> Evaluatie van <%= school.name %> Bewerken</h2>
    
    <div id="evaluationForm"></div>
    <div id="schoolId" hidden><%= school._id%></div>
    <div id="evaluationData" hidden><%=JSON.stringify(evaluation)%></div>
    <div id="isEdit" hidden>true</div>

</div>
    
<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>