<% include ../partials/school/header %>
<% include ../partials/school/side-header %>


    <h2 class="ui header"><i class="comments icon"></i> Evaluatie van <%= school.instellingsnaam %> Bewerken</h2>
    
    <form class="ui form" action="/scholen/<%=school._id%>/evaluation/<%=evaluation._id%>?_method=PUT" method="POST">
      <div class="field">
            <label>Titel</label>  
            <input type="text" name="evaluation[title]" value="<%=evaluation.title%>">
      </div>
      <div class="field">
            <label>Rapport van gesprek</label>  
            <textarea name="evaluation[report]"><%=evaluation.report%></textarea>
      </div>
      <div class="field">
            <label>Plan van aanpak</label>  
            <textarea name="evaluation[plan]"><%=evaluation.plan%></textarea>
      </div>
      <button class="ui button" type="submit">Bewaren</button>
    </form>
</div>
    
<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>