<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

      <h2 class="ui header"><i class="comments icon"></i> Evaluaties van <%= school.name %></h2>
        <h4><a href="/schools/<%=school._id%>/evaluation/new/"><i class="write square icon"></i> Evaluatie Toevoegen</a></h4>
        <%if(school.evaluations.length===0){%>
          <div class="ui placeholder segment">
            <div class="ui icon header">
              <i class="dont icon"></i>
              Nog geen evaluaties
            </div>
          </div>
        <%}%>

        <div class="ui cards">
          <!--make a card for each evaluation-->
          <% school.evaluations.forEach(function(evaluation){ %>
          <div class="card">
            <div class="content">
              <div class="header"><%=evaluation.title %></div>
              <div class="description">
                    <%= evaluation.report ? evaluation.report.replace(/(&nbsp;)*/g,"").replace(/<\/?[^>]+(>|$)/g, "").substring(0,100) : null%> ...
              </div>
              <div class="description">
                    <%=evaluation.created.toJSON().slice(0,10).split('-').reverse().join('/')%>
              </div>
            </div>
            <a class="ui bottom attached button" href="/schools/<%=school._id%>/evaluation/<%=evaluation._id%>">
                <i class="show icon"></i>
                Bekijk 
            </a>
          </div>
          <% }); %>
        </div>

  
<% include ../partials/school-footer %>
<% include ../partials/footer %>
