<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>


    <h2 class="ui header"><i class="comments icon"></i> Evaluatie Toevoegen aan <%= school.name %></h2>
    <div id="evaluationForm"></div>
    <div id="schoolId" hidden><%= school._id%></div>
    <div id="formsCSS" hidden><%= JSON.stringify(formsCSS) %></div>

</div>

<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>
