<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>



    <h2 class="ui header"><i class="comments icon"></i> Evaluatie van <%= school.name %></h2>
    <div id="evaluationForm"></div>
    <div id="schoolId" hidden><%= school._id%></div>
    <div id="evaluationData" hidden><%=JSON.stringify(evaluation)%></div>
    <div id="isShow" hidden>true</div>

    <a class="ui primary basic button" href="/schools/<%= school._id %>/evaluation/<%= evaluation._id%>/edit">Bewerken</a>
    <form id="delete" action="/schools/<%= evaluation.school._id %>/evaluation/<%= evaluation._id%>?_method=DELETE" method="POST">
        <button class="ui red basic button">Verwijderen</button>
    </form>
</div>
    
<% include ../partials/school-footer %>
<% include ../partials/footer %>