<% include ../partials/school/header %>
<% include ../partials/school/side-header %>


    <h2 class="ui header"><i class="comments icon"></i> Evaluatie van <%= school.instellingsnaam %></h2>
    <h4><%=evaluation.title%></h4>
    <h5>Rapport van het evaluatiegesprek</h5>
    <p><%-evaluation.report%></p>
    <h5>Plan van aanpak</h5>
    <p><%-evaluation.plan%></p>
      <a class="ui primary basic button" href="/scholen/<%= school._id %>/evaluation/<%= evaluation._id%>/edit">Bewerken</a>
      <form id="delete" action="/scholen/<%= evaluation.school._id %>/evaluation/<%= evaluation._id%>?_method=DELETE" method="POST">
          <button class="ui red basic button">Verwijderen</button>
      </form>
</div>
    
<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>