<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<% if(typeof school !== 'undefined'){%>
    <%- include('../partials/school-header') %>
<% } else if(typeof organisation !== 'undefined'){%>
    <%- include('../partials/organisation-header') %>
<%}%>

<div class="ui container">
    <div class="ui huge header">Beleid Bewerken</div>
    <% if(typeof school !== 'undefined'){%>
        <form class="ui form" action="/schools/<%=school._id%>/message/<%=message._id%>?_method=PUT" method="POST" id="messageForm" novalidate>
    <% } else if(typeof organisation !== 'undefined'){%>
        <form class="ui form" action="/organisations/<%=organisation._id%>/message/<%=message._id%>?_method=PUT" method="POST" id="messageForm" novalidate>
    <%}%>
    
        <div class="two fields">
            <div class="required field">
                <label>Titel</label>  
                <input type="text" name="message[title]" value="<%=message.title%>">
            </div>
            <div class="field">
              <label>Upload thumbnail</label>
              <input  type="hidden" 
                    role="uploadcare-uploader" 
                    name="message[thumbnailImage]"
                    value="<%=message.thumbnailImage%>"
                    data-image-shrink="256x256"
                    data-multiple="false"/>
            </div>
        </div>
        <div class="required field">
            <label>Bericht</label>  
            <textarea name="message[message]"><%=message.message%></textarea>
        </div>
        
        <button class="ui primary button" type="submit">Bewaren</button>
        <div class="ui error message"></div>
    </form>
</div>

<% if(typeof school !== 'undefined'){%>
    <%- include('../partials/school-footer') %>
<% } else if(typeof organisation !== 'undefined'){%>
    <%- include('../partials/organisation-footer') %>
<%}%>

<%- include('../partials/footer') %>

