<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/organisation-header') %>
<%- include('./header', {organisation: organisation, canAdd: canAdd})%>
  
    <!-- placeholder if no messages -->
    <%if(messages.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen beleid
        </div>
      </div>
    <%}%>
    <!--cards with messages-->
    <div class="ui three doubling link cards">
      <% messages.forEach(function(message){ %>
      <a class="card" href="/organisations/<%=organisation._id%>/message/<%=message._id%>">
        <div class="content">
          <img class="right floated mini ui image" src="<%=message.thumbnailImage%>">
          <div class="header">
            <%= message.title %>
          </div>
          <div class="meta">
            <%= message.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
          <%var text = message.message ? message.message.replace(/(&nbsp;)*/g,"").replace(/<\/?[^>]+(>|$)/g, "") : '';%>
          <div class="description">
            <%= text.length > 85 ? text.substring(0,85) + '...' : text %>
          </div>
        </div>
        <div class="extra content">
          <%if(typeof message.school !== 'undefined'){%>
            <span class="right floated">
              <i class="university icon"></i>
              <%= message.school.name %>
            </span>
          <%}%>
          <span>
            <i class="user icon"></i>
            <%= message.owner.firstName ? message.owner.firstName : message.owner.username %>
            <%= message.owner.lastName ? message.owner.lastName : '' %>
          </span>
        </div>
      </a>
      <% }); %>
    </div>

<%- include('../partials/organisation-footer') %>
<%- include('../partials/footer') %>