<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Berichten</div>
    </h2>
    <a class="positive ui button right" href="/message/new">Bericht Toevoegen</a>
    <!-- <div class="ui segment">
      <h4 class="ui right aligned header">
        <i class="youtube icon"></i>
        <div class="content">
          <a href="https://youtu.be/VxXs9TzB_Ok" target="_blank">Informatie toevoegen door middel van berichten</a>
          <div class="sub header">YouTube Instructie Video</div>
        </div>
      </h4>
    </div> -->
    <!--divider and then all messages-->
    <div class="ui divider"></div>
    <!--kaarten met berichten-->
    <div class="ui four doubling cards">
      <% messages.forEach(function(message){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/message/<%=message._id%>"><%= message.title %></a></div>
          <div class="description">
            <%= message.message ? message.message.replace(/(&nbsp;)*/g,"").replace(/<\/?[^>]+(>|$)/g, "").substring(0,100) : null%> ...
          </div>
          <div class="description">
            Datum: <%= message.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
          <div class="description">
            Gemaakt door: <%= message.owner.username %>
          </div>
        </div>
        <a class="ui bottom attached button" href="/message/<%=message._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include ../partials/footer %>