<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Beleid</div>
    </h2>
    <a class="positive ui button right" href="/message/new">Beleid Toevoegen</a>
    <!--divider and then all messages-->
    <div class="ui divider"></div>
    <!-- placeholder if no messages -->
    <%if(messages.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen beleid
        </div>
      </div>
    <%}%>
    <!--cards with messages-->
    <div class="ui three doubling cards">
      <% messages.forEach(function(message){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/message/<%=message._id%>"><%= message.title %></a></div>
          <div class="description">
            <%= message.message ? message.message.replace(/(&nbsp;)*/g,"").replace(/<\/?[^>]+(>|$)/g, "").substring(0,100) : null%> ...
          </div>
          <div class="description">
            Datum: <%= message.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
          <div class="description">
            Gemaakt door: <%= message.owner.username %>
          </div>
        </div>
        <a class="ui bottom attached button" href="/message/<%=message._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include ../partials/footer %>