<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<!--MESSAGES-->
        <h2 class="ui header"><i class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 567.93 567.93"><defs><style>.a{fill:none;}.b,.c{fill:#fff;}.c{stroke:#fff;stroke-miterlimit:10;}</style></defs><title>policy</title><rect class="a" width="567.93" height="567.93"/><rect x="10.27" y="66.36" width="546.4" height="432.67" rx="22.62"/><path class="b" d="M263.42,91.45h25.36a17.45,17.45,0,0,1,17.45,17.45V499a0,0,0,0,1,0,0H246a0,0,0,0,1,0,0V108.9A17.45,17.45,0,0,1,263.42,91.45Z"/><polygon class="c" points="468.95 381.7 218.4 381.7 218.4 282.7 469.8 282.7 506.39 331.25 468.95 381.7"/><polygon class="c" points="95.5 255.61 346.06 255.61 346.06 156.61 94.65 156.61 58.05 205.16 95.5 255.61"/></svg>
        </i> Beleid van het Bestuur</h2>
        <div class="ui divider"></div>
    <!-- placeholder if no messages -->
    <%if(messages.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen beleid
        </div>
      </div>
    <%}%>
    <!--cards with messages-->
    <div class="ui three doubling cards">
      <% messages.forEach(function(message){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/message/<%=message._id%>"><%= message.title %></a></div>
          <div class="description">
            <%= message.message ? message.message.replace(/(&nbsp;)*/g,"").replace(/<\/?[^>]+(>|$)/g, "").substring(0,100) : null%> ...
          </div>
          <div class="description">
            Datum: <%= message.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
        </div>
        <a class="ui bottom attached button" href="/message/<%=message._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
        
<% include ../partials/school-footer %>
<% include ../partials/footer %>