<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(schoolLevel){%>
  <% include ../partials/school-header %>
<%} else { %>
 <div class="ui container">
<%}%>

<h2 class="ui header"><i class="shield alternate icon"></i><%=securityIncident.securityIncidentName%></h2>
<div id="securityIncidentData" hidden><%=JSON.stringify(securityIncident)%></div>
<div id="isShow" hidden>true</div>
<div id="securityIncidentForm"></div>
<div id="schoolLevel" hidden><%=schoolLevel%></div>

<button class="ui basic button" id="saveToPDFbtn">Bewaar PDF</button>
<%if(schoolLevel && !securityIncident.isValidForAllOrganisation){%>
    <a id="edit" 
    class="ui primary basic button" 
    href="/schools/<%=school._id%>/securityIncident/<%=securityIncident._id%>/edit">
    Bewerken
    </a>
    <form id="delete" 
    action="/schools/<%= school._id %>/securityIncident/<%=securityIncident._id%>?_method=DELETE" 
    method="POST">
    <button class="ui red basic button">Verwijderen</button>
  <% include ../partials/school-footer %>
<%} else if(!schoolLevel) {%>
    <a id="edit" 
    class="ui primary basic button" 
    href="/securityIncident/<%=securityIncident._id%>/edit">
    Bewerken
    </a>
    <form id="delete" 
    action="/securityIncident/<%=securityIncident._id%>?_method=DELETE" 
    method="POST">
    <button class="ui red basic button">Verwijderen</button>
    </div>
<% } %>
<% include ../partials/footer %>