<!--SHOW HARDWARE NORMERING -->

<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Algemeen</h4>
    <div class="content">Kwaliteitseisen aan Hardware</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Werkgeheugen (GB)</h4>
    <div class="content"><%=normering.minRAM%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Oudste jaar ingebruikname</h4>
    <div class="content"><%=normering.minYear%></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Norm 1</h4>
    <div class="content">Computers Per Leerling</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Meegeteld als computer</h4>
    <div class="content"><%=normering.hardwareTypesCountedAsComputer%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Computers per Leerling</h4>
    <div class="content"><%=normering.computersPerLeerling * 100 %> %</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max Score Computers Per Leerling</h4></h4>
    <div class="content"><%=normering.maxScoreComputersPerLeerling%></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Norm 2</h4>
    <div class="content">Digitale Borden per Klaslokaal</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Digitaal Bord Touchscreen</h4>
    <div class="content"><%if(normering.isTouchscreen){%>Ja<%} else {%>Nee<%}%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Digitale Borden Per Lokaal</h4>
    <div class="content"><%=normering.digibordenPerKlaslokaal * 100%> %</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max Score Digitale Borden</h4>
    <div class="content"><%=normering.maxScoreDigibordenPerKlaslokaal %></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Norm 3</h4>
    <div class="content">Snel en Betrouwbaar Internet</div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Netwerk moet snel en betrouwbaar zijn (bekabeld en wireless)</h4>
    <div class="content">Dit criterium is niet aanpasbaar</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max Score Netwerk</h4>
    <div class="content"><%=normering.maxScoreNetwerk%></div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Norm 4</h4>
    <div class="content">Draagbare Computers per School</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Meegeteld als draagbare computer</h4>
    <div class="content"><%=normering.hardwareTypesCountedAsPortableComputer%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Draagbare computers per school</h4>
    <div class="content"><%=normering.portableComputersPerSchool%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max Score Draagbare Computers</h4>
    <div class="content"><%= normering.maxScorePortableComputersPerSchool %></div>
  </div>
</div>