<!--SHOW SOFTWARE NORMERING -->

<% var vakken = ["Rekenen", "Technisch lezen", "Begrijpend lezen", "Spelling", "Taal", "Toetsenbordvaardigheid", "Programmeren", "Mediawijsheid"]%>
<% vakken.forEach(function(vak){%>
  <h3><%=vak%></h3>
  <div class="ui stackable grid">
    <div class="four wide column">
      <h5 class="content">Groepen</h5>
      <div class="content"><%=normering[vak].groepen%></div>
    </div>
    <div class="four wide column">
      <h5 class="content">Functies</h5>
      <div class="content"><%=normering[vak].functies%></div>
    </div>
    <div class="four wide column">
      <h5 class="content">Maximale score</h5>
      <div class="content"><%=normering[vak].maxScore%></div>
    </div>
    <div class="four wide column">
      <h5 class="content">Kwaliteiten</h5>
      <div class="content"><%=normering[vak].kwaliteiten%></div>
    </div>
</div>
<div class="ui divider"></div>
<%});%>