<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<% if(schoolLevel){ %>
  <%- include('../partials/school-header') %>
<%} else {%>
  <%- include('../partials/organisation-header') %>
<% } %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Register van Verwerkingsactiviteiten</div>
    </h2>
    <%if(schoolLevel){%>
      <a class="positive ui button right" href="/schools/<%=school._id%>/processingActivity/new/">Verwerkingsactiviteit Toevoegen</a>
      <div class="ui left pointing label">
        Deze verwerkingsactiviteit wordt zichtbaar voor (alleen) uw school en het bestuur
      </div>
    <%} else {%>
      <a class="positive ui button right" href="/organisations/<%=organisation._id%>/processingActivity/new/">
        Verwerkingsactiviteit Toevoegen
      </a>
      <div class="ui left pointing label">
        Deze verwerkingsactiviteit wordt zichtbaar voor alle scholen binnen het bestuur
      </div>
    <% } %>
    <!--divider and then all cards for processing activities-->
    <div class="ui divider"></div>
    <!-- placeholder if no security incidents -->
    <%if(processingActivities.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen verwerkingsactiviteiten
        </div>
      </div>
    <%}%>
    <!--kaarten met verwerkingsactiviteiten-->
    <div class="ui three doubling cards">
      <% processingActivities.forEach(function(processingActivity){ %>
      <div class="card">
        <div class="content">
          <div class="header"><%if(schoolLevel){%>
                                <a href="/schools/<%=school._id%>/processingActivity/<%=processingActivity._id%>">
                              <%} else {%>
                                <a href="/processingActivity/<%=processingActivity._id%>">
                              <% } %>
                        <%= processingActivity.processingActivityName %></a></div>
          <div class="description">
            Geldig voor hele bestuur: <%if(processingActivity.isValidForAllOrganisation) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%>
          </div>
          <%if(!schoolLevel && processingActivity.school){%>
            <div class="description">
              Geldig voor school: <%=processingActivity.school.name%>
            </div>
          <%}%> 
          <div class="description">
            Datum: <%= processingActivity.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
        </div>
        <a class="ui bottom attached button" 
            <%if(schoolLevel){%>
              href="/schools/<%=school._id%>/processingActivity/<%=processingActivity._id%>">
            <%} else {%>
              href="/organisations/<%=organisation._id%>/processingActivity/<%=processingActivity._id%>">
            <% } %>
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<%if(schoolLevel){%>
  <%- include('../partials/school-footer') %>
<%} else {%>
  <% include('../partials/organisation-footer')%>
<% } %>
<%- include('../partials/footer') %>