<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<h2 class="ui header"><i class="doctor icon"></i>Deskundigheid van Leerkrachten van <%= school.name %></h2>
<div class="ui divider"></div>
<form class="ui form" action="/schools/<%=school._id%>/competence?_method=PUT" method="POST" id="competenceForm" novalidate>
 <div class="inline fields">
    <label>Beoordeel de gemiddelde deskundigheid van leerkrachten</label>
    <% var count = 1%>
    <% while(count<7) { %>
      <div class="field">
        <div class="ui radio checkbox">
          <input 
                type="radio" 
                name="school[competence][teachers]"  
                value="<%=count%>"
                <% if(school.competence.teachers == count) { %>checked="checked"<% } %>>
          <label><%=count%> <%if(count==1){%> - niet deskundig <%} else if(count==6) {%> - zeer deskundig<%}%></label>
        </div>
      </div>
    <% count ++ %>
    <%}%>
</div>
<br>
<div class="inline fields">
    <label>Beoordeel de gemiddelde effectiviteit van digitale leermiddelen op jouw school</label>
    <% var count = 1%>
    <% while(count<7) { %>
      <div class="field">
        <div class="ui radio checkbox">
          <input 
                type="radio" 
                name="school[competence][effectiveness]"  
                value="<%=count%>"
                <% if(school.competence.effectiveness == count) { %>checked="checked"<% } %>>
          <label><%=count%> <%if(count==1){%> - niet effectief <%} else if(count==6) {%> - zeer effectief<%}%></label>
        </div>
      </div>
    <% count ++ %>
    <%}%>
</div>
<br>
<div class="inline fields">
  <label>Leerkrachten hebben ondersteuning of training nodig op het gebied van digitale leermiddelen</label>
  <div class="field">
    <div class="ui radio checkbox">
      <input 
            type="radio" 
            name="school[competence][support]" 
            value="0" 
            <% if(!school.competence.support) { %>checked="checked"<% } %>>
      <label>Nee</label>
    </div>
  </div>
  <div class="field">
    <div class="ui radio checkbox">
      <input 
            type="radio" 
            name="school[competence][support]" 
            value="1"
            <% if(school.competence.support) { %>checked="checked"<% } %>>
      <label>Ja</label>
    </div>
  </div>
</div>
<button class="ui button" type="submit">Bewaren</button>
<div class="ui error message"></div>
</form>
</div>
</div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>