<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>
<% include ./header %>

         <div class="ui three doubling cards">
          <div class="card">
            <div class="content">
              <div class="header">
                Gemiddelde Deskundigheid
              </div>
              <div class="description">
                 Beoordeel de gemiddelde deskundigheid van leerkrachten op het gebied van ICT en digitale leermiddelen
              </div>
              <div class="description count">
                 <%= school.competence && school.competence.teachers %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">
                Ondersteuning Nodig
              </div>
              <div class="description">
                 Leerkrachten hebben ondersteuning of training nodig op het gebied van digitale leermiddelen
              </div>
              <div class="description count">
                 <% if(school.competence && school.competence.support) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">
                Gemiddelde Effectiviteit
              </div>
              <div class="description">
                 Geef jouw beoordeling van de gemiddelde effectiviteit van digitale leermiddelen op jouw school
              </div>
              <div class="description count">
                 <%= school.competence ? school.competence.effectiveness : "-" %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <!--TEST RESULTATEN SCHOOL MEDEWERKERS-->
          <% Object.keys(questionnaire).sort().forEach(function(subject){ %>
            <div class="card">
              <div class="content">
                <div class="header">
                  <%=subject%>
                </div>
                <div class="description count">
                  <% var sum = 0, i = 0, result = 0  %>
                  <%school.tests.forEach(function(test){ %>
                     <%if(test.subject === subject) { sum += test.result; i++; result = Math.ceil(sum / i *100) } %>
                  <% }); %>
                  <%= result %> %
                </div>
              </div>
              <div class="ui bottom attached button">
                <a href="#testResults">Bekijken</a>
              </div>
            </div>
          <% }) %>
          <!--EINDE TESTRESULTATEN MEDEWERKERS-->
        </div>
        <a id="edit" class="ui primary basic button" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
