<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>


<h2 class="ui header"><i class="doctor icon"></i>Deskundigheid van Leerkrachten op <%= school.name %></h2>
         <div class="ui three doubling cards">
          <div class="card">
            <div class="content">
              <div class="header">
                Gemiddelde Deskundigheid
              </div>
              <div class="description">
                 Beoordeling van de gemiddelde deskundigheid van leerkrachten (1 = niet deskundig, 6 = zeer deskundig)
              </div>
              <div class="description count">
                 <%= school.competence && school.competence.teachers %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">
                Ondersteuning Nodig
              </div>
              <div class="description">
                 Leerkrachten hebben ondersteuning of training nodig op het gebied van digitale leermiddelen
              </div>
              <div class="description count">
                 <% if(school.competence && school.competence.support) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <div class="card">
            <div class="content">
              <div class="header">
                Gemiddelde Effectiviteit
              </div>
              <div class="description">
                 Beoordeling van de gemiddelde effectiviteit van digitale leermiddelen (1 = niet effectief, 6 = zeer effectief)
              </div>
              <div class="description count">
                 <%= school.competence ? school.competence.effectiveness : "-" %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
            </div>
          </div>
          <%surveys.forEach(function(survey, index){%>
            <div class="card">
              <div class="content">
                 <div class="header">
                  <%=survey.competenceStandardTitle%>
                 </div>
                 <div class="description">
                   Bekijken opent de enquête. Gemiddelde score:
                </div>
                 <div class="description count">
                   <%= averages[index] ? averages[index] + " %" : "-" %>
                 </div>
              </div>
              <div class="ui bottom attached button">
                <a id="edit" href="/schools/<%= school._id %>/survey/<%=survey._id%>">Bekijken</a>
              </div>
            </div>
          <%})%>
        </div>
        <a id="edit" class="ui primary basic button" href="/schools/<%= school._id %>/competence/edit">Bewerken</a>
