<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/school-header') %>
<%- include('../partials/competence-tabs', {school: school})%>

<%var name='School'; var compareName='Bestuur';%>
<h2 class="ui centered header">
  Deskundigheid van leerkrachten
</h2>
<div class="ui small info message">
  <ul class="list">
    <li>Indicator toont de gemiddelde score van de school</li>
    <li>Gekleurde delta toont de afwijking ten opzichte van de gemiddelde score van het bestuur</li>
  </ul>
</div>
<div class="ui stackable grid">
  <%surveys.forEach(function(survey, index){%>
      <%if(survey.isActiveCompetenceSurvey){ %>
        <%var resultsUrl = "/schools/" + school._id +"/survey/" + survey._id%>
        <%- include('../partials/competence-chart/competence-chart', {survey: survey, name: name, index: index, compareName: compareName, resultsUrl: resultsUrl}) %>
      <%}%>
  <%})%>
</div>
<div id='nonactive-content'>
  <div class="ui divider"></div>
  <h3 class="ui header">Gearchiveerde tests</h3>
  <div class="ui stackable grid">
    <%surveys.forEach(function(survey, index){%>
        <%if(!survey.isActiveCompetenceSurvey){ %>
          <%var resultsUrl = "/schools/" + school._id +"/survey/" + survey._id%>
          <%- include('../partials/competence-chart/competence-chart', {survey: survey, name: name, index: index, compareName: compareName, resultsUrl: resultsUrl}) %>
        <%}%>
    <%})%>
  </div>
</div>
<div class="ui divider"></div>
<input class="ui button" type='button' id='hideshow' value='Gearchiveerde tests'>


<div id="surveysInfo" hidden><%= JSON.stringify(surveys)%></div>
<div id="resultsInfo" hidden><%= JSON.stringify(results)%></div>

<%- include('../partials/school-footer') %>
<%- include('../partials/footer') %>