<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>


<h2 class="ui header"><i class="icon">
    <i class="certificate icon"></i>
    
  </i>Deskundigheid van Leerkrachten op <%= school.name %></h2>
<div class="ui small info message">
  <ul class="list">
    <li>Indicator toont de gemiddelde score van de school</li>
    <li>Gekleurde delta toont de afwijking ten opzichte van de gemiddelde score van het bestuur</li>
  </ul>
</div>
<div class="ui stackable grid">
  <%surveys.forEach(function(survey, index){%>
      <div class="eight wide column">
        <h3 class="ui top attached header">
          <%=survey.name%>
        </h3>
        <div class="ui attached secondary segment">
          <div class="ui grid">
            <div class="six column row">
              <div class="left floated column">School: <%=counts[index]%></div>
              <h5 class="column">Inzendingen</h5>
              <div class="right floated column">Bestuur: <%=comparingCounts[index]%></div>
            </div>
          </div>
        </div>
        <div class="ui attached segment bullet chart">
          <div id="<%=index%>"></div>
        </div>
        
        <a href="/schools/<%= school._id %>/survey/<%=survey._id%>" class="ui bottom blue attached button">Resultaten bekijken</a>
        
      </div>
  <%})%>
</div>

<div id="surveysInfo" hidden><%= JSON.stringify(surveys)%></div>
<div id="averagesInfo" hidden><%= JSON.stringify(averages)%></div>
<div id="comparingAveragesInfo" hidden><%= JSON.stringify(comparingAverages)%></div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>