<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>
<% include ./header %>

<!--MAKE TABLE OF TEST RESULTS-->
<div class="ui huge header">Test Resultaten</div>
<table class="ui celled table unstackable" id="testResults">
  <thead>
      <tr>
          <th>Datum</th>
          <th>Gebruikersnaam</th>
          <th>Personeel</th>
          <th>Onderdeel</th>
          <th>Score</th>
          <th>Bekijk</th>
      </tr>
  </thead>
  <tbody>
      <% school.tests.forEach(function(test){ %>
          <tr>
              <td><%= test.created.toJSON().slice(0,10).split('-').reverse().join('/') %></td>
              <td><%= test.owner.publicProfile ? test.owner.username : 'anoniem' %></td>
              <td><%= test.owner.isTeacher ? 'onderwijzend' : 'ondersteunend/onbekend'%></td>
              <td><%= test.subject %></td>
              <td><%= Math.ceil(test.result *100) %> %</td>
              <td><a class="ui mini primary basic button" href="/user/desk_overview/test/<%=test._id%>">Bekijk</a></td>
          </tr>
      <% }); %>
  </tbody>
</div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>