<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%if(typeof school !== 'undefined'){%>
  <%- include('../partials/school-header') %>
<%} else if(typeof organisation !== 'undefined'){%>
  <%- include('../partials/organisation-header') %>
<%}%>
<%if(currentUser.role !=='suser'){%>
	<%- include('../competence/header', {
	title: 'Digitale Deskundigheid Leerlingen', 
	competenceStandardKey: 'ddl',
	showManageClassroomsButton: true
	}) %>
<%}%>

<%if(classrooms.length===0){%>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="dont icon"></i>
      Nog geen klassen.
    </div>
    <%if(typeof school !== 'undefined' && currentUser.role !=='suser'){%>
    	<a class="ui primary button" href="/schools/<%=school._id%>/classroom">Beheer klassen</a>
    <%}%>
  </div>
<%}%>

<div class="ui cards">
<%classrooms.forEach(function(classroom){%>
	<div class="ui card">
	  <div class="ui top attached progress" data-percent="<%= Math.ceil(classroom.numberOfSurveys / classroom.numberStudents * 100)%>">
	    <div class="bar"></div>
	  </div>
	  <div class="content">
	    <div class="header"><%= classroom.name %></div>
	    <div class="meta">
	       <%=classroom.level%>
	    </div>
	    <div class="description">
		      <button class="circular ui icon button copy__button" data-content="Kopieer klascode"><i class="copy icon"></i></button>
		      <span id="<%=classroom._id%>"><%=classroom._id%></span>
	    </div>
	  </div>
	  <div class="extra content">
	  	<button class="ui secondary button login__procedure" >Instructies</button>
	  	<a class="ui primary button <%if(classroom.numberOfSurveys===0){%> disabled <%}%>" 
	  		href="/schools/<%=school._id%>/classroom/<%=classroom._id%>">Resultaten</a>
	  </div>
	</div>
<%})%>
</div>

<div id="classroomsText" hidden><%= JSON.stringify(classrooms)%></div>

<div class="ui modal" id="procedure__modal">
	<i class="close icon"></i>
	<div class="header">
      Inlog Instructies voor <span class="classroom__name"></span>
    </div>
    <div class="content">
	    <h5>Instructies voor leerlingen</h5>
	    <ol>
	    	<li>Ga naar <a href="https://app.pillars.school/ddl" target=_blank>https://app.pillars.school/ddl</a></li>
	    	<li>Voer de klascode in. De klascode voor <span class="classroom__name"></span> is <strong id="classroom__code"></strong></li>
	    	<li>Er wordt automatisch een leerlingaccount gemaakt en de leerling kan beginnen met de test</li>
	    </ol>
	    <h5>Overige informatie</h5>
	    <ul>
	    	<li>Het maximum aantal leerlingaccounts voor deze klas is <strong id="classroom__studentCount"></strong> (dit is het aantal leerlingen + 1).</li>
	    	<li>De automatische gebruikersnaam van de leerling is een uniek nummer van 6 cijfers.</li>
	    	<li>Het wachtwoord van het leerlingaccount is de klascode.</li>
	    	<li>Leerlingen kunnen later m.b.v. deze gebruikersnaam/wachtwoord combinatie opnieuw inloggen.</li>
	    	<li>Leerlingen kunnen tijdens de test optioneel hun naam invullen (of anoniem blijven door dit niet te doen).</li>
	    	<li>Leerlingen kunnen (eventueel) het account omzetten op hun school email adres en zelf een nieuw wachtwoord kiezen.</li>
	    	<li>De app geeft een foutmelding als het maximum aantal is bereikt. Er kunnen dan geen leerling accounts meer worden gemaakt met deze klascode.</li>
	    </ul>
	 
	 </div>
	 <div class="actions">
	    <a href="" class="ui primary right labeled icon button" id="mailto__button">
	      Instructies in nieuwe email
	      <i class="envelope icon"></i>
	    </a>
	 </div>
</div>

<%if(typeof school !== 'undefined'){%>
  <%- include('../partials/school-footer') %>
<%} else if(typeof organisation !== 'undefined'){%>
  <%- include('../partials/organisation-footer') %>
<%}%>
<%- include('../partials/footer') %>

<script>

	$(document).ready(function() {
		var classroomsText = $( '#classroomsText' ).text();
        var classrooms = JSON.parse(classroomsText);

        $(".copy__button").click(function(){
        	var index = $(".copy__button").index(this);
        	var classroom = classrooms[index];
        	var range = document.createRange();
            range.selectNode(document.getElementById(classroom._id));
            window.getSelection().removeAllRanges(); // clear current selection
            window.getSelection().addRange(range); // to select text
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
        });

		$(".login__procedure").click(function(){
			var index = $(".login__procedure").index(this);
			var classroom = classrooms[index];
			$('.classroom__name').text(classroom.name);
			$('#classroom__code').text(classroom._id);
			$('#classroom__studentCount').text(classroom.numberStudents + 1);
			var subject = encodeURIComponent('Digitale Deskundigheid Leerlingen');
			var body = encodeURIComponent("Ga naar het volgende web adres: \n \n https://app.pillars.school/ddl \n \n Voer de klascode in. De klascode voor " + classroom.name + " is: \n \n" + classroom._id);
			var emailUrl = "mailto:?subject=" + subject + "&body=" + body;
			$('#mailto__button').attr("href", emailUrl);
			$('#procedure__modal').modal('show');
	      });
	});

</script>
