<% include ../partials/school/header %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Normering</div>
    </h2>
    <a class="positive ui button right" href="/normering/new">Normering Toevoegen</a>
    <div class="ui segment">
      <h4 class="ui right aligned header">
        <i class="youtube icon"></i>
        <div class="content">
          <a href="https://youtu.be/ahbafP_I7uM" target="_blank">Normeringen Toevoegen en Beheren</a>
          <div class="sub header">YouTube Instructie Video</div>
        </div>
      </h4>
    </div>
    <!--divider and then all cards for normeringen-->
    <div class="ui divider"></div>
    <!--kaarten met normering-->
    <div class="ui six doubling cards">
      <% normeringen.forEach(function(normering){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/normering/<%=normering._id%>"><%= normering.naam %></a></div>
          <div class="description">
            Datum: <%= normering.created.toDateString() %>
          </div>
          <div class="description">
            Gemaakt door: <%= normering.owner.username %>
          </div>
        </div>
        <a class="ui bottom attached button" href="/normering/<%=normering._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include ../partials/school/footer %>