<div class="eight wide column">
  <h3 class="ui top attached header">
    <%=survey.name%>
  </h3>
  <div class="ui attached secondary segment">
    <div class="ui grid">
      <div class="three column row">
        <div class="column"><%=name%>: <%=results[index].count%></div>
        <h5 class="column">Inzendingen</h5>
        <div class="column"><%=compareName%>: <%=results[index].comparingCount%></div>
      </div>
    </div>
  </div>
  <% if(!results[index].average){ %>
    <h4 class="ui attached header">
      Nog geen resultaten
    </h4>
  <% } else { %>
    <div class="ui attached segment bullet chart">
      <div id="<%=index%>"></div>          
    </div>
  <% } %>
  
  <%if(resultsUrl){%>
    <a href="<%=resultsUrl%>" 
      class="ui bottom blue attached button <% if(!results[index].average){ %>disabled<%}%>">Resultaten bekijken</a>
  <% } %>
  
</div>