<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui header">Profielvragen bewerken met naam: <%=questionnaire.name%></h2>
    <form class="ui form" action="/questionnaire/<%=questionnaire._id%>?_method=PUT" method="POST" id="questionnaireForm" novalidate>
      <% var i=0%>
      <div class="ui top attached tabular menu">
      <% Object.keys(questionnaire.questionnaire).sort().forEach(function(key){ %>
        <a class="item <%if(i==0){%>active<%}%>" data-tab="<%=i%>"><%=key%></a>
        <% i++%>
      <%});%>
      </div>
      <% var j=0 , k=0%>
      <% Object.keys(questionnaire.questionnaire).sort().forEach(function(key){ %>
          <div class="ui bottom attached tab segment <%if(j==0){%>active<%}%>" data-tab="<%=j%>">
            <% Object.keys(questionnaire.questionnaire[key]).sort().forEach(function(subkey){ %>
                <h4 class="ui dividing header"><%=subkey%></h4>
                  <% questionnaire.questionnaire[key][subkey].forEach(function(question){ %>
                    <div class="changing fields" id="<%=k%>">
                      <div class="fourteen wide field">
                        <input type="text" name="questionnaire[questionnaire][<%=key%>][<%=subkey%>]" value="<%=question%>" required>
                      </div>
                      <div class="one wide field">
                        <i class="plus icon <%=key%>" id="<%=subkey%>"></i> 
                      </div>
                      <div class="one wide field">
                        <i class="trash icon"></i> 
                      </div>
                    </div>
                    <% k++ %>
                  <% }); %>
            <% }); %>
          </div>
          <% j++ %>
      <%});%>
      <button class="ui button" type="submit">Bewaren</button>
      <div class="ui error message"></div>
    </form>  
</div>

<% include ../partials/footer %>