<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Profielvragen</div>
    </h2>
    <div class="ui warning message">
      <div class="header">
        Veranderingen in Pillars
      </div>
      <p>Deze content wordt binnenkort verwijderd. Al jouw vragenlijsten zijn nu omgezet naar enquetes (onder communicatie). Er kunnen geen nieuwe vragenlijsten meer worden gemaakt op deze pagina.</p>
    </div>
    <!-- <a class="positive ui button right" href="/questionnaire/new">Profielvragen Toevoegen</a> -->
    <!--divider and then all cards for question lists-->
    <div class="ui divider"></div>
    <!-- placeholder if no questionnaires -->
    <%if(questionnaire.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen profielvragen
        </div>
      </div>
    <%}%>
    <!--kaarten met questionnairevragen-->
    <div class="ui six doubling cards">
      <% questionnaire.forEach(function(questionnaire){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="questionnaire/<%=questionnaire._id%>"><%= questionnaire.name %></a></div>
          <div class="description">
            Actueel: <%if(questionnaire.isActual) { %><i class="toggle on icon"></i><% } else { %><i class="toggle off icon"></i><% }%>
          </div>
          <div class="description">
            Datum: <%= questionnaire.created.toJSON().slice(0,10).split('-').reverse().join('/') %>
          </div>
        </div>
        <a class="ui bottom attached button" href="/questionnaire/<%=questionnaire._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
        <a class="ui bottom attached button" href="/questionnaire/<%=questionnaire._id%>/actual">
          <i class="hand pointer icon"></i>
          Maak actueel
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include ../partials/footer %>