<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <h2 class="ui header">Profielvragen met naam: <%=questionnaire.name%></h2>
    <% var i=0%>
    <div class="ui top attached tabular menu">
    <% Object.keys(questionnaire.questionnaire).sort().forEach(function(key){ %>
      <a class="item <%if(i==0){%>active<%}%>" data-tab="<%=i%>"><%=key%></a>
      <% i++%>
    <%});%>
    </div>
    <% var j=0%>
    <% Object.keys(questionnaire.questionnaire).sort().forEach(function(key){ %>
        <div class="ui bottom attached tab segment <%if(j==0){%>active<%}%>" data-tab="<%=j%>">
          <% Object.keys(questionnaire.questionnaire[key]).sort().forEach(function(subkey){ %>
              <h4 class="ui dividing header"><%=subkey%></h4>
                <% questionnaire.questionnaire[key][subkey].forEach(function(question){ %>
                    <div><%=question%></div>
                <% }); %>
          <% }); %>
        </div>
        <% j++ %>
    <%});%>
    <a id="edit" class="ui primary basic button" href="/questionnaire/<%= questionnaire._id %>/edit">Bewerken</a>
    <form id="delete" action="/questionnaire/<%= questionnaire._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Verwijderen</button>
    </form>
</div>

<% include ../partials/footer %>