<% include ../partials/school/header %>
<% include ../partials/school/side-header %>

    <h2 class="ui top attached header"><i class="sitemap icon"></i>Organisatie van Leerkrachten van <%= school.instellingsnaam %></h2>
    <form class="ui form" action="/scholen/<%=school._id%>/organisatie?_method=PUT" method="POST" id="organisatieForm" novalidate>
          <!--VISIE-->
          <h4 class="ui dividing header">Visie</h4>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[heeftOrganisatorischeOvereenstemming]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[heeftOrganisatorischeOvereenstemming]"
                        <% if(school.heeftOrganisatorischeOvereenstemming) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Is er een gedeelde visie op ICT en Onderwijs op deze school?</label>
                 </div>
            </div>
          </div>
          <!--NETWERKBEHEER-->
          <h4 class="ui dividing header">Netwerkbeheer</h4>
          <div class="two fields">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="hidden" value="0" name="school[heeftGoedeNetwerkAanpassing]">
                    <input 
                        type="checkbox" 
                        name="school[heeftGoedeNetwerkAanpassing]"
                        <% if(school.heeftGoedeNetwerkAanpassing) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Functioneert het netwerk goed (bekabeld en ook dekkend draadloos)?</label>
                 </div>
            </div>
            <div class="field">
                <input type="hidden" value="0" name="school[heeftGoedeNetwerkProbleemOplossing]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[heeftGoedeNetwerkProbleemOplossing]"
                        <% if(school.heeftGoedeNetwerkProbleemOplossing) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Worden aanpassing aan het netwerk naar tevredenheid gerealiseerd?</label>
                 </div>
            </div>
          </div>
          <div class="two fields">    
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="hidden" value="0" name="school[heeftGoedeIncidentMelding]">
                    <input 
                        type="checkbox" 
                        name="school[heeftGoedeIncidentMelding]"
                        <% if(school.heeftGoedeIncidentMelding) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Worden netwerkincidenten naar tevredenheid opgelost?</label>
                 </div>
            </div>
          </div>
          <!--ICT Incidentmelder-->
          <h4 class="ui dividing header">ICT Incidentmelder</h4>
          <div class="two fields">
            <div class="field">
                <label>Wie is de ICT Incidentmelder</label>
                <input type="text" name="school[orgICTIncidentMelder]" value="<%=school.orgICTIncidentMelder%>" id="school[orgICTIncidentMelder]">
            </div>
            <div class="field">
                <label>Hoeveel normjaartaakuren heeft de ICT Incidentmelder?</label>
                <input type="number" name="school[orgNormjaartaakurenICTIncidentMelder]" value="<%=school.orgNormjaartaakurenICTIncidentMelder%>" id="school[orgNormjaartaakurenICTIncidentMelder]">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[isBekendICTIncidentmelder]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[isBekendICTIncidentmelder]"
                        <% if(school.isBekendICTIncidentmelder) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Is binnen het team bekend wie de ICT Incidentmelder is?</label>
                 </div>
            </div>
          </div>
          <!--ONDERWIJSKUNDIG ICT'ER-->
          <h4 class="ui dividing header">Onderwijskundig ICT'er</h4>
          <div class="two fields">
            <div class="field">
                <label>Wie is de Onderwijskundig ICT'er?</label>
                <input type="text" name="school[orgOnderwijskundigICTer]" value="<%=school.orgOnderwijskundigICTer%>" id="school[orgOnderwijskundigICTer]">
            </div>
            <div class="field">
                <label>Hoeveel normjaartaakuren heeft de Onderwijskundig ICT'er?</label>
                <input type="number" name="school[orgNormjaartaakurenOnderwijskundigICTer]" value="<%=school.orgNormjaartaakurenOnderwijskundigICTer%>" id="school[orgNormjaartaakurenOnderwijskundigICTer]">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[isBekendOnderwijskundigICTer]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[isBekendOnderwijskundigICTer]"
                        <% if(school.isBekendOnderwijskundigICTer) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Is binnen het team bekend wie de Onderwijskundig ICT'er is?</label>
                 </div>
            </div>
          </div>
          <!--ICT Inkoper-->
          <h4 class="ui dividing header">ICT Inkoper</h4>
          <div class="two fields">
            <div class="field">
                <label>Wie is de ICT Inkoper?</label>
                <input type="text" name="school[orgICTInkoper]" value="<%=school.orgICTInkoper%>" id="school[orgICTInkoper]">
            </div>
            <div class="field">
                <label>Hoeveel normjaartaakuren heeft de ICT Inkoper?</label>
                <input type="number" name="school[orgNormjaartaakurenICTInkoper]" value="<%=school.orgNormjaartaakurenICTInkoper%>" id="school[orgNormjaartaakurenICTInkoper]">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[isBekendICTInkoper]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[isBekendICTInkoper]"
                        <% if(school.isBekendICTInkoper) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Is binnen het team bekend wie de ICT Inkoper is?</label>
                 </div>
            </div>
          </div>
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
        </form>
    </div>
</div>

<% include ../partials/school/side-footer %>
<% include ../partials/school/jquery_form_validation %>
<% include ../partials/school/footer %>