<% include ../partials/school/header %>
<% include ../partials/school/side-header %>

      <h2 class="ui header"><i class="sitemap icon"></i>Organisatie op <%= school.instellingsnaam %></h2>
        <!--Overeenstemming binnen school tav ICT beleid-->
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header">
                Overeenstemming
              </div>
              <div class="description">
                 Is er een gedeelde visie op ICT en Onderwijs op deze school?
              </div>
              <div class="description count">
                 <% if(school.heeftOrganisatorischeOvereenstemming) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--Netwerk - functioneren van netwerk-->
          <div class="card">
            <div class="content">
              <div class="header">
                Netwerk
              </div>
              <div class="description">
                 Functioneert het netwerk goed (bekabeld en ook dekkend draadloos)?
              </div>
              <div class="description count">
                 <% if(school.heeftGoedeNetwerkAanpassing) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--Netwerk - Probleemoplossing-->
          <div class="card">
            <div class="content">
              <div class="header">
                Probleemoplossing
              </div>
              <div class="description">
                 Worden aanpassing aan het netwerk naar tevredenheid gerealiseerd?
              </div>
              <div class="description count">
                 <% if(school.heeftGoedeIncidentMelding) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--Netwerk - Incidentmelding-->
          <div class="card">
            <div class="content">
              <div class="header">
                Incidentmelding
              </div>
              <div class="description">
                 Worden netwerkincidenten naar tevredenheid opgelost?
              </div>
              <div class="description count">
                 <% if(school.heeftGoedeIncidentMelding) { %>
                    Ja
                  <% } else { %>
                    Nee
                  <% } %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--ICT incidentmelder-->
          <div class="card">
            <div class="content">
              <div class="header">
                ICT Incidentmelder
              </div>
              <div class="description">
                 <%= school.orgICTIncidentMelder %> is
                 <% if(school.isBekendICTIncidentmelder) { %>
                     bekend 
                  <% } else { %>
                     niet bekend
                  <% } %>
                  binnen het team als ICT incidentmelder
              </div>
              <div class="description count">
                 <%=school.orgNormjaartaakurenICTIncidentMelder%>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--Onderwijskundig ICT'er-->
          <div class="card">
            <div class="content">
              <div class="header">
                Onderwijskundig ICT'er
              </div>
              <div class="description">
                 <%= school.orgOnderwijskundigICTer %> is
                 <% if(school.isBekendOnderwijskundigICTer) { %>
                     bekend 
                  <% } else { %>
                     niet bekend
                  <% } %>
                  binnen het team als Onderwijskundig ICT'er
              </div>
              <div class="description count">
                 <%=school.orgNormjaartaakurenOnderwijskundigICTer %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--ICT Inkoper-->
          <div class="card">
            <div class="content">
              <div class="header">
                ICT Inkoper
              </div>
              <div class="description">
                 <%= school.orgICTInkoper %> is
                 <% if(school.isBekendICTInkoper) { %>
                     bekend 
                  <% } else { %>
                     niet bekend
                  <% } %>
                  binnen het team als ICT Inkoper
              </div>
              <div class="description count">
                 <%=school.orgNormjaartaakurenICTInkoper %>
              </div>
            </div>
            <div class="ui bottom attached button">
              <a id="edit" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
            </div>
          </div>
          <!--Einde Kaarten-->
        </div>
        <!--Eigenaar record-->
        <h4 class="content">Eigenaar record:</h4>
        <div class="content"><%= school.owner.username %> op <%=school.created.toDateString()%> </div>
          <a id="edit" class="ui primary basic button" href="/scholen/<%= school._id %>/organisatie/edit">Bewerken</a>
        </div>
        

<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>