<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/organisation-header') %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Module Instellingen</div>
    </h2>

    <div class="ui info message">
      Je kunt modules aan en uitzetten, en je schakelt hiermee opties (knoppen) aan en uit in het top menu en het zij-menu bij bestuur, scholen en medewerkers. 
     </div>

    <!--divider and then all cards for question lists-->
    <form class="ui form" action="/organisations/<%=organisation._id%>/organisationSettings" method="POST">
      <% Object.keys(labels).forEach(function(setting){ %>
          <div class="two fields">
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="hidden" value="0" name="<%=setting%>">
                <input 
                  type="checkbox"
                  name="<%=setting%>"
                  <% if(organisation.settings && typeof organisation.settings[setting] !== 'undefined' && organisation.settings[setting]) { %> 
                  checked="checked" <% } %> 
                  >
                <label><%=labels[setting] %></label>
              </div>
            </div>
           </div>
        <% }); %>
        <button class="ui button" type="submit">Bewaren</button>
      </form>
</div>

<%- include('../partials/organisation-footer') %>
<%- include('../partials/footer') %>