
<% if(survey.isCompetenceSurvey){%>
    <h2 class="ui header">
      <i class="doctor icon"></i>
      <div class="content">
        Deskundigheidstest
      </div>
      <div class="sub header">
        <%= survey.competenceStandardTitle %>  
      </div>
    </h2>
     <div class="ui info message">
        Deze deskundigheidstest wordt zichtbaar voor alle medewerkers van de organisatie zodra deze als actief wordt aangemerkt. 
    </div>
<%} else if(survey.isSoftwareSurvey){%>
    <h2 class="ui header">
      <i class="student icon"></i>
      <div class="content">
        Beoordelingsformulier
      </div>
      <div class="sub header">
        <%= survey.softwareStandardTitle %>  
      </div>
    </h2>
     <div class="ui info message">
        Dit beoordelingsformulier wordt beschikbaar bij ieder leermiddel zodra deze als actief wordt aangemerkt. 
    </div>
<%}%>

  <div class="item">
  <div class="ui stackable grid">
    <div class="four wide column">
        <h4 class="content">Naam enquete</h4>
        <div class="content">
          <%=survey.name%>
       </div>
    </div>
    <%if(survey.isCompetenceSurvey){%>
      <div class="four wide column">
        <h4 class="content">Actieve test?</h4> 
        <div class="content"><%if(survey.isActiveCompetenceSurvey){ %>Ja<%} else {%> Nee<%}%></div>
      </div>
      <div class="four wide column">
        <h4 class="content">Minimum niveau</h4> 
        <div class="content">Score minder dan <%=survey.minimumLevel%> %</div>
      </div>
      <div class="four wide column">
        <h4 class="content">Hoog niveau</h4> 
        <div class="content">Score meer dan <%=survey.highLevel%> %</div>
      </div>
      <div class="four wide column">
        <h4 class="content">Actieve test?</h4> 
        <div class="content"><%if(survey.isActiveCompetenceSurvey){ %>Ja<%} else {%> Nee<%}%></div>
      </div>
    <%} else if(survey.isSoftwareSurvey){%>
      <div class="four wide column">
        <h4 class="content">Actieve test?</h4> 
        <div class="content"><%if(survey.isActiveSoftwareSurvey){ %>Ja<%} else {%> Nee<%}%></div>
      </div>
    <%} %>
    <div class="four wide column">
      <h4 class="content">School</h4>
      <div class="content">
        <% if(survey.isValidForAllOrganisation){ %>
          Hele organisatie 
       <% } else { %> 
          <%= survey.school.name %>
       <% } %>
      </div>
     </div>
      <div class="four wide column">
        <h4 class="content">Laatste update op</h4>
        <div class="content">
          <%= survey.updatedAt.toJSON().slice(0,10).split('-').reverse().join('/')  %>
       </div>
       </div>
    </div>
  </div>

  <div class="ui divider"></div>
    <a id="view" 
      class="ui positive basic button" 
      href="<%if(survey.isPublic){%>
          <%=fullUrl%>/survey/<%=survey._id%>/public
        <%} else {%>
          <%=fullUrl%>/survey/<%=survey._id%>/private
        <%}%>  "
         target="_blank">
      Bekijken
    </a>
  
  <%if(!schoolLevel) {%>
      <a id="edit" 
      class="ui primary basic button" 
      href="/organisations/<%=organisation._id%>/survey/<%=survey._id%>/edit">
      Bewerken
      </a>
      <button class="ui red basic button" id="delete">Verwijderen</button>
      <div class="ui hidden warning message">
        <div class="header">Waarschuwing</div>
        <p>Weet je zeker dat je deze enquête wilt verwijderen? Dit kan niet worden hersteld.</p>
        <button class="ui positive button" id="cancel">Cancel</button>
         <form id="delete" 
          action="/organisations/<%=organisation._id%>/survey/<%=survey._id%>?_method=DELETE" 
          method="POST">
          <button class="ui negative button">Verwijder Enquête</button>
        </form>
      </div>
  <% } %>
