<div class="ui stackable grid">
  <div class="eight wide column">
    <h4 class="content">Om hoeveel personen gaat het wiens persoonsgegevens zijn gelekt</h4>
    <div class="content"><%=securityIncident.numberOfPersonsAffected%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Om welke soorten persoonsgegevens gaat het</h4>
    <div class="content"><%=securityIncident.typeOfDataCompromised%></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Omschrijving van (mogelijke) gevolgen van de inbreuk voor de persoonlijke levenssfeer van betrokkenen</h4> 
    <div class="content"><%-securityIncident.consequences%></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Welke maatregelen zijn getroffen om de inbreuk te beperken en herstellen</h4> 
    <div class="content"><%-securityIncident.mitigationMeasures%></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Wat is er gedaan zodat een incident niet nog een keer kan voorkomen</h4> 
    <div class="content"><%-securityIncident.preventionMeasures%></div>
  </div>
</div>