<div class="ui stackable grid">
  <div class="eight wide column">
    <h4 class="content">Naam incident</h4> 
    <div class="content"><%=securityIncident.securityIncidentName%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Dag en tijdstip van de ontdekking van de inbreuk</h4>
    <div class="content"><%=securityIncident.discoveryDateAndTime%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Dag en tijdstip van de melding</h4>
    <div class="content"><%=securityIncident.notificationDateAndTime%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Dag en tijdstip van de inbreuk</h4>
    <div class="content"><%=securityIncident.incidentDateAndTime%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Waar vond inbreuk plaats</h4>
    <div class="content"><%=securityIncident.incidentPlace%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Korte omschrijving van de inbreuk</h4>
    <div class="content"><%=securityIncident.incidentDescription%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Aard van de inbreuk: wat is er met de gegevens gebeurd</h4>
    <div class="content"><%=securityIncident.natureOfInfringement%></div>
  </div>
</div>