<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Naam melder</h4> 
    <div class="content"><%= securityIncident.reporterName %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Adres</h4>
    <div class="content"><%= securityIncident.reporterOrganisationAddress %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Huisnummer</h4>
    <div class="content"><%= securityIncident.reporterOrganisationAddressNumber %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Postcode</h4>
    <div class="content"><%= securityIncident.reporterOrganisationPostalCode %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Plaatsnaam</h4>
    <div class="content"><%= securityIncident.reporterOrganisationCity %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Telefoonnummer</h4>
    <div class="content"><%= securityIncident.reporterOrganisationPhoneNumber %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Email</h4>
    <div class="content"><%= securityIncident.reporterOrganisationEmail %></div>
  </div>
</div>