<% include ../partials/school/header %>
<% include ../partials/school/side-header %>

    <h2 class="ui top attached header"><%= school.instellingsnaam %></h2>
    <form class="ui form" action="/scholen/<%=school._id%>?_method=PUT" method="POST" id="schoolEdit">
         <h4 class="ui dividing header">School Bewerken</h4>
         <div class="three fields">
            <div class="field">
                <label>BRIN nummer</label>
                <input type="text" name="school[brin]" value="<%=school.brin%>" id="school[brin]">
            </div>
            <div class="field">
                <label>Vestigingsnummer</label>
                <input type="text" name="school[vestigingsnummer]" value="<%=school.vestigingsnummer%>" id="school[vestigingsnummer]">
            </div>
            <div class="field">
                <label>Bevoegd gezag nummer</label>
                <input type="text" name="school[bevoegdGezag]" value="<%=school.bevoegdGezag%>" id="school[bevoegdGezag]">
            </div>
          </div>
          <div class="field">
            <label>Instellingsnaam</label>
            <input type="text" name="school[instellingsnaam]" value="<%=school.instellingsnaam%>" id="school[instellingsnaam]">
          </div>
          <div class="field">
            <label>Adres</label>
                <div class="fields">
                  <div class="twelve wide field">
                    <input type="text" name="school[straatnaam]" value="<%=school.straatnaam%>">
                  </div>
                  <div class="four wide field">
                    <input type="text" name="school[huisnummer]" value="<%=school.huisnummer%>">
                  </div>
                </div>
          </div>
          <div class="field">
            <label>Postcode en Plaatsnaam</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="school[postcode]" value="<%=school.postcode%>">
                    </div>
                    <div class="twelve wide field">
                        <input type="text" name="school[plaatsnaam]" value="<%=school.plaatsnaam%>" id="school[plaatsnaam]">
                    </div>
                </div>
          </div>
          <div class="two fields">
            <div class="field">
                <label>Aantal leerlingen</label>
                <input type="number" name="school[aantalLeerlingen]" value="<%=school.aantalLeerlingen%>" id="school[aantalLeerlingen]">
            </div>
            <div class="field">
                <label>Aantal klaslokalen</label>
                <input type="number" name="school[aantalKlaslokalen]" value="<%=school.aantalKlaslokalen%>" id="school[aantalKlaslokalen]">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[heeftGoedBedraadNetwerk]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[heeftGoedBedraadNetwerk]"
                        <% if(school.heeftGoedBedraadNetwerk) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Bedraad Netwerk Werkt Snel en Betrouwbaar</label>
                 </div>
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input type="hidden" value="0" name="school[heeftGoedWirelessNetwerk]">
                    <input 
                        type="checkbox" 
                        name="school[heeftGoedWirelessNetwerk]"
                        <% if(school.heeftGoedWirelessNetwerk) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Wireless Netwerk Werkt Snel en Betrouwbaar</label>
                 </div>
            </div>
          </div>
          <input type="hidden" value="1" name="school[isIngevuldAlgemeneInformatie]">
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
        </form>
    </div>
</div>

<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>