<% include ../partials/school/header %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Scholen</div>
    </h2>
    <% if(currentUser.role==="badmin") { %>
      <a class="positive ui button right" href="/scholen/new">Scholen Toevoegen</a>
    <% } %>
    <div class="ui segment">
      <h4 class="ui right aligned header">
        <i class="youtube icon"></i>
        <div class="content">
          <a href="https://youtu.be/6hk04QVjH2A" target="_blank">Scholen Toevoegen en Beheren</a>
          <div class="sub header">YouTube Instructie Video</div>
        </div>
      </h4>
    </div>
    <!--divider and then all cards for schools-->
    <div class="ui divider"></div>
    <!--kaarten met scholen-->
    <div class="ui six doubling cards">
      <% scholen.forEach(function(school){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/scholen/<%=school._id%>"><%= school.instellingsnaam %></a></div>
          <div class="description">
            BRIN: <%= school.brin %>
          </div>
          <div class="description">
            <%= school.plaatsnaam %>
          </div>
          <div class="description">
            Ingevuld: <strong><%= Math.ceil(((school.isIngevuldAlgemeneInformatie === true ? 1 : 0) + (school.isToegevoegdHardware === true ? 1 : 0) + (school.isToegevoegdSoftware === true ? 1 : 0) + (school.isIngevuldDeskundigheid === true ? 1 : 0) + (school.isIngevuldOrganisatie === true ? 1 : 0) + (school.isToegevoegdMedewerker=== true ? 1 : 0)) / 0.06) %> %</strong>
          </div>
        </div>
        <a class="ui bottom attached button" href="/scholen/<%=school._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include ../partials/school/footer %>