<% include ../partials/school/header %>

<div class="ui container">
    <div class="ui huge header">Scholen uit DUO Database Toevoegen</div>
    <form class="ui mini form" action="/scholen" method="POST" id="scholenToevoegen" novalidate>
        <% var i=0 %>
        <% scholen.forEach(function(school){ %>
             <div class="eight fields">
                <div class="field">
                    <label>BRIN nummer</label>
                    <input type="text" name="school[<%=i%>][brin]" value="<%= school['BRIN NUMMER'] %>" required>
                </div> 
                <div class="field">
                    <label>Vestigingsnummer</label>
                    <input type="text" name="school[<%=i%>][vestigingsnummer]" value="<%= school['VESTIGINGSNUMMER'] %>" required>
                </div> 
                <div class="field">
                    <label>Bevoegd gezag</label>
                    <input type="text" name="school[<%=i%>][bevoegdGezag]" value="<%= school['BEVOEGD GEZAG NUMMER'] %>" required>
                </div>
                <div class="field">
                    <label>Instellingsnaam</label>
                    <input type="text" name="school[<%=i%>][instellingsnaam]" value="<%= school['VESTIGINGSNAAM'] %>" required>
                </div>
                <div class="field">
                    <label>Straatnaam</label>
                    <input type="text" name="school[<%=i%>][straatnaam]" value="<%= school['STRAATNAAM'] %>">
                </div>
                <div class="field">
                    <label>Huisnummer</label>
                    <input type="text" name="school[<%=i%>][huisnummer]" value="<%= school['HUISNUMMER-TOEVOEGING'] %>">
                </div>
                <div class="field">
                    <label>Postcode</label>
                    <input type="text" name="school[<%=i%>][postcode]" value="<%= school['POSTCODE'] %>">
                </div>
                <div class="field">
                    <label>Plaatsnaam</label>
                    <input type="text" name="school[<%=i%>][plaatsnaam]" value="<%= school['PLAATSNAAM'] %>" required>
                </div>
             </div>
             <% i++ %>
          <% }); %>
          <button class="ui button" type="submit">Bewaren</button>
    </form>
</div>

<% include ../partials/school/jquery_form_validation %>
<% include ../partials/school/footer %>
