<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/admin-header') %>

<% var generatedCode = Math.random().toString(36).substr(2, 8) %>

    <form class="ui form" action="/organisations/<%=organisation._id%>?_method=PUT" method="POST" id="organisationEdit">
         <h4 class="ui dividing header">Organisatie Bewerken</h4>
          <div class="required field">
            <label>Naam van de organisatie</label>
            <input type="text" name="organisation[name]"  value="<%=organisation.name%>" id="organisation[name]">
          </div>
          <div class="field">
            <label>Adres</label>
            <input type="text" name="organisation[address]"  value="<%=organisation.address%>" id="organisation[address]">
          </div>
          <div class="field">
            <label>Postcode en Plaatsnaam</label>
                <div class="fields">
                    <div class="four wide field">
                        <input type="text" name="organisation[postalCode]"  value="<%=organisation.postalCode%>">
                    </div>
                    <div class="twelve wide field">
                        <input type="text" name="organisation[city]"  value="<%=organisation.city%>" id="organisation[city]">
                    </div>
                </div>
          </div>
          <div class="field">
            <label>Land</label>
            <input type="text" name="organisation[country]"  value="Nederland">
          </div>
          <div class="required field">
             <label>Activatiecode</label>
             <input type="text" name="organisation[activationCode]" id="organisation[activationCode]" value="<%=organisation.activationCode%>">
          </div>
          <div class="field">
            <label>Upload logo</label>
            <input type="hidden" 
                  role="uploadcare-uploader" 
                  name="organisation[logo]"
                  data-multiple="false"/>
          </div>
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
        </form>

        <div class="ui divider"></div>

        <button class="ui red basic button" id="delete">Verwijderen</button>
        <div class="ui hidden warning message">
          <div class="header">Waarschuwing</div>
          <p>Weet je zeker dat je dit bestuur wilt verwijderen? Dit kan niet worden hersteld.</p>
          <button class="ui positive button" id="cancel">Cancel</button>
          <form form id="delete" action="/organisations/<%= organisation._id %>?_method=DELETE" method="POST">
            <button class="ui negative button">Verwijder Bestuur</button>
          </form>
        </div>

<%- include('../partials/admin-footer') %>
<%- include('../partials/footer') %>