
<!--FORM FIELDS PART 1-->
<div class="fields">
    <div class="field">
      <label>Minimum beoordeelde deskundigheid</label>
      <input type="number" name="normering[minBeoordeeldeDeskundigheid]" value="<%=normering.minBeoordeeldeDeskundigheid%>">
    </div>
    <div class="field">
      <label>Minimum gemiddelde effectiviteit</label>
      <input type="number" name="normering[gemEffectiviteitDigitaleLeermiddelen]" value="<%=normering.gemEffectiviteitDigitaleLeermiddelen%>">
    </div>
    <div class="field">
        <div class="ui toggle checkbox">
            <input type="hidden" value="0" name="normering[ondersteuningNodig]">
            <input 
                type="checkbox" 
                name="normering[ondersteuningNodig]"
                <% if(normering.ondersteuningNodig) { %>
                checked="checked"
                <% } %>
            >
            <label>Geen ondersteuning nodig</label>
         </div>
    </div>
</div>

<!--FORM FIELDS PART 2 = MAXIMUM SCORES-->
<div class="fields">
    <div class="field">
      <label>Max score beoordeelde deskundigheid</label>
      <input type="number" name="normering[maxScoreBeoordeeldeDeskundigheid]" value="<%=normering.maxScoreBeoordeeldeDeskundigheid%>">
    </div>
    <div class="field">
      <label>Max score gemiddelde effectiviteit</label>
      <input type="number" name="normering[maxScoreGemEffectiviteitDigitaleLeermiddelen]" value="<%=normering.maxScoreGemEffectiviteitDigitaleLeermiddelen%>">
    </div>
    <div class="field">
      <label>Max score ondersteuning nodig</label>
      <input type="number" name="normering[maxScoreOndersteuningNodig]" value="<%=normering.maxScoreOndersteuningNodig%>">
    </div>
</div>
<div class="fields">
    <div class="field">
      <label>Max score ICT Geletterdheid</label>
      <input type="number" name="normering[maxScoreICTGeletterdheid]" value="<%=normering.maxScoreICTGeletterdheid%>">
    </div>
    <div class="field">
      <label>Max score Ped Didactisch handelen</label>
      <input type="number" name="normering[maxScorePedagogischDidactischHandelen]" value="<%=normering.maxScorePedagogischDidactischHandelen%>">
    </div>
    <div class="field">
      <label>Max score Werken schoolcontext</label>
      <input type="number" name="normering[maxScoreWerkenSchoolcontext]" value="<%=normering.maxScoreWerkenSchoolcontext%>">
    </div>
    <div class="field">
      <label>Max score Pers Ontwikkeling</label>
      <input type="number" name="normering[maxScorePersoonlijkeOntwikkeling]" value="<%=normering.maxScorePersoonlijkeOntwikkeling%>">
    </div>
</div>
