
<!--FORM FIELDS PART 1-->
<div class="fields">
    <div class="field">
      <label>Max score Overeenstemming</label>
      <input type="number" name="normering[maxScoreOvereenstemming]" value="<%=normering.maxScoreOvereenstemming%>">
    </div>
    <div class="field">
      <label>Max score Netwerkbeheerder</label>
      <input type="number" name="normering[maxScoreNetwerkbeheer]" value="<%=normering.maxScoreNetwerkbeheer%>">
    </div>
</div>

<!--FORM FIELDS PART II-->

<% ["ICT Incidentmelder","Onderwijskundig ICTer","ICT Inkoper"].forEach(function(functie){%>
  <h3><%=functie%></h3>
  <div class="fields">
    <div class="field">
      <label>Normjaartaakuren</label>
      <input type="number" name="normering[<%=functie%>][normjaartaakuren]" value="<%=normering[functie].normjaartaakuren%>">
    </div>
    <div class="field">
      <label>Extra uren</label>
      <input type="number" name="normering[<%=functie%>][extraUren]" value="<%=normering[functie].extraUren%>">
    </div>
    <div class="field">
      <label>Max Score</label>
      <input type="number" name="normering[<%=functie%>][maxScore]" value="<%=normering[functie].maxScore%>">
    </div>
  </div>
<%})%>