<!--SHOW DESKUNDIGHEID NORMERING -->

<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Beoordeelde deskundigheid</h4>
    <div class="content"><%=standard.competence.competenceRating.standard%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max score</h4>
    <div class="content"><%=standard.competence.competenceRating.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Gemiddelde effectiviteit</h4>
    <div class="content"><%=standard.competence.softwareRating.standard%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max score</h4>
    <div class="content"><%=standard.competence.softwareRating.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Ondersteuning nodig</h4>
    <div class="content">Nee</div>
  </div>
  <div class="four wide column">
    <h4 class="content">Max score</h4>
    <div class="content"><%=standard.competence.support.maxScore%></div>
  </div>
</div>
<div class="ui divider"></div>
<h3>Persoonlijke Tests Maximale Score</h3>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">ICT Geletterdheid</h4>
    <div class="content"><%=standard.competence.ictSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Pedagogisch Didactisch Handelen</h4>
    <div class="content"><%=standard.competence.pedagogicalDidacticalSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Werken in schoolcontext</h4>
    <div class="content"><%=standard.competence.workInSchoolContext.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Persoonlijke Ontwikkeling</h4>
    <div class="content"><%=standard.competence.personalDevelopment.maxScore%></div>
  </div>
</div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Instrumentele vaardigheden</h4>
    <div class="content"><%=standard.competence.instrumentalSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Informatievaardigheden</h4>
    <div class="content"><%=standard.competence.informationSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Mediavaardigheden</h4>
    <div class="content"><%=standard.competence.mediaSkills.maxScore%></div>
  </div>
</div>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Observatieinstrument ICT gebruik</h4>
    <div class="content"><%=standard.competence.assessmentForm ? standard.competence.assessmentForm.maxScore : 0%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Rubric</h4>
    <div class="content"><%=standard.competence.rubric ? standard.competence.rubric.maxScore : 0 %></div>
  </div>
</div>
