<!--SHOW DESKUNDIGHEID NORMERING -->
<div class="ui warning message">
  <div class="header">
    Drie soorten deskundigheidstests
  </div>
  Er zijn drie verschillende soorten deskundigheidstests. Gebruik deze niet door elkaar heen. Neem contact op met Pillars als je hierover onvoldoende bent geinformeerd.
</div>

<h3>Persoonlijke Tests Maximale Score</h3>
<div class="ui divider"></div>
<h5>Pillars vragenlijsten versie 2</h5>
<div class="ui stackable grid">
  <div class="eight wide column">
    <h4 class="content">Pillars Overzicht Digitale Deskundigheid</h4>
    <div class="content"><%=standard.competence.podd ? standard.competence.podd.maxScore : 0%></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Digitale Deskundigheid Leerlingen</h4>
    <div class="content"><%=standard.competence.ddl ? standard.competence.ddl.maxScore : 0%></div>
  </div>
</div>
<div class="ui divider"></div>
<h5>Pillars vragenlijsten versie 1</h5>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">ICT Geletterdheid</h4>
    <div class="content"><%=standard.competence.ictSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Pedagogisch Didactisch Handelen</h4>
    <div class="content"><%=standard.competence.pedagogicalDidacticalSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Werken in schoolcontext</h4>
    <div class="content"><%=standard.competence.workInSchoolContext.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Persoonlijke Ontwikkeling</h4>
    <div class="content"><%=standard.competence.personalDevelopment.maxScore%></div>
  </div>
</div>
<div class="ui divider"></div>
<h5>Vragenlijsten Alpha Scholengroep</h5>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Instrumentele vaardigheden</h4>
    <div class="content"><%=standard.competence.instrumentalSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Informatievaardigheden</h4>
    <div class="content"><%=standard.competence.informationSkills.maxScore%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Mediavaardigheden</h4>
    <div class="content"><%=standard.competence.mediaSkills.maxScore%></div>
  </div>
</div>
<div class="ui divider"></div>
<h5>Overige vragenlijsten / meetinstrumenten (geen deskundigheidstests!)</h5>
<div class="ui stackable grid">
  <div class="four wide column">
    <h4 class="content">Observatieinstrument ICT gebruik</h4>
    <div class="content"><%=standard.competence.assessmentForm ? standard.competence.assessmentForm.maxScore : 0%></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Rubric</h4>
    <div class="content"><%=standard.competence.rubric ? standard.competence.rubric.maxScore : 0 %></div>
  </div>
</div>
