<h4 class="ui dividing header">2. Gezamenlijke Verantwoordelijke (indien van toepassing)</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Naam gezamelijke verwerkingsverantwoordelijke</h4> 
    <div class="content"><%= processingActivity.jointControllerName %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Adres</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationAddress %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Huisnummer</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationAddressNumber %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Postcode</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationPostalCode %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Plaatsnaam</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationCity %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Ondernemingsnummer</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationChamberOfCommerceNumber %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Juridische werkvorm</h4>
    <div class="content"><%= processingActivity.jointControllerOrganisationLegalForm %></div>
  </div>
</div>