<h4 class="ui dividing header">1. Verwerkingsverantwoordelijke</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Naam verwerkingsverantwoordelijke</h4> 
    <div class="content"><%= processingActivity.controllerName %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Adres</h4>
    <div class="content"><%= processingActivity.controllerOrganisationAddress %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Huisnummer</h4>
    <div class="content"><%= processingActivity.controllerOrganisationAddressNumber %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Postcode</h4>
    <div class="content"><%= processingActivity.controllerOrganisationPostalCode %></div>
  </div>
  <div class="four wide column">
    <h4 class="content">Plaatsnaam</h4>
    <div class="content"><%= processingActivity.controllerOrganisationCity %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Ondernemingsnummer</h4>
    <div class="content"><%= processingActivity.controllerOrganisationChamberOfCommerceNumber %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Juridische werkvorm</h4>
    <div class="content"><%= processingActivity.controllerOrganisationLegalForm %></div>
  </div>
</div>