<% include ../partials/school/header %>

<div class="ui container">
    <h2 class="ui header"><i class="user icon"></i> <%= onderdeel %> Profiel Aanpassen</h2>
    <form class="ui form" action="/user/<%=user._id%>/test" method="POST" id="profielTest">
        <% var i=0 %>
        <% Object.keys(global.profiel).forEach(function(key){ %>
            <%if(onderdeel==key){%>
              <% Object.keys(global.profiel[key]).forEach(function(subkey){ %>
                <h4 class="ui dividing header"><%=subkey%></h4>
                <%global.profiel[key][subkey].forEach(function(question){ %>
                  <div class="inline field">
                    <div class="ui toggle checkbox">
                      <input type="hidden" value="0" name="test[answers][<%=i%>]">
                      <input 
                        type="checkbox" 
                        name="test[answers][<%=i%>]"
                        value="1"
                      >
                      <label><%=question%></label>
                    </div>
                  </div>
                  <input type="hidden" name="test[questions][<%=i%>]" value="<%=question%>">
                  <% i++ %>
                <% }); %>
              <% }); %>
            <input type="hidden" name="test[subject]" value="<%=key%>">  
            <input type="hidden" name="test[result]" id="testResult">
            <%}%>
        <%});%>
        <button class="ui button" type="submit">Bewaar</button>
        <div class="ui error message"></div>
    </form>
</div>

<% include ../partials/school/footer %>