<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
  <h2 class="ui header">Test: <%=test.subject%></h2>
  <button class="ui labeled icon button" onclick="goBack()"><i class="left chevron icon"></i>Terug</button>

  <hr>

  <%=test.created.toJSON().slice(0,10).split('-').reverse().join('/')%>
  <hr>
  <div class="ui grid">
    <div class="four wide column"><strong>Gebruiker</strong></div>
    <div class="four wide column"><%=test.username%></div>
    <div class="four wide column"><strong>Resultaat</strong></div>
    <div class="four wide column"><%= Math.ceil(test.result * 100) %> %</div>
    <% for ( var i = 0; i < test.questions.length; i++) { %>
    <div class="one wide column"><%=i+1%>.</div>
    <div class="thirteen wide column"><%=test.questions[i]%></div>
    <%if(test.isMultipleChoice){%>
    <div class="two wide column"> <%if(test.answers[i]==1){%>
      Helemaal mee eens
      <%} else if(test.answers[i]==0.75) {%>
      Meer eens
      <%} else if(test.answers[i]==0.5) {%>
      Eens
      <%} else if(test.answers[i]==0.25) {%>
      Oneens
      <%}else{%>
      Nee
      <%}%></div>
      <%} else {%>
      <div class="two wide column"><%if(test.answers[i]){%>Ja<%}else{%>Nee<%}%></div>
      <%}%>
      <% } %>
    </div>
    <hr>
    <% if (user==="test_overview") { %>
    <a class="ui labeled icon button" href="/overview/tests">
      <% } else if (user==="desk_overview") { %>
      <a class="ui labeled icon button" href="#">
        <% } else { %>
        <a class="ui labeled icon button" href="/user/<%=user%>">
          <% } %>
          <i class="left chevron icon"></i>
          Terug
        </a>
      </div>

<% include ../partials/footer %>