<%- include('../partials/header') %>
<%- include('../partials/main-menu') %>
<%- include('../partials/flash-message') %>
<%- include('../partials/organisation-header') %>

<div class="ui container">
    <h2 class="ui center aligned header">
      <div>Normering</div>
    </h2>
    <%if(!isAdmin){%><a class="positive ui button right" href="/organisations/<%=organisation._id%>/standard/new">Normering Toevoegen</a><% } %>
    <!--divider and then all cards for standards-->
    <div class="ui divider"></div>
    <!-- placeholder if no standards -->
    <%if(standards.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen normeringen
        </div>
      </div>
    <%}%>
    <!--cards with standards-->
    <div class="ui three doubling cards">
      <% standards.forEach(function(standard){ %>
      <div class="card">
        <div class="content">
          <div class="header"><a href="/organisations/<%=organisation._id%>/standard/<%=standard._id%>"><%= standard.name %></a></div>
          <div class="description">
            <p>Datum: <%= standard.created.toJSON().slice(0,10).split('-').reverse().join('/') %></p>
            <%if(isAdmin){%><p><%=standard.organisation.name%></p><%}%>
          </div>
        </div>
        <a class="ui bottom attached button" href="/organisations/<%=organisation._id%>/standard/<%=standard._id%>">
          <i class="show icon"></i>
          Bekijk 
        </a>
      </div>
      <% }); %>
    </div>
</div>

<% include('../partials/organisation-footer') %>
<%- include('../partials/footer') %>